<!-- start .header-wrap -->

<header class="site-header site-header--modifed">

    <!-- start .header-wrap -->
    <div class="container site-header__content">

        <!-- start o-menu-button -->
        <div class="o-menu-button -right-border">
            <a href="#" class="o-menu-button__icon js-main-nav-toggle">
                <span class="top-bar"></span>
                <span class="middle-bar"></span>
                <span class="bottom-bar"></span>
            </a>
            <label class="menu-bar">
                {{#is language "en"}}
                MENU
                {{else}}
                القائمة
                {{/is}}

            </label>
        </div>


        <!-- end o-menu-button -->


        <!-- start - c-main-nav -->
        <nav role="navigation" class="c-main-nav t-personal">
            <!-- start - c-main-nav__content -->
            <div class="c-main-nav__content container">
                <!-- start - breadcrumb -->
                <div class="main-header-nav">
                    <div class="o-switch-button">

                        <div class="o-switch-button__backtext icon-arrow-down hidden">
                            <a href="#">
                                Back To <span id="backto-main-section"></span>
                            </a>
                        </div>
                        <a></a>
                        <ul class="nav-header">
                            <li class="o-close-button">
                                <a class="o-close-button__icon icon-close"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end - breadcrumb -->

                <div class="col-md-23 hidden-sm hidden-xs">
                    <!-- start - nav-lvl (main level navigation) -->
                    <ul class="nav-lvl -js-md-plus-visible-nav-lvl">

                        <li class="nav-lvl__item active-main is-active">
                            {{#is language "en"}}
                            <a href="index.html"><span>API</span> Marketplace</a>
                            {{else}}
                            <a href="index.html"><span>API</span> سوق واجهات برمجة التطبيقات</a>
                            {{/is}}
                        </li>
                    </ul>
                </div>
                <div class="col-md-25 nav-levels -js-sm-minus-visible-nav-levels">
                    <!-- start - nav-lvl01 (level 1 navigation) -->



                    <ul class="nav-lvl hidden-md hidden-lg hidden-xl" menu-level="1">
                        <li class="nav-lvl__item -active-business  active-main is-active">
                            <a href="#">
                                {{#is language "en"}}
                                API Marketplace
                                {{else}}
                                سوق واجهة برمجة التطبيقات API Marketplace
                                {{/is}}



                            </a>
                        </li>
                    </ul>

                    <ul class="nav-lvl01 is-business show">
                        {{!-- <li class="nav-lvl01__item o-comp-collapse hidden-md hidden-lg hidden-xl">
                            <a href="#" class="nav-lvl01__link">Home</a>
                            <!-- start - nav-lvl02 (level 2 navigation) -->
                            <!-- end - nav-lvl02 (level 2 navigation) -->
                        </li> --}}

                        <li class="nav-lvl01__item o-comp-collapse">
                            <a href="about.html" class="nav-lvl01__link -js-has-children">
                                {{#is language "en"}}
                                About
                                {{else}}
                                نبذة
                                {{/is}}
                            </a>
                            <!-- start - nav-lvl02 (level 2 navigation) -->
                            <ul class="nav-lvl02 o-comp-collapse__content ">
                                <li class="nav-lvl02__item ">
                                    <a class="nav-lvl02__link" href="about.html#introduction">
                                        {{#is language "en"}}
                                        Introduction
                                        {{else}}
                                        مقدمة
                                        {{/is}}

                                    </a>
                                </li>
                                <li class="nav-lvl02__item ">
                                    <a class="nav-lvl02__link" href="about.html#feature">
                                        {{#is language "en"}}
                                        Marketplace Benefits
                                        {{else}}
                                        مزايا API Marketplace
                                        {{/is}}


                                    </a>
                                </li>
                                <li class="nav-lvl02__item ">
                                    <a class="nav-lvl02__link" href="about.html#partners">
                                        {{#is language "en"}}
                                        Partners
                                        {{else}}
                                        شركاؤنا
                                        {{/is}}
                                    </a>
                                </li>

                            </ul>
                            <!-- end - nav-lvl02 (level 2 navigation) -->
                        </li>
                        <li class="nav-lvl01__item o-comp-collapse">
                            <a href="api-catalogue.html" class="nav-lvl01__link -js-has-children">
                                {{#is language "en"}}
                                API Catalogue
                                {{else}}
                                كتيّب واجهة برمجة التطبيقات API
                                {{/is}}

                            </a>
                            <!-- start - nav-lvl02 (level 2 navigation) -->
                            <ul class="nav-lvl02 o-comp-collapse__content ">
                                <li class="nav-lvl02__item ">
                                    <a class="nav-lvl02__link" href="touchpoints-api.html">
                                        {{#is language "en"}}
                                        TouchPoints APIs
                                        {{else}}
                                        واجهة برمجة التطبيقات API لمكافآت نقاط تاتش بوينتس
                                        {{/is}}

                                    </a>
                                </li>
                                <li class="nav-lvl02__item ">
                                    <a class="nav-lvl02__link" href="virtual-account-apis.html">
                                        {{#is language "en"}}
                                        Virtual Accounts APIs
                                        {{else}}
                                        واجهة برمجة التطبيقات API للحسابات الافتراضية
                                        {{/is}}
                                    </a>
                                </li>
                            </ul>
                            <!-- end - nav-lvl02 (level 2 navigation) -->
                        </li>
                        <li class="nav-lvl01__item o-comp-collapse">
                            <a href="https://sandbox.adcb.com/pages/apimarketplace/sign-up-now.html" class="nav-lvl01__link -js-has-children">
                                {{#is language "en"}}
                                Get Started
                                {{else}}
                                لنبدأ
                                {{/is}}
                            </a>
                            <!-- start - nav-lvl02 (level 2 navigation) -->
                            <ul class="nav-lvl02 o-comp-collapse__content ">
                                <li class="nav-lvl02__item ">
                                    <a class="nav-lvl02__link" href="https://sandbox.adcb.com/pages/apimarketplace/sign-up-now.html">
                                        {{#is language "en"}}
                                        Register
                                        {{else}}
                                        التسجيل
                                        {{/is}}
                                    </a>
                                </li>

                            </ul>
                            <!-- end - nav-lvl02 (level 2 navigation) -->
                        </li>
                        <li class="nav-lvl01__item o-comp-collapse">
                            <a href="support.html" class="nav-lvl01__link -js-has-children">
                                {{#is language "en"}}
                                Support
                                {{else}}
                                الدعم
                                {{/is}}
                            </a>
                            <!-- start - nav-lvl02 (level 2 navigation) -->
                            <ul class="nav-lvl02 o-comp-collapse__content ">
                                <li class="nav-lvl02__item ">
                                    <a class="nav-lvl02__link" href="support.html">
                                        {{#is language "en"}}
                                        FAQs
                                        {{else}}
                                        الأسئلة الأكثر تكراراً
                                        {{/is}}
                                    </a>
                                </li>
                                <li class="nav-lvl02__item ">
                                    <a class="nav-lvl02__link" href="contact.html">
                                        {{#is language "en"}}
                                        Contact Us
                                        {{else}}
                                        اتصل بنا
                                        {{/is}}
                                    </a>
                                </li>

                            </ul>
                            <!-- end - nav-lvl02 (level 2 navigation) -->
                        </li>
                    </ul>

                </div>

                <div class="nav-footer menu-footer-bar" style="">
                    <ul class="nav-footer__list">
                        <li><a href="terms-and-condition.html" class="nav-footer-item">
                                {{#is language "en"}}
                                Terms & Conditions
                                {{else}}
                                الأحكام والشروط
                                {{/is}}
                            </a></li>
                        <li><a href="privacy-notice.html" class="nav-footer-item hidden-sm hidden-xs">
                                {{#is language "en"}}
                                Privacy Notice
                                {{else}}
                                إشعار الخصوصية
                                {{/is}}
                            </a>
                        </li>


                        <!-- <li class="hidden-sm hidden-xs"><a class="nav-footer-item" href="">One more placeholder</a></li> -->
                    </ul>
                    <div class="nav-footer__languages">
                        <div class="language-links">
                            <a class="language-links__link" href="#"><span>
                                    {{#is language "en"}}
                                    عربي
                                    {{else}}
                                    English 
                                    {{/is}}

                            </span></a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>



        <!-- start o-site-logo -->  
        {{#is language "en"}}
            <a href="https://apimarketplace.adcb.com/en" id="_logoHome" class="o-site-logo" data-delay="5" data-anim="true" data-timing=".5" data-easing="ease-out">
        {{else}}
            <a href="https://apimarketplace.adcb.com/ar" id="_logoHome" class="o-site-logo" data-delay="5" data-anim="true" data-timing=".5" data-easing="ease-out">
        {{/is}}
        
        
            <span class="o-site-logo__text large-screen">
                <svg xmlns="http://www.w3.org/2000/svg" width="272.905" height="34" viewBox="0 0 272.905 34">
                    <g id="Group_3" data-name="Group 3" transform="translate(-758.239 -116.5)">
                        <g id="Group_1" data-name="Group 1" transform="translate(50.239 -72.613)">
                            <path id="Path_1" data-name="Path 1"
                                d="M161.25,372.959l-1.541,4.663H157.73l5.036-14.823h2.31l5.058,14.823h-2.045l-1.582-4.663Zm4.859-1.494-1.452-4.267c-.328-.967-.551-1.847-.769-2.707h-.044c-.22.882-.46,1.783-.747,2.685l-1.452,4.289Z"
                                transform="translate(550.27 -163.944)" fill="#fff" />
                            <path id="Path_2" data-name="Path 2"
                                d="M212.22,362.714a22.122,22.122,0,0,1,3.674-.276,6.093,6.093,0,0,1,4.156,1.232,3.983,3.983,0,0,1,1.3,3.1,4.363,4.363,0,0,1-1.141,3.167,6.143,6.143,0,0,1-4.531,1.626,6.737,6.737,0,0,1-1.541-.13v5.937H212.22Zm1.913,7.147a6.423,6.423,0,0,0,1.585.154c2.31,0,3.715-1.122,3.715-3.167,0-1.957-1.378-2.9-3.495-2.9a8.02,8.02,0,0,0-1.805.154Z"
                                transform="translate(510.798 -163.681)" fill="#fff" />
                            <path id="Path_3" data-name="Path 3" d="M258.173,362.8v14.823H256.26V362.8Z"
                                transform="translate(478.897 -163.944)" fill="#fff" />
                            <path id="Path_4" data-name="Path 4"
                                d="M305.288,371.124c-.11-2.067-.243-4.55-.221-6.4H305c-.5,1.739-1.122,3.583-1.869,5.631l-2.618,7.191h-1.45l-2.4-7.059c-.7-2.089-1.3-4-1.714-5.763h-.044c-.044,1.849-.154,4.333-.276,6.554l-.413,6.345H292.4l1.034-14.823h2.439l2.53,7.166c.615,1.825,1.119,3.453,1.494,4.991h.066c.375-1.494.9-3.123,1.563-4.991l2.638-7.166h2.459l.923,14.823h-1.869Z"
                                transform="translate(452.717 -163.944)" fill="#fff" />
                            <path id="Path_5" data-name="Path 5"
                                d="M358.23,372.959l-1.541,4.663H354.71l5.041-14.823h2.31l5.058,14.823h-2.045l-1.582-4.663Zm4.859-1.494-1.45-4.267c-.331-.967-.551-1.847-.772-2.707h-.044c-.218.882-.46,1.783-.747,2.685l-1.45,4.289Z"
                                transform="translate(407.581 -163.944)" fill="#fff" />
                            <path id="Path_6" data-name="Path 6"
                                d="M409.21,362.707a19.844,19.844,0,0,1,3.671-.309c2.045,0,3.365.375,4.289,1.21a3.69,3.69,0,0,1,1.166,2.814,3.9,3.9,0,0,1-2.795,3.784v.074c1.144.394,1.827,1.45,2.177,2.99a22.9,22.9,0,0,0,1.144,4.068h-1.979a19.317,19.317,0,0,1-.989-3.542c-.438-2.045-1.232-2.814-2.968-2.88h-1.8v6.422H409.21Zm1.913,6.747h1.957c2.045,0,3.343-1.119,3.343-2.814,0-1.913-1.378-2.756-3.409-2.77a7.835,7.835,0,0,0-1.891.176Z"
                                transform="translate(368.102 -163.652)" fill="#fff" />
                            <path id="Path_7" data-name="Path 7"
                                d="M453.72,362.8h1.916v7.147h.063c.4-.57.794-1.1,1.166-1.582L461.4,362.8h2.376l-5.366,6.29,5.788,8.544h-2.266l-4.881-7.279-1.406,1.626v5.653h-1.916Z"
                                transform="translate(335.86 -163.944)" fill="#fff" />
                            <path id="Path_8" data-name="Path 8"
                                d="M506.236,370.674h-5.763v5.341h6.422v1.607H498.56V362.8h7.993v1.607h-6.08v4.685h5.763Z"
                                transform="translate(303.378 -163.944)" fill="#fff" />
                            <path id="Path_9" data-name="Path 9"
                                d="M539.049,364.429H534.54V362.8h10.975v1.629h-4.531v13.194h-1.929Z"
                                transform="translate(277.315 -163.944)" fill="#fff" />
                            <path id="Path_10" data-name="Path 10"
                                d="M581.93,362.714a22.122,22.122,0,0,1,3.674-.276,6.093,6.093,0,0,1,4.156,1.232,3.983,3.983,0,0,1,1.3,3.1,4.362,4.362,0,0,1-1.141,3.167,6.143,6.143,0,0,1-4.531,1.626,6.735,6.735,0,0,1-1.541-.13v5.937H581.93Zm1.913,7.147a6.423,6.423,0,0,0,1.585.154c2.31,0,3.715-1.122,3.715-3.167,0-1.957-1.378-2.9-3.495-2.9a8.018,8.018,0,0,0-1.805.154Z"
                                transform="translate(242.987 -163.681)" fill="#fff" />
                            <path id="Path_11" data-name="Path 11" d="M626,362.8h1.913v13.216h6.339v1.607H626Z"
                                transform="translate(211.063 -163.944)" fill="#fff" />
                            <path id="Path_12" data-name="Path 12"
                                d="M664.677,372.959l-1.538,4.663H661.16L666.2,362.8H668.5l5.06,14.823h-2.045l-1.582-4.663Zm4.859-1.494-1.45-4.267c-.331-.967-.551-1.847-.769-2.707h-.044c-.22.882-.463,1.783-.75,2.684l-1.45,4.289Z"
                                transform="translate(185.594 -163.944)" fill="#fff" />
                            <path id="Path_13" data-name="Path 13"
                                d="M722.467,376.5a9.471,9.471,0,0,1-3.914.706c-4.178,0-7.323-2.64-7.323-7.5a7.376,7.376,0,0,1,7.739-7.786,7.92,7.92,0,0,1,3.52.661l-.452,1.566a7.016,7.016,0,0,0-2.993-.615c-3.473,0-5.788,2.221-5.788,6.113,0,3.627,2.089,5.959,5.694,5.959a7.683,7.683,0,0,0,3.123-.615Z"
                                transform="translate(149.324 -163.307)" fill="#fff" />
                            <path id="Path_14" data-name="Path 14"
                                d="M770,370.674h-5.763v5.341h6.422v1.607H762.32V362.8h7.993v1.607h-6.091v4.685h5.763Z"
                                transform="translate(112.315 -163.944)" fill="#fff" />
                        </g>
                        <line id="Line_1" data-name="Line 1" y2="34" transform="translate(944.783 116.5)" fill="none"
                            stroke="#fff" stroke-miterlimit="10" stroke-width="1.2" />
                        <g id="Group_2" data-name="Group 2" transform="translate(34.222 -69.5)">
                            <path id="Path_27" data-name="Path 27"
                                d="M948.623,327.566c-.136,0-.3-.039-.3-.11v-.94c0-.065.162-.11.3-.11h.847c.288,0,.362,0,.362-.3v-1.441c0-.372,0-.782-.019-1.218a.171.171,0,0,1,.184-.171h.763a.174.174,0,0,1,.2.171c0,.391.02.672.02.937v1.205c0,.772,0,1.293-.036,1.616a.324.324,0,0,1-.21.265,8.112,8.112,0,0,1-1.461.1Zm.527,1a.21.21,0,0,1,.21-.207h.7a.22.22,0,0,1,.226.207v.727a.216.216,0,0,1-.226.191h-.7a.21.21,0,0,1-.21-.191Zm-3.855-1c-.136,0-.3-.039-.3-.11v-.94c0-.065.165-.11.3-.11h.853c.207,0,.527-.029.527-.323v-2.621a.171.171,0,0,1,.181-.174h.788a.168.168,0,0,1,.171.174v2.776c.074.126.43.155.591.155h.216v1.163h-.107a2.12,2.12,0,0,1-1.293-.323,2.336,2.336,0,0,1-1.251.323Zm1.37-5.817a.213.213,0,0,1,.216-.21h.734a.2.2,0,0,1,.2.21v.708a.2.2,0,0,1-.21.2H946.9a.2.2,0,0,1-.217-.2ZM938.8,324.69c.1,0,.155.055.155.171v.41c0,.869.433,1.125,1.642,1.125h2.2c.217,0,.517-.029.517-.323v-5.226a.184.184,0,0,1,.181-.191h.818a.184.184,0,0,1,.181.191v5.4c.074.126.4.155.572.155h.236v1.163h-.11a2.718,2.718,0,0,1-1.251-.255,2.533,2.533,0,0,1-1.254.255h-2.288c-1.939,0-2.514-.717-2.514-1.981a4.177,4.177,0,0,1,.055-.708c.036-.136.074-.181.191-.181Zm1.293-.734c0-.074.055-.11.165-.11h.136a1.09,1.09,0,0,1-.116-.507c0-.591.372-.908,1.024-.908a1.809,1.809,0,0,1,.452.052.142.142,0,0,1,.12.155v.323c0,.084-.036.12-.12.12s-.291-.019-.362-.019a.355.355,0,0,0-.407.381.481.481,0,0,0,.142.375h.675q.165,0,.165.126v.372c0,.081-.055.126-.165.126h-1.551c-.11,0-.165-.045-.165-.126Zm-6.4-2.611c-.1,0-.145-.039-.145-.11v-.265c0-.061.042-.09.145-.09h.171a.918.918,0,0,1-.146-.517c0-.507.3-.763.908-.763a1.585,1.585,0,0,1,.427.055.093.093,0,0,1,.1.09v.246c0,.065-.036.09-.12.09H934.7c-.323,0-.456.1-.456.365a.488.488,0,0,0,.191.427h.646c.1,0,.145.026.145.09v.271c0,.071-.045.11-.145.11Zm.162.753a.174.174,0,0,1,.181-.181h.818a.174.174,0,0,1,.181.181v5.271a.184.184,0,0,1-.181.194h-.8a.184.184,0,0,1-.181-.194Zm-4.039,5.465c-.136,0-.3-.039-.3-.11v-.937c0-.065.162-.11.3-.11h.937c.288,0,.362,0,.362-.3V324.69c0-.372,0-.779-.019-1.215a.171.171,0,0,1,.184-.174h.759a.178.178,0,0,1,.2.174c0,.388.019.672.019.934v1.18c0,.772,0,1.293-.039,1.616a.323.323,0,0,1-.207.265,8.139,8.139,0,0,1-1.461.1Zm.617,1a.21.21,0,0,1,.21-.207h.7a.223.223,0,0,1,.229.207v.727a.223.223,0,0,1-.229.191h-.7a.21.21,0,0,1-.21-.191Zm-4.974.284q0-.155.165-.155h.824c.944,0,1.445-.165,1.445-.853v-.271h-.646a1.858,1.858,0,0,1-2.107-2v-.184a2.126,2.126,0,0,1,2.433-2.24,5.269,5.269,0,0,1,1.335.152c.116.048.155.074.155.175V326.4h.785v1.163h-.818v.307c-.116,1.49-1.089,1.852-2.333,1.852a8.215,8.215,0,0,1-1.089-.045c-.116-.029-.145-.074-.145-.171Zm.808-3.422c0,.688.281,1.015.969,1.015h.672v-2.214a5.129,5.129,0,0,0-.556-.026,1,1,0,0,0-1.089,1.105Zm-5.946-4.124a.213.213,0,0,1,.22-.207h.717a.2.2,0,0,1,.2.207v.711a.2.2,0,0,1-.207.2h-.708a.2.2,0,0,1-.22-.2Zm-3.878,5.264a.168.168,0,0,1,.181-.162H917.8v-5.552a.178.178,0,0,1,.181-.191h.824a.178.178,0,0,1,.175.191v2.76a3.815,3.815,0,0,1,1.994-.491c1.555,0,2.553.646,2.553,2.433v.372a7.048,7.048,0,0,1-.12,1.325.323.323,0,0,1-.291.262c-.323.048-1.687.048-2.2.048h-4.292a.168.168,0,0,1-.181-.165Zm5.765-.136c.152,0,.181-.1.181-.6v-.136c0-1.108-.517-1.461-1.706-1.461a3.228,3.228,0,0,0-1.7.391v1.787c.281,0,.624.016,1.089.016Zm-14.013-.766a8.226,8.226,0,0,1,.116-1.2c.019-.12.084-.181.184-.181h.7c.116,0,.162.055.155.171-.029.265-.045.562-.045.737,0,1.26.207,2.2,1.832,2.2a5.893,5.893,0,0,0,.843-.055c.029-.608.029-.889.029-1.38v-.8c0-1.38.834-2.013,2.33-2.013a7.576,7.576,0,0,1,1.309.116c.1.029.155.065.155.181v2.643c0,.262.1.323.417.323h.417v1.163h-.717c-.834,0-1.27-.2-1.27-1.144v-2.175a2.357,2.357,0,0,0-.446-.039c-.688,0-1.044.265-1.044,1.063v1.5c0,.436,0,1-.036,1.425,0,.11-.065.174-.2.2a11.927,11.927,0,0,1-1.813.136c-2.081,0-2.908-.989-2.908-2.866Zm1.461,3.684a.2.2,0,0,1,.21-.191h.608a.194.194,0,0,1,.207.191v.646a.207.207,0,0,1-.207.181h-.6a.2.2,0,0,1-.21-.181Zm1.69,0a.194.194,0,0,1,.2-.191h.614a.194.194,0,0,1,.2.191v.646a.2.2,0,0,1-.2.181h-.614a.2.2,0,0,1-.2-.181Zm-7.152-8.506a.175.175,0,0,1,.181-.181h.814a.178.178,0,0,1,.184.181v6.534a.187.187,0,0,1-.184.194h-.814a.184.184,0,0,1-.181-.194Zm-3.787,5.678c0-.065.165-.11.3-.11h.8c.291,0,.356,0,.356-.3v-5.258a.184.184,0,0,1,.181-.191h.827a.175.175,0,0,1,.171.191v5.274a8.632,8.632,0,0,1-.045,1.079.323.323,0,0,1-.21.265,8.6,8.6,0,0,1-1.5.1H900.7c-.136,0-.3-.039-.3-.11Zm-3.322,0c0-.065.165-.11.3-.11h.843c.21,0,.527-.029.527-.323v-2.621a.171.171,0,0,1,.184-.174h.789a.168.168,0,0,1,.171.174v2.776c.074.126.427.155.591.155h.216v1.163h-.11a2.117,2.117,0,0,1-1.293-.323,2.343,2.343,0,0,1-1.254.323h-.672c-.136,0-.3-.039-.3-.11Zm.857-4.767a.213.213,0,0,1,.216-.21h.627a.223.223,0,0,1,.226.21v.708a.226.226,0,0,1-.226.2h-.627a.21.21,0,0,1-.216-.2Zm1.677,0a.223.223,0,0,1,.217-.21h.646a.207.207,0,0,1,.21.21v.708a.2.2,0,0,1-.21.2h-.646a.22.22,0,0,1-.217-.2Zm-7.733,5.817c-.145,0-.3-.065-.3-.11v-.94c0-.065.162-.11.3-.11h3.949l-.427-.944a2.085,2.085,0,0,0-2.123-1.26c-.084,0-.355,0-.491.016s-.191-.036-.191-.145V323.4c0-.091.065-.145.181-.171a4.042,4.042,0,0,1,.889-.081,3.019,3.019,0,0,1,3.005,2.168c.191.436.365.869.427.969a.217.217,0,0,0,.21.126h.09v1.163Zm1.907,1a.21.21,0,0,1,.207-.207h.7a.22.22,0,0,1,.226.207v.727a.22.22,0,0,1-.226.191h-.7a.207.207,0,0,1-.207-.191Zm-3.878-7.724a.184.184,0,0,1,.191-.181h.808a.171.171,0,0,1,.181.181v5.1c0,.407.174.462.511.462h.3v1.163h-.646c-.827,0-1.354-.22-1.354-1.293Zm-3.749,8.015c0-.09.055-.136.155-.136h.191c.682,0,.924-.065.924-.808v-4.437a.171.171,0,0,1,.181-.175h.792a.168.168,0,0,1,.171.175v4.3a2.735,2.735,0,0,1-.207,1.244,1.49,1.49,0,0,1-1.506.708,4.133,4.133,0,0,1-.572-.029.152.152,0,0,1-.129-.171Zm-7.985-3.193a7.8,7.8,0,0,1,.126-1.2c.026-.136.055-.181.191-.181h.7c.1,0,.155.055.155.171-.029.265-.055.562-.055.737,0,1.26.207,2.2,1.836,2.2a5.935,5.935,0,0,0,.844-.055c.026-.608.026-.889.026-1.38v-.8c0-1.39.827-2.013,2.388-2.013a7.069,7.069,0,0,1,1.293.116c.1.029.152.065.152.181v3.93a.181.181,0,0,1-.181.194h-.8a.178.178,0,0,1-.171-.194v-3.119a3.088,3.088,0,0,0-.482-.039c-.692,0-1.044.265-1.044,1.063v1.5c0,.436,0,1-.039,1.425,0,.11-.061.174-.2.2a12.077,12.077,0,0,1-1.816.136c-2.078,0-2.908-.989-2.908-2.866Zm1.47,3.684a.191.191,0,0,1,.207-.191h.6a.191.191,0,0,1,.21.191v.646a.2.2,0,0,1-.21.181h-.6a.2.2,0,0,1-.207-.181Zm1.677,0a.2.2,0,0,1,.21-.191h.617a.194.194,0,0,1,.2.191v.646a.2.2,0,0,1-.2.181h-.617a.2.2,0,0,1-.21-.181Zm23.872,3.012h-5.7c-.171,0-.646.165-.646.908v17.49c0,.814.646.814.646.814h5.685c5.736,0,9.695-3.584,9.695-9.556,0-6.082-3.965-9.65-9.695-9.65Zm-.323,16.856h-3.442V334.7h3.413c4.382,0,7.132,2.614,7.132,7.307,0,4.592-2.75,7.207-7.132,7.207Zm29.615-1.806c-.216-.391-.562-.226-.779,0a8.27,8.27,0,0,1-5.355,1.939c-4.221,0-7.135-3.387-7.135-7.533a6.914,6.914,0,0,1,6.971-7.252,8.452,8.452,0,0,1,4.826,1.515c.693.418.848.418,1.255,0,.216-.41.553-.97.553-.97s.4-.543,0-.824a11.571,11.571,0,0,0-6.635-2.172,9.486,9.486,0,0,0-9.721,9.7c0,5.581,3.949,9.957,9.721,9.957a10.732,10.732,0,0,0,7.035-2.569c.417-.262.246-.507.081-.834a8.613,8.613,0,0,0-.818-.969Zm14.423-5.991a4.211,4.211,0,0,0,2.514-4.1c0-3.186-2.349-4.957-5.662-4.957h-5.846c-.708,0-.872.746-.872.908v17.49c0,.242,0,.814.872.814h6c3.406,0,6.14-1.787,6.14-5.516a4.8,4.8,0,0,0-3.161-4.631ZM941.8,334.7h3.969a2.771,2.771,0,0,1,2.908,2.941,2.72,2.72,0,0,1-2.908,2.805H941.8Zm4.285,14.513H941.8v-6.563h4.285a3.084,3.084,0,0,1,3.232,3.322,2.982,2.982,0,0,1-3.232,3.232Zm-57.417-15.948c-.271-.582-.4-.908-1.234-.908h-1.616a1.124,1.124,0,0,0-1.209.908c-.171.462-6.887,17.726-6.887,17.726a.585.585,0,0,0,.646.572h1.716a.669.669,0,0,0,.553-.407l1.861-5.109h8.276l1.842,5.109a.646.646,0,0,0,.566.407H894.8c.7,0,.7-.572.7-.572s-6.673-17.264-6.854-17.726Zm-5.336,10.61,1.913-5.352,1.39-3.487,1.351,3.487,1.878,5.352ZM914.8,328.561a.21.21,0,0,1,.207-.207h.7a.22.22,0,0,1,.226.207v.727a.22.22,0,0,1-.226.191H915a.207.207,0,0,1-.207-.191Z"
                                transform="translate(44.87 -133.6)" fill="#fff" />
                        </g>
                    </g>
                </svg>
            </span>
            <span class="o-site-logo__text mobile-screens">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 32">
                    <g class="text">
                        <path
                            d="M68.2 9.4c0-.1.1-.2.2-.2h.7c.1 0 .2.1.2.2v.7c0 .1-.1.2-.2.2h-.7c-.1 0-.2-.1-.2-.2v-.7zM65.9 3c0-.1.1-.2.2-.2h.7c.1 0 .2.1.2.2v.7c0 .1-.1.2-.2.2h-.7c-.1 0-.2-.1-.2-.2V3z">
                        </path>
                        <path
                            d="M69.9 4.6c0-.1-.1-.2-.2-.2H69c-.1 0-.2.1-.2.2v2.5c0 .3-.1.3-.3.3h-1c-.2 0-.5 0-.6-.1V4.6c0-.1-.1-.2-.2-.2H66c-.1 0-.2.1-.2.2v2.5c0 .3-.3.3-.5.3h-1c-.2 0-.5 0-.5-.1V2.1c0-.1-.1-.2-.2-.2h-.8c-.1 0-.2.1-.2.2V7c0 .3-.3.3-.5.3H60c-1.1 0-1.5-.2-1.5-1.1v-.4c0-.1-.1-.2-.1-.2h-.6c-.1 0-.1 0-.2.2 0 .2-.1.6-.1.7 0 1.2.5 1.9 2.4 1.9h2.2c.4 0 .9 0 1.2-.2.3.2.8.2 1.2.2h.7c.4 0 .9-.1 1.2-.3.3.2.8.3 1.2.3h.7c.5 0 1.1 0 1.4-.1.1-.1.2-.1.2-.2V5.4v-.8z">
                        </path>
                        <path
                            d="M59.7 5.1c0-.1 0-.1.2-.1h.1c-.1-.1-.1-.3-.1-.5 0-.6.3-.9 1-.9.1 0 .3 0 .4.1.1 0 .1.1.1.1v.3c0 .1 0 .1-.1.1H61c-.3 0-.4.1-.4.4 0 .2.1.3.1.4h.6c.1 0 .2 0 .2.1v.4h-1.7c-.1 0-.2 0-.2-.1v-.3h.1zM53.7 2.6c-.1 0-.1 0-.1-.1v-.3c0-.1 0-.1.1-.1h.2c-.1-.1-.1-.3-.1-.5 0-.5.3-.7.9-.7.1 0 .3 0 .4.1.1 0 .1 0 .1.1v.2c0 .1 0 .1-.1.1h-.3c-.3 0-.4.1-.4.3s.1.3.2.4h.4c.1 0 .1 0 .1.1v.3c0 .1 0 .1-.1.1h-1.3zM53.8 3.3c0-.1.1-.2.2-.2h.8c.1 0 .2.1.2.2v5c0 .1-.1.2-.2.2H54c-.1 0-.2-.1-.2-.2v-5zM50.6 9.4c0-.1.1-.2.2-.2h.7c.1 0 .2.1.2.2v.7c0 .1-.1.2-.2.2h-.7c-.1 0-.2-.1-.2-.2v-.7zM52.3 4.6c0-.1-.1-.2-.2-.2h-.7c-.1 0-.2.1-.2.2V7c0 .3-.1.3-.3.3h-1.6V4.6c0-.1 0-.1-.1-.2-.2-.1-.8-.1-1.3-.1-1.5 0-2.3.8-2.3 2.1v.2c0 1.2.7 1.9 2 1.9h.6v.3c0 .6-.5.8-1.4.8H46c-.1 0-.2.1-.2.1v.6c0 .1 0 .1.1.2h1c1.2 0 2.1-.3 2.2-1.7v-.4h1.6c.5 0 1.1 0 1.4-.1.1-.1.2-.1.2-.2V5.5v-.9zm-4.1 2.8h-.6c-.6 0-.9-.3-.9-1v-.1c0-.7.4-1 1-1h.5v2.1zM41.3 3.4h.7c.1 0 .2-.1.2-.2v-.6c0-.1-.1-.2-.2-.2h-.7c-.1 0-.2.1-.2.2v.7s.1.1.2.1z">
                        </path>
                        <path
                            d="M41.7 4.3c-.4 0-1.3.1-1.9.5V2.1c0-.1-.1-.2-.2-.2h-.8c-.1 0-.2.1-.2.2v5.2h-1.5c-.3 0-.4-.1-.4-.3V4.6c0-.1 0-.1-.1-.2-.3-.1-.8-.1-1.2-.1-1.4 0-2.2.6-2.2 1.9v2.1c-.2 0-.5.1-.8.1-1.5 0-1.7-.9-1.7-2.1v-.7c0-.1 0-.2-.1-.2H30c-.1 0-.2.1-.2.2-.1.4-.1.9-.1 1.1 0 1.8.8 2.7 2.7 2.7.6 0 1.2-.1 1.7-.1.1 0 .2-.1.2-.2V6.3c0-.8.3-1 1-1h.4v2c0 .9.4 1.1 1.2 1.1H43.7c.2 0 .2-.1.3-.2.1-.3.1-.9.1-1.2v-.4c0-1.7-.9-2.3-2.4-2.3zm1.4 2.5c0 .5 0 .6-.2.6h-3V5.7c.4-.3 1.2-.4 1.6-.4 1.1 0 1.6.3 1.6 1.4v.1zM31.1 10.1c0-.1.1-.2.2-.2h.6c.1 0 .2.1.2.2v.6c0 .1-.1.2-.2.2h-.6c-.1 0-.2-.1-.2-.2v-.6zM32.7 10.1c0-.1.1-.2.2-.2h.6c.1 0 .2.1.2.2v.6c0 .1-.1.2-.2.2h-.6c-.1 0-.2-.1-.2-.2v-.6zM26 2.1c0-.1.1-.2.2-.2h.8c.1 0 .2.1.2.2v6.1c0 .1-.1.2-.2.2h-.8c-.2 0-.2 0-.2-.1V2.1zM20.1 3c0-.1.1-.2.2-.2h.6c.1 0 .2.1.2.2v.7c0 .1-.1.2-.2.2h-.6c-.1 0-.2-.1-.2-.2V3zM21.6 3c0-.1.1-.2.2-.2h.6c.1 0 .2.1.2.2v.7c0 .1-.1.2-.2.2h-.6c-.1 0-.2-.1-.2-.2V3zM16.2 9.4c0-.1.1-.2.2-.2h.6c.1 0 .2.1.2.2v.7c0 .1-.1.2-.2.2h-.7c-.1 0-.2-.1-.2-.2v-.7h.1z">
                        </path>
                        <path
                            d="M24.7 2h-.8c-.1 0-.2.1-.2.2v4.9c0 .3-.1.3-.3.3h-1c-.2 0-.5 0-.6-.1V4.6c0-.1-.1-.2-.2-.2H21c-.1 0-.2.1-.2.2v2.5c0 .3-.3.3-.5.3h-.9c-.1 0-.1 0-.2-.1s-.2-.5-.4-.9c-.7-1.5-1.6-2-2.8-2-.3 0-.6 0-.8.1-.1 0-.2.1-.2.2v.6c0 .1.1.1.2.1h.5c1.1 0 1.7.5 2 1.2l.4.9h-4c-.3 0-.5-.1-.5-.4v-5c0-.1-.1-.2-.2-.2h-.8c-.1 0-.2.1-.2.2v5.1c0 1 .5 1.2 1.3 1.2H20.1c.4 0 .9-.1 1.2-.3.3.2.8.3 1.2.3h.6c.5 0 1.2 0 1.4-.1.1-.1.2-.1.2-.2v-6c.2-.1.1-.1 0-.1zM9 9.7c0-.1 0-.2.1-.2h.2c.6 0 .9-.1.9-.8V4.6c0-.1.1-.2.2-.2h.7c.1 0 .2.1.2.2v4c0 .4 0 .8-.2 1.2-.3.5-.7.7-1.5.7h-.5c-.1-.1-.1-.1-.1-.2v-.6zM1.5 6.7c0-.3.1-.8.1-1.1 0-.1.1-.2.2-.2h.7c.1 0 .1.1.1.2v.7c0 1.2.2 2.1 1.7 2.1.3 0 .6 0 .8-.1V6.2c0-1.3.8-1.9 2.2-1.9.4 0 .9 0 1.2.1.1 0 .1.1.1.2v3.7c0 .1-.1.2-.2.2h-.7c-.1 0-.2-.1-.2-.2v-3h-.4c-.6 0-1 .2-1 1V9c0 .1-.1.2-.2.2-.4.1-1.1.1-1.7.1-1.9 0-2.7-.9-2.7-2.6M2.9 10.1c0-.1.1-.2.2-.2h.6c.1 0 .2.1.2.2v.6c0 .1-.1.2-.2.2h-.6c-.1 0-.2-.1-.2-.2v-.6zM4.4 10.1c0-.1.1-.2.2-.2h.6c.1 0 .2.1.2.2v.6c0 .1-.1.2-.2.2h-.6c-.1 0-.2-.1-.2-.2v-.6zM54.4 27.1c-.2-.4-.5-.2-.7 0-.8.7-2.6 1.8-5 1.8-4 0-6.7-3.2-6.7-7.1 0-3.7 2.6-6.8 6.6-6.8 2.1 0 3.6.8 4.5 1.4.6.4.8.4 1.2 0 .2-.4.5-.9.5-.9s.4-.5 0-.8c-.9-.6-3-2-6.2-2-5.3 0-9.1 4-9.1 9.1 0 5.2 3.7 9.4 9.1 9.4 3.5 0 5.7-1.7 6.6-2.4.4-.2.2-.5.1-.8-.2-.1-.6-.6-.9-.9M68 21.5c1.5-.6 2.4-2 2.4-3.9 0-3-2.2-4.7-5.3-4.7h-5.5c-.7 0-.8.7-.8.9v16.4c0 .2 0 .8.8.8h5.6c3.2 0 5.8-1.7 5.8-5.2-.1-1.9-1.2-3.7-3-4.3zm-6.7-6.3H65c1.7 0 2.7 1.2 2.7 2.8 0 1.5-1.1 2.6-2.7 2.6h-3.7v-5.4zm4 13.6h-4v-6.2h4c1.9 0 3 1.3 3 3.1 0 1.9-1.1 3.1-3 3.1zM26.9 12.9h-5.3c-.2 0-.6.2-.6.9v16.4c0 .8.6.8.6.8h5.3c5.4 0 9.1-3.4 9.1-9 0-5.7-3.7-9.1-9.1-9.1zm-.3 15.9h-3.2V15.2h3.2c4.1 0 6.7 2.5 6.7 6.9 0 4.2-2.6 6.7-6.7 6.7zM10.2 12.9H8.7c-.7 0-.9.3-1.1.9-.2.4-6.5 16.7-6.5 16.7s0 .5.6.5h1.6c.4 0 .5-.4.5-.4l1.7-4.8h7.8l1.7 4.8s.2.4.5.4H17c.7 0 .7-.5.7-.5s-6.3-16.2-6.4-16.7c-.2-.5-.3-.9-1.1-.9zM6.3 23.8l1.8-5 1.4-3.3 1.3 3.3 1.8 5H6.3zM35.9 9.4c0-.1.1-.2.2-.2h.7c.1 0 .2.1.2.2v.7c0 .1-.1.2-.2.2h-.7c-.1 0-.2-.1-.2-.2v-.7z">
                        </path>
                    </g>
                </svg>
            </span>
            <span class="o-site-logo__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 32">
                    <g class="text">
                        <path
                            d="M28.9 16c0-1.9-1.4-2.8-3.4-4.3S20.1 8.1 18 6.9c-2-1.2-5.3-3-7.6-4.1C8.1 1.7 6.2 1 5.1 1s-1.9.3-2.4 1.1c-.6.7-.9 1.7-1.1 3-.2 1.4-.4 3-.4 4.8-.1 1.8-.1 6.1-.1 6.1s0 4.3.1 6.1c.1 1.8.2 3.4.4 4.7.2 1.3.5 2.4 1.1 3.1.5.8 1.3 1.1 2.4 1.1s3-.7 5.3-1.8 5.6-2.9 7.6-4.1c2-1.2 5.5-3.4 7.5-4.8 2-1.5 3.4-2.4 3.4-4.3">
                        </path>
                    </g>
                    <g class="icon">
                        <path
                            d="M25.8 13.7h-.4c-.2 0-.4.2-.4.4V18c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4v-3.9c0-.2-.2-.4-.4-.4m-13.1-1.2h.4c.2 0 .4-.2.4-.4V6c0-.2-.2-.4-.4-.4h-.4c-.2 0-.4.2-.4.4v6.2c0 .2.2.3.4.3m3.9 10.4h-.4c-.2 0-.4.2-.4.4v.4c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4v-.4c0-.2-.2-.4-.4-.4M3.5 10.2h5.1c.2 0 .4-.2.4-.4V7.9h1.9c.2 0 .4-.2.4-.4V4.8c0-.2-.2-.4-.4-.4h-.4c-.2 0-.4.2-.4.4v1.9H8.9v-3c0-.2-.2-.4-.4-.4H5.8c-.2 0-.4.2-.4.4v3.9c0 .2.2.4.4.4h1.9v1.2H4.2V4.8c0-.2-.2-.4-.4-.4h-.3c-.2 0-.4.2-.4.4v5c0 .3.2.4.4.4m4.2-3.4H6.6V4.5h1.2v2.3zm15.8 5.7h-.4c-.2 0-.4.2-.4.4v5.4h-2c-.2 0-.4.2-.4.4v1.9h-1.2v-1.9c0-.2-.2-.4-.4-.4H15c-.2 0-.4.2-.4.4v.4c0 .2.2.4.4.4h3.1v1.2h-4.6v-3.5h3.1c.2 0 .4-.2.4-.4v-.4c0-.2-.2-.4-.4-.4h-3.9c-.2 0-.4.2-.4.4v5c0 .2.2.4.4.4h5.4v.8c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4v-.8h1.9c.2 0 .4-.2.4-.4v-1.9h2c.2 0 .4-.2.4-.4v-6.2c-.1-.2-.3-.4-.5-.4m-9.2 10.4h-2.7c-.2 0-.4.2-.4.4v1.9h-7V24h5.4c.2 0 .4-.2.4-.4v-.4c0-.2-.2-.4-.4-.4H3.5c-.2 0-.4.2-.4.4V26c0 .2.2.4.4.4H12c.2 0 .4-.2.4-.4v-1.9h1.2v.8c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4v-1.6c-.2-.2-.3-.4-.5-.4M5 27.6h-.4c-.2 0-.4.2-.4.4v.4c0 .2.2.4.4.4H5c.2 0 .4-.2.4-.4V28c0-.3-.2-.4-.4-.4m2.3 0h-.4c-.2 0-.4.2-.4.4v.4c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4V28c0-.3-.1-.4-.4-.4m-3.8-7c-.2 0-.4.2-.4.4v.4c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4V21c0-.2-.2-.4-.4-.4m1.9 0c-.2 0-.4.2-.4.4v.4c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4V21c0-.2-.2-.4-.4-.4m1.5.4v.4c0 .2.2.4.4.4h2.7c.2 0 .4-.2.4-.4v-5c0-.2-.2-.4-.4-.4h-.4c-.2 0-.4.2-.4.4v4.3H8.1c-.2-.1-.4.1-.4.3">
                        </path>
                        <path
                            d="M18.5 16c-.2 0-.4.2-.4.4v.4c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4v-.4c0-.2-.2-.4-.4-.4m-1.6-6.9h.4c.2 0 .4-.2.4-.4v-.4c0-.2-.2-.4-.4-.4h-.4c-.2 0-.4.2-.4.4v.4c.1.2.2.4.4.4m-6.5 0h-.4c-.2 0-.4.2-.4.4v.4c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4v-.5c0-.2-.2-.3-.4-.3m-2.3 4.6h-.4c-.2 0-.4.2-.4.4v.4c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4v-.4c0-.2-.2-.4-.4-.4M21.2 16h-.4c-.2 0-.4.2-.4.4v.4c0 .2.2.4.4.4h.4c.2 0 .4-.2.4-.4v-.4c0-.2-.2-.4-.4-.4">
                        </path>
                        <path
                            d="M3.5 19.5h5.1c.2 0 .4-.2.4-.4v-2.7c0-.2-.2-.4-.4-.4h-2v-3.5H10v1.9c0 .2.2.4.4.4h10.8c.2 0 .4-.2.4-.4v-3.9c0-.2-.2-.4-.4-.4h-2.7c-.2 0-.4.2-.4.4v.8h-2.3V7.1c0-.2-.2-.4-.4-.4H15c-.2 0-.4.2-.4.4v6.6h-3.5v-1.9c0-.2-.2-.4-.4-.4h-5c-.2 0-.4.2-.4.4v5.1c0 .2.2.4.4.4h1.9v1.2H4.2v-6.6c0-.2-.2-.4-.4-.4h-.3c-.2 0-.4.2-.4.4v7.4s.2.2.4.2m12.3-7h3.5v-1.2h1.2v2.3h-4.6v-1.1z">
                        </path>
                    </g>
                </svg>
            </span>
        </a>
        <!-- end o-site-logo -->   

        <!-- start - c-quick-links -->
        <ul class="c-quick-links">
            <li class="c-quick-links__item lang-ar hidden-xs hidden-sm"><a href="#" id="_switchLang"
                    class="c-quick-links__link lang-switch">
                    {{#is language "en"}}
                    عربي
                    {{else}}
                    English
                    {{/is}}
                </a></li>

            <li class="c-quick-links__item hidden-md hidden-lg hidden-xl  c-quick-login ">
                <a class="o-btn" href="#.">
                    {{#is language "en"}}
                    Login
                    {{else}}
                    تسجيل الدخول
                    {{/is}}
                </a>
            </li>
            <li class="c-quick-links__item hidden-sm hidden-xs  c-quick-login ">
                <a class="o-btn c-quick-links__link" href="https://sandbox.adcb.com/pages/apimarketplace/login.html">
                    {{#is language "en"}}
                    Login
                    {{else}}
                    تسجيل الدخول
                    {{/is}}
                </a>
            </li>
        </ul>
        <!-- end - c-quick-links -->
    </div>
    <!-- end .header-wrap -->
</header>
<!-- end .header-wrap -->