<section class="features features--counter-2">

  <div class="container">
    <div id="item1" class="c-product-feature__list horizontal-scroll--list">
      <div class="c-product-feature__item">
        <!-- start personal-card component -->
        <div class="c-feature-card">
          <div class="c-feature-card__promotional-value">
            {{#is language "en"}}
            One
            {{else}}
            واحد
            {{/is}}
          </div>
          <div class="c-feature-card__details">
            <p class="c-feature-card__summary ">
              {{#is language "en"}}
              of the largest banks in the UAE
              {{else}}
              من أكبر البنوك في دولة الإمارات
              {{/is}}
            </p>
          </div>
        </div>
        <!-- end personal-card component -->
      </div>
      <div class="c-product-feature__item">
        <!-- start personal-card component -->

        <div class="c-feature-card">
          <div class="c-feature-card__promotional-value">
            {{#is language "en"}}
            <span class="-left">Over</span> 1M
            {{else}}
            <span class="-left">أكثر من </span> مليون
            {{/is}}
          </div>
          <div class="c-feature-card__details">
            <p class="c-feature-card__summary ">
              {{#is language "en"}}
              Customers
              {{else}}
              عميل
              {{/is}}
            </p>
          </div>
        </div>
        <!-- end personal-card component -->
      </div>
      <div class="c-product-feature__item">
        <!-- start personal-card component -->
        <div class="c-feature-card">
          <div class="c-feature-card__promotional-value">
            {{#is language "en"}}
            500+
            {{else}}
            <span class="-left">أكثر من </span> 500
            {{/is}}
          </div>
          <div class="c-feature-card__details">
            <p class="c-feature-card__summary ">
              {{#is language "en"}}
              Merchant tie-ups
              {{else}}
              شراكة تجارية
              {{/is}}
            </p>
          </div>
        </div>
        <!-- end personal-card component -->
      </div>
      <div class="c-product-feature__item">
        <!-- start personal-card component -->
        <div class="c-feature-card">
          <div class="c-feature-card__promotional-value">
            {{#is language "en"}}
            170M
            {{else}}
            170 مليون
            {{/is}}
          </div>
          <div class="c-feature-card__details">
            <p class="c-feature-card__summary ">
              {{#is language "en"}}
              Reward points awarded annually
              {{else}}
              نقطة مكافآت تُمنح سنوياً
              {{/is}}
            </p>
          </div>
        </div>
        <!-- end personal-card component -->
      </div>
      <div class="c-product-feature__item">
        <!-- start personal-card component -->
        <div class="c-feature-card">
          <div class="c-feature-card__promotional-value">
            {{#is language "en"}}
            <span class="-left">Over</span> 320K
            {{else}}
            320 الف عميل
            {{/is}}
          </div>
          <div class="c-feature-card__details">
            <p class="c-feature-card__summary ">
              {{#is language "en"}}
              opened Virtual Accounts
              {{else}}
              قاموا بفتح حسابات افتراضية
              {{/is}}
            </p>
          </div>
        </div>
        <!-- end personal-card component -->
      </div>
    </div>
  </div>


</section>