---
title_en: About
title_ar: نبذة
breadcumb1Has: true
breadcumb1Text: About
breadcumb1Link:
breadcumb1Text-ar: نبذة
breadcumb2Has: false
---

{{> breadcrumb}}



<div id="introduction"></div>
<div class="hero-section">
    <div class="hero-section__content-wrapper container">
        <div class="hero-section__title-wrapper">
            <div class="container container--small">
                <h2 class="hero-section__title">
                    <sup class="hero-section__category color-red">
                        {{#is language "en"}}
                        ABOUT
                        {{else}}
                        نبذة
                        {{/is}}
                    </sup>
                    {{#is language "en"}}
                    This is just the beginning of us working together to make stronger digital connections with our
                    customers
                    {{else}}
                    هذه أول خطوة في رحلة عملنا معاً نحو انشاء اتصالات رقمية أقوى مع عملائنا.
                    {{/is}}</sup>




                </h2>
            </div>
        </div>
        <div class="hero-section__img-wrapper">
            <img src="{{images}}/about.jpg" class="hero-section__img" alt="Touchpoints">
        </div>
    </div>
</div>
<div id="feature"></div>
<div class="site-content ">
    <div class="container about">
        <div class="o-comp c-product-feature ">
            <!-- start comp-content -->
            <div class="o-comp__content">
                <!-- start comp-title -->
                <div class="o-comp__title">
                    {{#is language "en"}}
                    <h2>Welcome to the new API Marketplace by ADCB</h2>
                    <p class="o-comp__title_desc o-comp__title_desc c-hero-segment__title_desc">
                        Let’s collectively create the future of digital in your industry. Our APIs allow you to
                        collaborate with us and connect with a wider base of retail and wholesale customers.
                    </p>
                    {{else}}

                    <h2>مرحباً بك في سوق واجهة برمجة التطبيقات API الجديد كلياً من بنك أبوظبي التجاري</h2>
                    <p class="o-comp__title_desc o-comp__title_desc c-hero-segment__title_desc">
                        يداً بيد مجتمعين نصنع مستقبل التكنولوجيا الرقمية في مجال عملك. تقدم لك واجهات برمجة التطبيقات
                        APIs الخاصة بنا امكانية التعاون معنا والتواصل مع قاعدة أوسع من عملاء التجزئة والجملة.
                    </p>

                    {{/is}}






                </div>
                <!-- start personal-card-list__wrap -->

                <!-- end personal-card-list__wrap -->
            </div>
            <!-- end comp-content -->
        </div>

        <div class="container o-on-page-tabs container--small">
            <div class="o-tabs-content__wrapper">
                <div class="o-comp o-tabs">
                    <div class="container -tab-only">
                        <div class="o-tabs__tab-nav__wrapper">
                            <div class="o-tabs__tab-nav__holder">
                                <div class="nav nav-prev hide"></div>
                                <div class="o-tabs__tab-nav ">

                                    <ul class="o-tabs__tab-nav-list">
                                        <li class="o-tabs__tab-nav-item is-selected">
                                            <a class="o-tabs__tab-nav-link is-active" href="#a"> {{#is language "en"}}
                                                BUSINESS BENEFITS
                                                {{else}}
                                                المزايا التجارية
                                                {{/is}}</a>
                                        </li>
                                        <li class="o-tabs__tab-nav-item">
                                            <a class="o-tabs__tab-nav-link" href="#b">{{#is language "en"}}
                                                CUSTOMER BENEFITS
                                                {{else}}
                                                مزايا العملاء
                                                {{/is}}</a></a>
                                        </li>
                                        <li class="o-tabs__tab-nav-item">
                                            <a class="o-tabs__tab-nav-link" href="#c">{{#is language "en"}}
                                                DEVELOPER BENEFITS
                                                {{else}}
                                                مزايا المطورين
                                                {{/is}}</a></a></a>
                                        </li>

                                    </ul>
                                </div>
                                <div class="nav nav-next hide"></div>
                            </div>
                        </div>
                    </div>
                </div> <!-- start c-easy-banking item list -->
                <div class="o-tabs__tab-content">
                    <!-- start tab-content -->
                    <div id="a" class="o-tabs__tab-content-item is-active">
                        <div class="c-cms-content">


                            <ul>
                                <li> {{#is language "en"}}
                                    Streamline internal systems and operations for your business
                                    {{else}}
                                    استخدام أساليب عمل أسرع لتبسيط الأنظمة والعمليات الداخلية لأعمالك.
                                    {{/is}}</a></li>



                                <li> {{#is language "en"}}
                                    Save time, drive innovation and decrease your margin of error
                                    {{else}}
                                    وفّر الوقت وادفع عجلة الابتكار قُدماً وقلّل هامش الخطأ
                                    {{/is}}</a>


                                </li>
                                <li> {{#is language "en"}}
                                    Increase your revenue by introducing new products and features and attract growing
                                    base of ADCB customers
                                    {{else}}
                                    قم بزيادة إيراداتك من خلال تقديم منتجات وميزات جديدة واجتذاب قاعدة متزايدة من عملاء
                                    بنك أبوظبي التجاري
                                    {{/is}}</a></li>
                            </ul>

                        </div>
                    </div>
                    <!-- end tab-content -->
                    <!-- start tab-content -->
                    <div id="b" class="o-tabs__tab-content-item">
                        <div class="c-cms-content">
                            <ul>
                                <li> {{#is language "en"}}
                                    Provide your customers’ with access to a broader range of services and conveniences
                                    seamlessly
                                    {{else}}
                                    وفّر لعملائك إمكانية الوصول إلى مجموعة واسعة من الخدمات والتسهيلات
                                    {{/is}}</li>


                                <li>
                                    {{#is language "en"}}
                                    Our APIs allows you to access authorised data to enhance your over-all customers’
                                    experience
                                    {{else}}
                                    تسمح لك واجهات برمجة التطبيقات الخاصة بنا APIs إمكانية الوصول إلى البيانات المصرح
                                    بها لتحسين تجربة العملاء بشكل عام
                                    {{/is}}


                                </li>
                                <li> {{#is language "en"}}
                                    Higher customer engagement on your platform results in higher loyalty and adoption
                                    {{else}}
                                    كلما أزدادت مشاركة العملاء على منصتك ازداد معها ولاء العملاء واكتسبت أيضاً عملاء جدد
                                    {{/is}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end tab-content -->
                    <!-- start tab-content -->
                    <div id="c" class="o-tabs__tab-content-item">
                        <div class="c-cms-content">


                            <ul>
                                <li> {{#is language "en"}}
                                    Our sandbox environment allows your developers to test the functionality, integrity,
                                    and integration of our APIs into your environment in a secure space
                                    {{else}}
                                    تسمح بيئة الحماية المعزولة sandbox للمطورين اختبار كل من الخصائص الوظيفية والسلامة
                                    والإدماج لواجهات برمجة التطبيقات الخاصة بنا APIs في بيئتك وضمن مساحة آمنة
                                    {{/is}}</li>


                                <li> {{#is language "en"}}
                                    Our APIs include comprehensive technical documentation and sample code via Swagger
                                    {{else}}
                                    تتضمن واجهات برمجة التطبيقات الخاصة بنا APIs وثائق تقنية شاملة وعينة من التعليمات
                                    البرمجية عبر Swagger
                                    {{/is}}
                                </li>
                                <li> {{#is language "en"}}
                                    We enable a full-fledged legal collaboration that foster affiliations by offering a
                                    transparent overview of our API catalogue and act upon feedback from developers to
                                    enhance existing APIs or make new additions
                                    {{else}}
                                    نقوم بتعزيز أسس تعاون قانونية متكاملة لتشجيع بناء العلاقات الناجحة من خلال تقديم
                                    نظرة عامة شفافة على كتيب واجهة برمجة التطبيقات API الخاص بنا والعمل قدماً بناءً على
                                    تعليقات المطورين لتحسين واجهات برمجة التطبيقات API الحالية أو إجراء إضافات جديدة
                                    {{/is}}
                                </li>
                                
                            </ul>

                        </div>
                    </div>
                    <!-- end tab-content -->

                </div>
                <!-- end c-easy-banking item list -->
            </div>
        </div>
        <div id="partners"></div>
        <div id="" class="o-comp c-our-partners">
            <!-- start comp-content -->
            <div class="o-comp__content">
                <!-- start comp-title -->
                <div class="o-comp__title">
                    <h2> {{#is language "en"}}
                        Our Partners
                        {{else}}
                        شركاؤنا
                        {{/is}}</h2>
                </div>
                <!-- end comp-title -->
                <!-- start our partners -->
                <div class="c-our-partners__list">
                    <div class="c-our-partners__item">
                        <a href="#">
                            <img src="{{images}}/p1.jpg">
                        </a>
                    </div>
                    <div class="c-our-partners__item">
                        <a href="#">
                            <img src="{{images}}/p2.jpg">
                        </a>
                    </div>
                    <div class="c-our-partners__item">
                        <a href="#">
                            <img src="{{images}}/p3.jpg">
                        </a>
                    </div>
                    <div class="c-our-partners__item">
                        <a href="#">
                            <img src="{{images}}/p4.jpg">
                        </a>
                    </div>
                    <div class="c-our-partners__item">
                        <a href="#">
                            <img src="{{images}}/p5.jpg">
                        </a>
                    </div>
                </div>
                <!-- end our partners -->
            </div>
            <!-- end comp-content -->
        </div>
    </div>
</div>