---
title_en: Support
title_ar: Support
hasPage: true
page_directory:
jsencrypt: false
breadcumb1Has: true
breadcumb1Text: Support
breadcumb1Text-ar: الدعم
breadcumb1Link:
breadcumb2Has: false

---

{{>breadcrumb}}

<div class="site-content">
    <div class="container ">

        <div class="center" id="ca-logo-name">
            <p class="page-title-small color-red">
                {{#is language "en"}}
                API MARKETPLACE
                {{else}}
                واجهة برمجة التطبيقات API MARKETPLACE
                {{/is}}


            </p>
            <h1>
                {{#is language "en"}}
                Support
                {{else}}
                الدعم
                {{/is}}
            </h1>
        </div>

        <div class="container o-on-page-tabs">
            <div class="o-tabs-content__wrapper">
                <div class="o-comp o-tabs">
                    <div class="container -tab-only">
                        <div class="o-tabs__tab-nav__wrapper">
                            <div class="o-tabs__tab-nav__holder">
                                <div class="nav nav-prev hide"></div>
                                <div class="o-tabs__tab-nav ">
                                    <ul class="o-tabs__tab-nav-list">
                                        <li class="o-tabs__tab-nav-item is-selected">
                                            <a class="o-tabs__tab-nav-link--redirect" href="support.html">
                                                {{#is language "en"}}
                                                FAQS
                                                {{else}}
                                                الأسئلة الأكثر تكراراً
                                                {{/is}}
                                            </a>
                                        </li>
                                        <li class="o-tabs__tab-nav-item">
                                            <a class="o-tabs__tab-nav-link--redirect is-active" href="contact.html">

                                                {{#is language "en"}}
                                                CONTACT US
                                                {{else}}
                                                اتصل بنا
                                                {{/is}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav nav-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="o-comp__content -no-top-pad container mb-0">
                <div class="c-contact-form__wrapper">
                    <div class="col-md-24">
                        <h3 class="c-contact-form__title">

                            {{#is language "en"}}
                            Write to us
                            {{else}}
                            يرجى كتابة رسالتك
                            {{/is}}
                        </h3>
                    </div>
                    <div class="col-md-24">
                        <div class="c-contact-form">
                            <div class="c-contact-form__type">
                                <h6 class="c-contact-form__subtitle--type">
                                    {{#is language "en"}}
                                    Subject:
                                    {{else}}
                                    العنوان:
                                    {{/is}}
                                </h6>
                                <div class="o-form__field ">
                                    <div class="c-contact-form__radio-buttons support__form">
                                        <div class="o-input__radio ">

                                            {{#is language "en"}}
                                            <input type="radio" name="subject" id="technical"
                                                value="ADCB API Marketplace: Technical issue support" checked="checked">
                                            {{else}}
                                            <input type="radio" name="subject" id="technical"
                                                value="واجهة برمجة التطبيقات API Marketplace من بنك ابوظبي التجاري: دعم المشكلات الفنية"
                                                checked="checked">
                                            {{/is}}



                                            <label for="technical">
                                                {{#is language "en"}}
                                              I am having a technical issue
                                                {{else}}
                                                أواجه مشكلة تقنية
                                                {{/is}}
                                            </label>

                                        </div>
                                        <div class="o-input__radio">


                                            {{#is language "en"}}
                                            <input type="radio" name="subject" id="registering"
                                                value="ADCB API Marketplace: Registration problem support">
                                            {{else}}
                                            <input type="radio" name="subject" id="registering"
                                                value="واجهة برمجة التطبيقات API Marketplace من بنك ابوظبي التجاري: دعم مشاكل التسجيل">
                                            {{/is}}



                                            <label for="registering">
                                                {{#is language "en"}}
                                               I am having a problem registering
                                                {{else}}
                                                أواجه مشكلة في عملية التسجيل
                                                {{/is}}
                                            </label>
                                        </div>

                                        <div class="o-input__radio">


                                            {{#is language "en"}}
                                            <input type="radio" name="subject" id="suggestion"
                                                value="ADCB API Marketplace: Suggestion support">
                                            {{else}}
                                            <input type="radio" name="subject" id="suggestion"
                                                value="واجهة برمجة التطبيقات API Marketplace من بنك ابوظبي التجاري: دعم المقترحات">
                                            {{/is}}


                                            <label for="suggestion">
                                                {{#is language "en"}}
                                                I have a suggestion
                                                {{else}}
                                                لدي اقتراح
                                                {{/is}}
                                            </label>
                                        </div>
                                        <div class="o-input__radio">

                                            {{#is language "en"}}
                                            <input type="radio" name="subject" id="question"
                                                value="ADCB API Marketplace: API related question support">
                                            {{else}}
                                            <input type="radio" name="subject" id="question"
                                                value="واجهة برمجة التطبيقات API Marketplace من بنك ابوظبي التجاري: دعم الأسئلة المتعلقة بواجهة برمجة التطبيقات API">
                                            {{/is}}



                                            <label for="question">
                                                {{#is language "en"}}
                                                I have an API related question
                                                {{else}}
                                                لدي سؤال متعلق بواجهة برمجة التطبيقات API
                                                {{/is}}
                                            </label>
                                        </div>
                                        <div class="o-input__radio">

                                            {{#is language "en"}}
                                            <input type="radio" name="subject" id="other"
                                                value="ADCB API Marketplace: Other support">
                                            {{else}}
                                            <input type="radio" name="subject" id="other"
                                                value="واجهة برمجة التطبيقات API Marketplace من بنك ابوظبي التجاري: دعم الاستفسارات الأخرى">
                                            {{/is}}
                                            <label for="other">
                                                {{#is language "en"}}
                                                Other
                                                {{else}}
                                                أخرى
                                                {{/is}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="c-contact-form__btn-email">
                                    <!-- start o-btn -->
                                    {{#is language "en"}}
                                    <a id="emailSupport"
                                        href="mailto:apimarketplace@adcb.com?subject=ADCB API Marketplace: Technical issue support"
                                        class="o-btn o-btn-red">Get in Touch</a>
                                    {{else}}
                                    <a id="emailSupport"
                                        href="mailto:apimarketplace@adcb.com?subject=واجهة برمجة التطبيقات API Marketplace من بنك ابوظبي التجاري: دعم المشكلات الفنية"
                                        class="o-btn o-btn-red">تواصل معنا </a>
                                    {{/is}}

                                    <!-- end o-btn -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


