---
title_en: Home Updated
title_ar: Home Updated
hasPage: true
page_directory:
jsencrypt: false
owlCarousel: true
noBreadCrumbs: true
footer-space-no: true
---
<section class="spotlight">
    <div class="spotlight__tr-circle" data-aos="fade-left" data-aos-duration="600"></div>
    <div class="spotlight__lb-circle" data-aos="fade-right" data-aos-duration="600"></div>
    <div class="spotlight__lb-Illustration" data-aos="fade-right" data-aos-offset="-500" data-aos-delay="300"
        data-aos-duration="600">
        <img src="{{images}}/lb-Illustration.png" alt="Circle">
    </div>
    <div class="spotlight__tr-Illustration" data-aos="fade-left" data-aos-delay="300" data-aos-duration="600">
        <img src="{{images}}/tr-Illustration.png" alt="Circle">
    </div>
    <div class="spotlight__caption">
        <p class="small-title" data-aos="fade-up" data-aos-delay="100" data-aos-duration="400">
            {{#is language "en"}}
            API Marketplace by ADCB
            {{else}}
            واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي التجاري
            {{/is}}
        </p>
        <h1 class="lead-heading">
            <span data-aos="fade-up" data-aos-delay="150" data-aos-duration="400" data-aos-offset="-500">
                {{#is language "en"}}
                Connect.
                {{else}}
                تواصُل.
                {{/is}}
            </span>
            <span data-aos="fade-up" data-aos-delay="200" data-aos-duration="400" data-aos-offset="-500">
                {{#is language "en"}}
                Collaborate.
                {{else}}
                تَعاون.
                {{/is}}
            </span>
            <span data-aos="fade-up" data-aos-delay="250" data-aos-duration="400" data-aos-offset="-500">

                {{#is language "en"}}
                Create.
                {{else}}
                ابداع.
                {{/is}}
            </span>
        </h1>
        <a href="https://sandbox.adcb.com/pages/apimarketplace/sign-up-now.html" class="o-btn-medium-red"
            data-aos-anchor-placement="top-center" data-aos-offset="-500" data-aos="fade-up" data-aos-delay="300"
            data-aos-duration="500">
            {{#is language "en"}}
            Get Started
            {{else}}
            ابدأ
            {{/is}}
        </a>
    </div>

</section>

<section class="partner-ship">
    <div class="partner-ship__circle" data-aos="fade-down" data-aos-duration="600">
        <img src="{{images}}/power-ship.png" alt="power ship circle">
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="lead-heading" data-aos="fade-up" data-aos-delay="100" data-aos-duration="600">
                    {{#is language "en"}}
                    There is power in <strong>Partnerships</strong>
                    {{else}}
                    الشراكات الناجحة موطن قوّتنا
                    {{/is}}
                </h4>
            </div>
        </div>
        <div class="partner-ship__text-wrapper">
            <div class="col" data-aos="fade-up" data-aos-delay="150" data-aos-duration="600">
                <p>
                    Open banking and API integrations across industries are the need of the hour.
                </p>
                <p>
                    They are designed to accelerate Digital transformation and promote partnerships resulting in
                    enhanced customer conveniences with seamless cross-functional services without compromising on
                    security
                </p>
            </div>
            <div class="col" data-aos="fade-up" data-aos-delay="200" data-aos-duration="600">
                <p>
                    API Marketplace by ADCB is created to foster new opportunities for collaboration in response to your
                    unique business needs.
                </p>
                <p>
                    Collaborating with API Marketplace undeniably provides you access to ADCB’s future proof
                    technological advancements and an ever- growing network of customers. If you have an idea, a Use
                    case or a problem statement then, you have landed in the right place!
                </p>
            </div>
        </div>
    </div>
</section>

{{> scroll-counter-2 }}


<section class="work-togeather">
    <div class="work-togeather__circle" data-aos="fade-left" data-aos-duration="600">
    </div>
    <div class="work-togeather__illustration" data-aos-offset="-100" data-aos="fade-left" data-aos-delay="100"
        data-aos-duration="600">
        <img src="{{images}}/work-togeather-Illustration.png" alt="work-togeather">
    </div>
    <div class="container">
        <div class="row">
            <div class="work-togeather__text-wrap">
                <p class="page-title-small">
                    {{#is language "en"}}
                    It’s all about you
                    {{else}}
                    صممت خدماتنا لتناسب احتياجاتك
                    {{/is}}
                </p>
                <h3 data-aos="fade-up" data-aos-offset="-100" data-aos-delay="100" data-aos-duration="600">
                    {{#is language "en"}}
                    Here’s how we can <br> work <strong>together</strong>
                    {{else}}
                    معاً ننجز العمل
                    {{/is}}
                </h3>

                <p data-aos="fade-up" data-aos-offset="-100" data-aos-delay="150" data-aos-duration="600">
                    {{#is language "en"}}
                    Collaboration is the best way to support each other in building best in class digital products that
                    create meaningful experiences for our mutual customers.
                    {{else}}
                    التعاون هو الطريقة الأمثل لندعم بعضنا البعض في تقديم أفضل المنتجات الرقمية التي تمنح تجارب مفيدة
                    ومجدية لعملائنا المشتَركين.
                    {{/is}}

                </p>
                <a href="about.html" class="o-btn-medium-red" data-aos="fade-up" data-aos-offset="-200"
                    data-aos-delay="200" data-aos-duration="600">
                    {{#is language "en"}}
                    Learn more
                    {{else}}
                    اعرف المزيد
                    {{/is}}
                </a>
            </div>
        </div>
    </div>
</section>

<section class="be-part">
    <div class="be-part__circle" data-aos="fade-down" data-aos-duration="600">
        <img src="{{images}}/power-ship.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="lead-heading" data-aos="fade-up" data-aos-delay="100" data-aos-duration="600">
                    {{#is language "en"}}
                    Be a part of the <strong>change</strong>
                    {{else}}
                    كن جزءاً من التغيير
                    {{/is}}
                </h3>
            </div>
        </div>
    </div>
    <div class='partners'>
        <div class='tab-buttons'>
            <span data-Id='partner' data-aos="fade-up" data-aos-delay="150" data-aos-duration="600">
                {{#is language "en"}}
                PARTNER
                {{else}}
                شريك
                {{/is}}
            </span>
            <span data-Id='individual' data-aos="fade-up" data-aos-delay="200" data-aos-duration="600">
                {{#is language "en"}}
                INDIVIDUAL
                {{else}}
                شخصي
                {{/is}}
            </span>
        </div>
        <div class='tab-content' data-aos="fade-left" data-aos-duration="600">
            <div id='partner'>
                <div class="partner">
                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024">
                        <title />
                        <g id="icomoon-ignore">
                        </g>
                        <path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4"
                            stroke-width="36.864" stroke="#000"
                            d="M636.857 298.596c58.381-42.215 191.693-30.321 207.721 35.804 5.192 28.173-1.168 57.261-17.631 80.64 38.106 0 27.688 80.64 0.28 80.64-0.040 86.688-34.74 100.8-34.74 100.8v80.64l132.71 59.351c28.95 12.942 47.607 41.829 47.603 73.705v108.864h-140.243" />
                        <path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4"
                            stroke-width="36.864" stroke="#000"
                            d="M732.383 802.676c-0.017-49.67-30.209-94.281-76.132-112.493l-184.32-73.544v-100.8c0 0 60.104-20.16 60.104-120.96 33.097 0 33.097-80.64 0-80.64 0-9.878 33.939-85.156 20.035-141.12-20.035-80.64-240.417-80.64-260.452 0-100.174-20.16-40.070 127.613-40.070 141.12-33.097 0-33.097 80.64 0 80.64 0 100.8 60.104 120.96 60.104 120.96v100.8l-184.681 73.987c-45.741 18.312-75.763 62.836-75.772 112.372v116.041h681.183v-116.364z" />
                    </svg>
                    <h3 class="partner__title">
                        {{#is language "en"}}
                        Let’s team up to design the future of banking in the region
                        {{else}}
                        لنتعاون معاً لنرسم ملامح مستقبل الخدمات المصرفية في المنطقة
                        {{/is}}
                    </h3>
                    <p class="partner__des">
                        {{#is language "en"}}
                        To partner with us and to get full access to our catalogue of APIs, sandbox testing
                        environment, technical documentation, and reliable support, you’ll need to sign up and
                        register first.
                        {{else}}
                        بادر إلى التسجيل لتحصل على فرصة الوصول والاستفادة الكاملة من كتيّب واجهة برمجة التطبيقات API
                        وبيئة الاختبار المعزولة sandbox والوثائق التقنية وخدمات دعم موثوقة يمكنك الاعتماد عليها.
                        {{/is}}
                    </p>
                    <a href="https://sandbox.adcb.com/pages/apimarketplace/sign-up-now.html" class="partner__link">
                        {{#is language "en"}}
                        Register now
                        {{else}}
                        سجّل الان
                        {{/is}}
                    </a>

                </div>
            </div>
            <div id='individual'>
                <div class="partner">

                    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="1024" height="1024"
                        viewBox="0 0 1024 1024">
                        <title />
                        <g id="icomoon-ignore">
                        </g>
                        <path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4"
                            stroke-width="40.96" stroke="#000"
                            d="M487.208 764.227c0 50.899 39.090 92.16 87.309 92.16s87.309-41.261 87.309-92.16c0-50.899-39.090-92.16-87.309-92.16s-87.309 41.261-87.309 92.16z" />
                        <path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4"
                            stroke-width="40.96" stroke="#000"
                            d="M787.941 880.64c0 50.899 39.090 92.16 87.309 92.16s87.309-41.261 87.309-92.16c0-50.899-39.090-92.16-87.309-92.16s-87.309 41.261-87.309 92.16z" />
                        <path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4"
                            stroke-width="40.96" stroke="#000"
                            d="M787.941 584.758c0 48.22 39.090 87.309 87.309 87.309s87.309-39.090 87.309-87.309c0-48.22-39.090-87.309-87.309-87.309s-87.309 39.090-87.309 87.309z" />
                        <path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4"
                            stroke-width="40.96" stroke="#000" d="M652.126 720.573l145.516-87.309" />
                        <path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4"
                            stroke-width="40.96" stroke="#000" d="M652.126 798.181l135.815 58.206" />
                        <path fill="none" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4"
                            stroke-width="40.96" stroke="#000"
                            d="M401.464 691.469h-360.504c16.944-91.479 14.14-143.26 64.45-164.789l175.886-75.312v-80.034c0 0-37.853-14.006-37.853-100.042-39.295 0-39.295-80.034 0-80.034 0-11.525-65.852-97.241 16.904-80.034 19.667-80.034 213.538-80.034 233.206 0 5.19 27.961-1.168 56.83-17.625 80.034 38.093 0 27.679 80.034 0.28 80.034 0 86.036-34.688 100.042-34.688 100.042v80.034l175.886 75.312c23.135 10.063 39.773 30.927 44.422 55.703" />
                    </svg>


                    <h3 class="partner__title">
                        {{#is language "en"}}
                        We appreciate your interest in registering for our API Marketplace
                        {{else}}
                        نقدر اهتمامك بالتسجيل في واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي التجاري
                        {{/is}}
                    </h3>
                    <p class="partner__des">
                        {{#is language "en"}}
                        Unfortunately, we are unable to accommodate your request at this time. We are currently in
                        the process of making
                        our API Marketplace accessible to everyone. Contact us to get a conversation started with
                        our team and explore possibilities.
                        {{else}}
                        للأسف، لا يمكننا تلبية طلبك في الوقت الحالي. نعمل حالياً على جعل واجهة برمجة التطبيقات API
                        Marketplace متاحاً للجميع. اتصل بنا وتحدّث مع أحد موظفينا للحصول على المزيد من المعلومات.
                        {{/is}}
                    </p>
                    <a href="support.html" class="partner__link">
                        {{#is language "en"}}
                        Contact us
                        {{else}}
                        اتصل بنا
                        {{/is}}
                    </a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="creative">
    <div class="creative__circle" data-aos="fade-right" data-aos-duration="600"></div>
    <div class="creative__img" data-aos="fade-right" data-aos-delay="100" data-aos-duration="600">
        <img src="{{images}}/creative.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="creative__text-wrap">
                <p class="page-title-small" data-aos="fade-up" data-aos-delay="100" data-aos-offset="50"
                    data-aos-duration="600">
                    {{#is language "en"}}
                    New beginnings are exciting!
                    {{else}}
                    البدايات الجديدة مدهشة حقاً!
                    {{/is}}
                </p>
                <h3 data-aos="fade-up" data-aos-offset="50" data-aos-delay="100" data-aos-duration="600">
                    {{#is language "en"}}
                    Introducing more ways to be
                    <strong>creative and collaborative</strong>
                    {{else}}
                    نبتكر وسائل جديدة أكثر فعالية لنكون أكثر أبداعاً وانتاجية
                    {{/is}}
                </h3>
                <p data-aos="fade-up" data-aos-offset="50" data-aos-delay="150" data-aos-duration="600">
                    {{#is language "en"}}
                    Stay tuned. We are in the process of creating a hub for introducing more APIs, creating a
                    supportive community, and continuing to work collectively to develop mutually beneficial
                    products and services for our common customers.
                    {{else}}
                    ابقوا دائماً على اطلاع، فنحن بصدد إنشاء مركز متخصّص لتقديم المزيد من واجهات برمجة التطبيقات API،
                    وتأسيس بيئة داعمة، ومواصلة العمل الجماعي لتطوير منتجات وخدمات مفيدة لعملائنا المشتركين.
                    {{/is}}
                </p>
                <a href="api-catalogue.html" class="o-btn-medium-red" data-aos="fade-up" data-aos-offset="50"
                    data-aos-delay="200" data-aos-duration="600">
                    {{#is language "en"}}
                    API Catalogue
                    {{else}}
                    كتيّب واجهة برمجة التطبيقات API
                    {{/is}}
                </a>
            </div>
        </div>
    </div>
</section>

<section class="testimonials">
    <div class="testimonials__circle" data-aos="fade-down" data-aos-duration="600">
        <img src="{{images}}/power-ship.png" alt="">
    </div>
    <div class="container-fluid o-on-page-tabs">
        <div class="o-tabs-content__wrapper">
            <h3 class="lead-heading" data-aos="fade-up" data-aos-delay="100" data-aos-duration="600">
                {{#is language "en"}}
                What people are saying <strong>about us</strong>
                {{else}}
                بعض من آراء العملاء عن خدماتنا
                {{/is}}
            </h3>

            <div class="o-comp o-tabs">
                <div class="container -tab-only">
                    <div class="o-tabs__tab-nav__wrapper">
                        <div class="o-tabs__tab-nav__holder">
                            <div class="nav nav-prev hide"></div>
                            <div class="o-tabs__tab-nav ">
                                <ul class="o-tabs__tab-nav-list" data-aos="fade-up" data-aos-delay="150"
                                    data-aos-duration="600">
                                    <li class="o-tabs__tab-nav-item is-selected">
                                        <a class="o-tabs__tab-nav-link is-active" href="#a"> {{#is language "en"}}
                                            Partners
                                            {{else}}
                                            الشركاء
                                            {{/is}}
                                        </a>
                                    </li>
                                    <li class="o-tabs__tab-nav-item" data-aos="fade-up" data-aos-delay="200"
                                        data-aos-duration="600">
                                        <a class="o-tabs__tab-nav-link" href="#b"> 
                                            {{#is language "en"}}
                                            Customers
                                            {{else}}
                                            العملاء
                                            {{/is}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- start c-easy-banking item list -->
            <div class="o-tabs--wrap">
                <div class="art-image" data-aos="fade-right" data-aos-duration="600">
                    <img src="{{images}}/TelescopeIllustration.png" alt="">
                </div>
                <div class="o-tabs__tab-content" data-aos="fade-left" data-aos-duration="600">
                    <!-- start tab-content -->
                    <div id="a" class="o-tabs__tab-content-item is-active">
                        <div class="swiper-container testimonials-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonials__item">
                                        <span>
                                            <img src="{{images}}/testimonials-quote.png" alt="">
                                        </span>
                                        <p>
                                            {{#is language "en"}}
                                            Our goal has always been to offer faster and more secure payment options,
                                            and integrating with ADCB TouchPoints has helped us to deliver an improved
                                            customer payment experience.
                                            {{else}}
                                            لقد كان هدفنا دائماً هو تقديم خيارات دفع أسرع وأكثر أماناً، وقد ساعدتنا
                                            عملية إدماج مكافآت نقاط تاتش بوينتس من بنك أبوظبي التجاري في نظامنا على
                                            تقديم تجربة دفع أفضل لعملائنا."
                                            {{/is}}
                                        </p>
                                        <span>
                                            <img src="{{images}}/cleartrip.png" alt="">
                                        </span>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonials__item">
                                        <span>
                                            <img src="{{images}}/testimonials-quote.png" alt="">
                                        </span>
                                        <p>
                                            {{#is language "en"}}
                                            Integrating with ADCB TouchPoints APIs was a key strategic initiative for
                                            us in light of the pandemic environment. Customers who might be more
                                            sensitive to cash purchases were able to spend their well-earned TouchPoints
                                            instead.
                                            {{else}}
                                            كان إدماج واجهة برمجة تطبيقات مكافآت نقاط تاتش بوينتس من بنك أبوظبي التجاري
                                            مبادرة إستراتيجية مهمة للغاية بالنسبة لنا في ضوء الاجراءات المتبعة بسبب
                                            جائحة كورونا. فقد تمكّن العملاء الذين لا يفضلون إجراء مشتراياتهم نقداً من
                                            إنفاق نقاط تاتش بوينتس التي حصلوا عليها بنجاح."
                                            {{/is}}
                                        </p>
                                        <span>
                                            <img src="{{images}}/farah-experiences.png" alt="">
                                        </span>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonials__item">
                                        <span>
                                            <img src="{{images}}/testimonials-quote.png" alt="">
                                        </span>
                                        <p>
                                            {{#is language "en"}}
                                            We are now seeing a significant uptick in TouchPoints redemptions having
                                            made the user experience fully integrated and effortless. From a
                                            technological standpoint, the team made the integration as easy as possible
                                            from start to finish.
                                            {{else}}
                                            نشهد الآن ارتفاعاً كبيراً في عمليات استرداد مكافآت نقاط تاتش بوينتس والتي
                                            جعلت تجربة العميل متكاملة تماماً ويسيرة للغاية. من الجانب التقني، عمل الفريق
                                            جاهداً على إتمام عملية الإدماج بطريقة سهلة قدر الإمكان من البداية ولغاية
                                            النهاية."
                                            {{/is}}
                                        </p>
                                        <span>
                                            <img src="{{images}}/farah-experiences.png" alt="">
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testi-button-wrap" data-aos="fade-down" data-aos-delay="300"
                            data-aos-duration="500">
                            <div class="testi-swiper-button-prev fst buttons icon-next"></div>
                            <div class="testi-swiper-button-next fst buttons icon-next"></div>
                        </div>
                    </div>
                    <!-- end tab-content -->
                    <!-- start tab-content -->
                    <div id="b" class="o-tabs__tab-content-item">
                        <div class="swiper-container testimonials-slider-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-slide-active">
                                    <div class="testimonials__item">
                                        <span>
                                            <img src="{{images}}/testimonials-quote.png" alt="">
                                        </span>
                                        <p>
                                            {{#is language "en"}}
                                            I always thought redeeming my TouchPoints was a hassle, but when I ordered
                                            from Zomato the other night, I was shocked that at check out, I was
                                            immediately asked if I wanted to pay with my TouchPoints. I got a free meal
                                            and a great customer experience.
                                            {{else}}
                                            لطالما ظننت دائماً أن استرداد مكافآت نقاط تاتش بوينتس أمراً صعباً، ولكن
                                            عندما طلبت من زوماتو في أحد الأيام، تفاجئت عند القيام بالدفع عندما ظهر لي
                                            خيار استخدام نقاط مكافآت تاتش بوينتس على الفور. لقد حصلت على وجبة مجانية
                                            وتجربة عميل رائعة."
                                            {{/is}}
                                        </p>
                                        <span>
                                            <img src="{{images}}/zomato.png" alt="zomato">
                                        </span>

                                    </div>
                                </div>

                            </div>

                        </div>
                        {{!-- <div class="testi-button-wrap">
                            <div class="testi-swiper-button-prev snd buttons icon-next"></div>
                            <div class="testi-swiper-button-next snd buttons icon-next"></div>
                        </div> --}}
                    </div>
                </div>
            </div>
            <!-- end c-easy-banking item list -->
        </div>
    </div>
</section>

{{> signup }}