---
title_en: Home Updated
title_ar: Home Updated
hasPage: true
page_directory:
jsencrypt: false
owlCarousel: true
noBreadCrumbs: true
footer-space-no: true
---


<section class="spotlight">
    <div class="spotlight__caption">
        <p class="small-title" data-aos="fade-up" data-aos-delay="1100" data-aos-duration="1500">API Marketplace by
            ADCB</p>
        <h1 class="lead-heading">
            <span data-aos="fade-up" data-aos-delay="1200" data-aos-duration="1500">Connect.</span>
            <span data-aos="fade-up" data-aos-delay="1300" data-aos-duration="1500">Collaborate.</span>
            <span data-aos="fade-up" data-aos-delay="1400" data-aos-duration="1500">Create.</span>
        </h1>
        <a href="#" class="o-btn-medium-red" data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1500"> 
            Get Started
        </a>
    </div>
    <div class="spotlight__tr-circle" data-aos="fade-left" data-aos-duration="1500">
        <img src="{{images}}/tr-circle.png" alt="Circle">
    </div>
    <div class="spotlight__lb-circle" data-aos="fade-right" data-aos-duration="1500">
        <img src="{{images}}/lb-circle.png" alt="Circle">
    </div>
    <div class="spotlight__lb-Illustration" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="1500">
        <img src="{{images}}/lb-Illustration.png" alt="Circle">
    </div>
    <div class="spotlight__tr-Illustration" data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1500">
        <img src="{{images}}/tr-Illustration.png" alt="Circle">
    </div>
</section>
<section class="partner-ship">
    <div class="partner-ship__circle" data-aos="fade-right" data-aos-duration="2000">
        <img src="{{images}}/power-ship.png" alt="power ship circle">
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="lead-heading" data-aos="fade-up" data-aos-delay="500" data-aos-duration="800">There is power
                    in <strong>Partnerships</strong></h4>
            </div>
        </div>
        <div class="partner-ship__text-wrapper">
            <div class="col" data-aos="fade-up" data-aos-delay="600" data-aos-duration="800">
                <p>
                    Open banking and API integrations across industries are the need of the hour.
                </p>
                <p>
                    They are designed to accelerate Digital transformation and promote partnerships resulting in
                    enhanced customer conveniences with seamless cross-functional services without compromising on
                    security
                </p>
            </div>
            <div class="col" data-aos="fade-up" data-aos-delay="700" data-aos-duration="800">
                <p>
                    API Marketplace by ADCB is created to foster new opportunities for collaboration in response to your
                    unique business needs.
                </p>
                <p>
                    Collaborating with API Marketplace undeniably provides you access to ADCB’s future proof
                    technological advancements and an ever- growing network of customers. If you have an idea, a Use
                    case or a problem statement then, you have landed in the right place!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="features">
    <div class="c-product-feature__list horizontal-scroll--list">
        <div class="c-product-feature__item">
            <!-- start personal-card component -->
            <div class="c-feature-card">
                <div class="c-feature-card__promotional-value">
                    {{#is language "en"}}
                    One
                    {{else}}
                    واحد
                    {{/is}}
                </div>
                <div class="c-feature-card__details">
                    <p class="c-feature-card__summary ">
                        {{#is language "en"}}
                        of the largest banks in the UAE
                        {{else}}
                        من أكبر البنوك في دولة الإمارات
                        {{/is}}
                    </p>
                </div>
            </div>
            <!-- end personal-card component -->
        </div>
        <div class="c-product-feature__item">
            <!-- start personal-card component -->

            <div class="c-feature-card">
                <div class="c-feature-card__promotional-value">
                    {{#is language "en"}}
                    <span class="-left">Over</span> 1M
                    {{else}}
                    <span class="-left">أكثر من </span> مليون
                    {{/is}}
                </div>
                <div class="c-feature-card__details">
                    <p class="c-feature-card__summary ">
                        {{#is language "en"}}
                        Customers
                        {{else}}
                        عميل
                        {{/is}}
                    </p>
                </div>
            </div>
            <!-- end personal-card component -->
        </div>
        <div class="c-product-feature__item">
            <!-- start personal-card component -->
            <div class="c-feature-card">
                <div class="c-feature-card__promotional-value">

                    {{#is language "en"}}
                    500+
                    {{else}}
                    <span class="-left">أكثر من </span> 500
                    {{/is}}
                </div>
                <div class="c-feature-card__details">
                    <p class="c-feature-card__summary ">

                        {{#is language "en"}}
                        Merchant tie-ups
                        {{else}}
                        شراكة تجارية
                        {{/is}}
                    </p>
                </div>
            </div>
            <!-- end personal-card component -->
        </div>
        <div class="c-product-feature__item">
            <!-- start personal-card component -->
            <div class="c-feature-card">
                <div class="c-feature-card__promotional-value">
                    {{#is language "en"}}
                    170M
                    {{else}}
                    320 الف عميل
                    {{/is}}
                </div>
                <div class="c-feature-card__details">
                    <p class="c-feature-card__summary ">
                        {{#is language "en"}}
                        Reward points awarded annually
                        {{else}}
                        قاموا بفتح حسابات افتراضية
                        {{/is}}
                    </p>
                </div>
            </div>
            <!-- end personal-card component -->
        </div>
        <div class="c-product-feature__item">
            <!-- start personal-card component -->
            <div class="c-feature-card">
                <div class="c-feature-card__promotional-value">
                    {{#is language "en"}}
                    <span class="-left">Over</span> 320K
                    {{else}}
                    170 مليون
                    {{/is}}
                </div>
                <div class="c-feature-card__details">
                    <p class="c-feature-card__summary ">

                        {{#is language "en"}}
                        opened Virtual Accounts
                        {{else}}
                        نقطة مكافآت تُمنح سنوياً
                        {{/is}}
                    </p>
                </div>
            </div>
            <!-- end personal-card component -->
        </div>
    </div>

</section>
<section class="work-togeather">
    <div class="work-togeather__circle" data-aos="fade-left" data-aos-duration="1000">
        <img src="{{images}}/work-togeather.png" alt="work-togeather">
    </div>
    <div class="work-togeather__illustration" data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1500">
        <img src="{{images}}/work-togeather-Illustration.png" alt="work-togeather">
    </div>
    <div class="container">
        <div class="row">
            <div class="work-togeather__text-wrap" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="800">
                <p class="page-title-small">
                    It’s all about you
                </p>
                <h3>
                    Here’s how we can <br> work <strong>together</strong>
                </h3>
                <p>
                    Collaboration is the best way to support each other in building best in class digital products that
                    create meaningful experiences for our mutual customers.
                </p>
                <a href="#" class="o-btn-medium-red">
                    Learn more
                </a>
            </div>
        </div>
    </div>
</section>
<section class="be-part">
    <div class="be-part__circle" data-aos="fade-right" data-aos-duration="2000">
        <img src="{{images}}/power-ship.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3 class="lead-heading" data-aos="fade-up" data-aos-duration="1000">
                    Be a part of the <strong>change</strong>
                    </h1>
            </div>
        </div>
    </div>
    <div class='partners'>
        <div class='tab-buttons' data-aos="fade-up" data-aos-duration="1000">
            <span data-Id='partner'>PARTNER</span>
            <span data-Id='individual'>INDIVIDUAL</span>
        </div>
        <div class='tab-content' data-aos="fade-up" data-aos-duration="1000">
            <div id='partner'>
                <div class="partner">
                    <img src="{{images}}/partners-01.png" alt="partner">
                    <h3 class="partner__title">Let’s team up to design the future of banking in the region</h3>
                    <p class="partner__des">
                        To partner with us and to get full access to our catalogue of APIs, sandbox testing environment,
                        technical documentation, and reliable support, you’ll need to sign up and register first.
                    </p>
                    <a href="#." class="partner__link">Register now</a>

                </div>
            </div>
            <div id='individual'>
                <div class="partner">
                    <img src="{{images}}/partners-02.png" alt="partner">
                    <h3 class="partner__title">Let’s team up to design the future of banking in the region</h3>
                    <p class="partner__des">
                        To partner with us and to get full access to our catalogue of APIs, sandbox testing environment,
                        technical documentation, and reliable support, you’ll need to sign up and register first.
                    </p>
                    <a href="#." class="partner__link">Register now</a>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="creative">
    <div class="creative__circle" data-aos="fade-right" data-aos-duration="1000">
        <img src="{{images}}/creative-circle.png" alt="">
    </div>
    <div class="creative__img" data-aos="fade-right" data-aos-delay="600" data-aos-duration="1500">
        <img src="{{images}}/creative.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="creative__text-wrap" data-aos="fade-up" data-aos-delay="1200" data-aos-duration="800">
                <p class="page-title-small">
                    New beginnings are exciting!
                </p>
                <h3>
                    Introducing more ways to be
                    <strong>creative and collaborative</strong>
                </h3>
                <p>
                    Stay tuned. We are in the process of creating a hub for introducing more APIs, creating a supportive
                    community, and continuing to work collectively to develop mutually beneficial products and services
                    for our common customers.

                </p>
                <a href="#" class="o-btn-medium-red">
                    API Catalogue
                </a>
            </div>
        </div>
    </div>
</section>


<section class="testimonials">
    <div class="testimonials__circle" data-aos="fade-right" data-aos-duration="1000">
        <img src="{{images}}/power-ship.png" alt="">
    </div>
    <div class="container-fluid o-on-page-tabs">
        <div class="o-tabs-content__wrapper">
            <h3 class="lead-heading" data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000">
                {{#is language "en"}}
                What people are saying <strong>about us</strong>
                {{else}}
                بعض من آراء العملاء عن خدماتنا
                {{/is}}</h3>

            <div class="o-comp o-tabs">
                <div class="container -tab-only">
                    <div class="o-tabs__tab-nav__wrapper">
                        <div class="o-tabs__tab-nav__holder">
                            <div class="nav nav-prev hide"></div>
                            <div class="o-tabs__tab-nav " data-aos="fade-up" data-aos-delay="1000"
                                data-aos-duration="1000">

                                <ul class="o-tabs__tab-nav-list">
                                    <li class="o-tabs__tab-nav-item is-selected">
                                        <a class="o-tabs__tab-nav-link is-active" href="#a"> {{#is language "en"}}
                                            Partners
                                            {{else}}
                                            الشركاء
                                            {{/is}}</a>
                                    </li>
                                    <li class="o-tabs__tab-nav-item">
                                        <a class="o-tabs__tab-nav-link" href="#b"> {{#is language "en"}}
                                            Customers
                                            {{else}}
                                            العملاء
                                            {{/is}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav nav-next"></div>
                        </div>
                    </div>
                </div>
            </div> <!-- start c-easy-banking item list -->
            <div class="o-tabs--wrap">
                <div class="art-image" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="1000">
                    <img src="{{images}}/TelescopeIllustration.png" alt="">
                </div>
                <div class="o-tabs__tab-content" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="1000">
                    <!-- start tab-content -->
                    <div id="a" class="o-tabs__tab-content-item is-active">
                        <div class="swiper-container testimonials-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonials__item">
                                        <span>
                                            <img src="{{images}}/testimonials-quote.png" alt="">
                                        </span>
                                        <p>
                                            Our goal has always been to offer faster and more secure payment options,
                                            and integrating with ADCB TouchPoints has helped us to deliver an improved
                                            customer payment experience
                                        </p>
                                        <span>
                                            <img src="{{images}}/cleartrip.png" alt="">
                                        </span>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonials__item">
                                        <span>
                                            <img src="{{images}}/testimonials-quote.png" alt="">
                                        </span>
                                        <p>
                                            Our goal has always been to offer faster and more secure payment options,
                                            and integrating with ADCB TouchPoints has helped us to deliver an improved
                                            customer payment experience
                                        </p>
                                        <span>
                                            <img src="{{images}}/farah-experiences.png" alt="">
                                        </span>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonials__item">
                                        <span>
                                            <img src="{{images}}/testimonials-quote.png" alt="">
                                        </span>
                                        <p>
                                            Our goal has always been to offer faster and more secure payment options,
                                            and integrating with ADCB TouchPoints has helped us to deliver an improved
                                            customer payment experience
                                        </p>
                                        <span>
                                            <img src="{{images}}/cleartrip.png" alt="">
                                        </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testi-button-wrap">
                            <div class="testi-swiper-button-prev fst buttons icon-next"></div>
                            <div class="testi-swiper-button-next fst buttons icon-next"></div>
                        </div>
                    </div>
                    <!-- end tab-content -->
                    <!-- start tab-content -->
                    <div id="b" class="o-tabs__tab-content-item">
                        <div class="swiper-container testimonials-slider-1">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="testimonials__item">
                                        <span>
                                            <img src="{{images}}/testimonials-quote.png" alt="">
                                        </span>
                                        <p>
                                            Our goal has always been to offer faster and more secure payment options,
                                            and integrating with ADCB TouchPoints has helped us to deliver an improved
                                            customer payment experience
                                        </p>
                                        <span>
                                            <img src="{{images}}/cleartrip.png" alt="">
                                        </span>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonials__item">
                                        <span>
                                            <img src="{{images}}/testimonials-quote.png" alt="">
                                        </span>
                                        <p>
                                            Our goal has always been to offer faster and more secure payment options,
                                            and integrating with ADCB TouchPoints has helped us to deliver an improved
                                            customer payment experience
                                        </p>
                                        <span>
                                            <img src="{{images}}/farah-experiences.png" alt="">
                                        </span>

                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="testimonials__item">
                                        <span>
                                            <img src="{{images}}/testimonials-quote.png" alt="">
                                        </span>
                                        <p>
                                            Our goal has always been to offer faster and more secure payment options,
                                            and integrating with ADCB TouchPoints has helped us to deliver an improved
                                            customer payment experience
                                        </p>
                                        <span>
                                            <img src="{{images}}/cleartrip.png" alt="">
                                        </span>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="testi-button-wrap">
                            <div class="testi-swiper-button-prev snd buttons icon-next"></div>
                            <div class="testi-swiper-button-next snd buttons icon-next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end c-easy-banking item list -->
        </div>
    </div>
</section>


{{> signup }}