---
title_en: Home
title_ar: Home
hasPage: true
page_directory:
jsencrypt: false
owlCarousel: true
noBreadCrumbs: true
footer-space-no: true
---






<div class="c-hero-segment__wrapper c-hero-segment--modified spt-o" data-parallax="scroll"
	data-image-src="{{images}}/create-connect.jpg">

	<div class="c-hero-segment__info">
		<div class="c-hero-segment__info--wrap">
			<h3 class="c-hero-segment__title"><sup class="c-hero-segment__sup"> 
					{{#is language "en"}}
					API Marketplace by ADCB
					{{else}}
					واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي التجاري
					{{/is}}
					</sup>
				{{#is language "en"}}
				Connect. Collaborate. Create.
				{{else}}
				تواصُل. تَعاون. ابداع.
				{{/is}}
			</h3>

		</div>
		<div class="c-hero-segment__cta"><a href="https://sandbox.adcb.com/pages/apimarketplace/sign-up-now.html"
				class="o-btn-medium-red">
				{{#is language "en"}}
				Get Started
				{{else}}
				ابدأ
				{{/is}}
				</a></div>
	</div>
</div>
<div class="o-comp c-product-feature">
	<!-- start comp-content -->
	<div class="o-comp__content container">
		<!-- start comp-title -->
		<div class="o-comp__title">
			<h2> {{#is language "en"}}
				There is power in Partnerships
				{{else}}
				الشراكات الناجحة موطن قوّتنا
				{{/is}}
				</h2>
			<p class="o-comp__title_desc">
				{{#is language "en"}}
				Open banking and API integrations across industries are the need of the hour. They are designed to
				accelerate Digital transformation and promote partnerships resulting in enhanced customer conveniences
				with seamless cross-functional services without compromising on security.
				{{else}}
				تتمثل الحاجة إلى توفير خدمات مصرفية تمتاز بالمرونة بالإضافة إلى استخدام واجهة برمجة التطبيقات API إحدى المتطلبات الأساسية لمختلف قطاعات الأعمال في عصرنا الراهن، حيث يتم تصميمها خصيصاً لتسريع عملية التحول الرقمي وتعزيز الشراكات مما يؤدي إلى تقديم  خدمات متعددة تمتاز باليسر والسهولة مع الحفاظ على توفير ميزة الأمن لدى تقديم هذه الخدمات.
				{{/is}}
			</p>
			<p class="o-comp__title_desc">
				{{#is language "en"}}
				API Marketplace by ADCB is created to foster new opportunities for collaboration in response to your
				unique business needs. Collaborating with API Marketplace undeniably provides you access to ADCB’s
				future proof technological advancements and an ever- growing network of customers.
				{{else}}
				تم إنشاء واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي التجاري لزيادة فرص التعاون الجديدة واستجابة
				لاحتياجات أعمالك المميّزة. يوفر لك التعاون مع واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي
				التجاري إمكانية الوصول إلى أحدث التطورات التقنية التي تمتاز بقدرتها على التكيف مع التغيرات المستقبلية
				والتواصل مع أكبر شبكة من العملاء.
				{{/is}}
			</p>
			<p class="o-comp__title_desc">
				{{#is language "en"}}
				If you have an idea, a Use case or a problem statement then, you have landed in the right place!
				{{else}}
				إذا كان لديك أي مقترح أو تواجه صعوبة أو مشكلة في الاستخدام ، فقد وصلت إلى المكان المناسب، وماعليك سوى
				التواصل معنا.
				{{/is}}
			</p>
		</div>
		<!-- end comp-title -->
		<div class="c-product-feature__list">
			<div class="c-product-feature__item">
				<!-- start personal-card component -->
				<div class="c-feature-card">
					<div class="c-feature-card__promotional-value">
						{{#is language "en"}}
						One
						{{else}}
						واحد
						{{/is}}
					</div>
					<div class="c-feature-card__details">
						<p class="c-feature-card__summary ">
							{{#is language "en"}}
							of the largest banks in the UAE
							{{else}}
							من أكبر البنوك في دولة الإمارات
							{{/is}}
						</p>
					</div>
				</div>
				<!-- end personal-card component -->
			</div>
			<div class="c-product-feature__item">
				<!-- start personal-card component -->

				<div class="c-feature-card">
					<div class="c-feature-card__promotional-value">
						{{#is language "en"}}
						<span class="-left">Over</span> 1M
						{{else}}
						<span class="-left">أكثر من </span> مليون
						{{/is}}
					</div>
					<div class="c-feature-card__details">
						<p class="c-feature-card__summary ">
							{{#is language "en"}}
							Customers
							{{else}}
							عميل
							{{/is}}
						</p>
					</div>
				</div>
				<!-- end personal-card component -->
			</div>
			<div class="c-product-feature__item">
				<!-- start personal-card component -->
				<div class="c-feature-card">
					<div class="c-feature-card__promotional-value">

						{{#is language "en"}}
						500+
						{{else}}
						<span class="-left">أكثر من </span> 500
						{{/is}}
					</div>
					<div class="c-feature-card__details">
						<p class="c-feature-card__summary ">

							{{#is language "en"}}
							Merchant tie-ups
							{{else}}
							شراكة تجارية
							{{/is}}
						</p>
					</div>
				</div>
				<!-- end personal-card component -->
			</div>
		</div>
		<div class="c-product-feature__list">
			<div class="c-product-feature__item">
				<!-- start personal-card component -->
				<div class="c-feature-card">
					<div class="c-feature-card__promotional-value">
						{{#is language "en"}}
						170M
						{{else}}
						320 الف عميل
						{{/is}}
					</div>
					<div class="c-feature-card__details">
						<p class="c-feature-card__summary ">
							{{#is language "en"}}
							Reward points awarded annually
							{{else}}
							قاموا بفتح حسابات افتراضية
							{{/is}}
						</p>
					</div>
				</div>
				<!-- end personal-card component -->
			</div>
			<div class="c-product-feature__item">
				<!-- start personal-card component -->
				<div class="c-feature-card">
					<div class="c-feature-card__promotional-value">
						{{#is language "en"}}
						<span class="-left">Over</span> 320K
						{{else}}
						170 مليون
						{{/is}}
					</div>
					<div class="c-feature-card__details">
						<p class="c-feature-card__summary ">

							{{#is language "en"}}
							opened Virtual Accounts
							{{else}}
							نقطة مكافآت تُمنح سنوياً
							{{/is}}
						</p>
					</div>
				</div>
				<!-- end personal-card component -->
			</div>

		</div>
	</div>
</div>

{{#is language "en"}}
<div class="c-hero-segment__wrapper c-hero-segment--modified spt-o" data-parallax="scroll"
	data-image-src="{{images}}/your-customer.jpg">
	{{else}}
	<div class="c-hero-segment__wrapper c-hero-segment--modified spt-o" data-position="top" data-bleed="0"
		data-natural-width="1000" data-natural-height="560" data-parallax="scroll"
		data-image-src="{{images}}/your-customer.jpg">
		{{/is}}



		<div class="c-hero-segment__info">
			<div class="c-hero-segment__info--wrap">
				<h3 class="c-hero-segment__title"><sup class="c-hero-segment__sup"> 
						{{#is language "en"}}
						It’s all about you
						{{else}}
						صممت خدماتنا لتناسب احتياجاتك
						{{/is}}
						</sup>
					{{#is language "en"}}
					Here’s how we can work together
					{{else}}
					معاً ننجز العمل
					{{/is}}
				</h3>
				<p class="c-hero-segment__desc">
					{{#is language "en"}}
					Collaboration is the best way to support each other in building best in class digital products that
					create meaningful experiences for our mutual customers.
					{{else}}
					التعاون هو الطريقة الأمثل لندعم بعضنا البعض في تقديم أفضل المنتجات الرقمية التي تمنح تجارب مفيدة
					ومجدية لعملائنا المشتَركين.
					{{/is}}
				</p>
			</div>
			<div class="c-hero-segment__cta"><a href="about.html" class="o-btn-medium-red"> {{#is language "en"}}
					Learn more
					{{else}}
					اعرف المزيد
					{{/is}}</a></div>
		</div>
	</div>

	<div class="be-part-slider">
		<!--start - QR Code customer toggle -->
		<div class="hero-pdp c-qr-customer-toggle">
			<div class="hero-pdp__content-wrapper container">
				<div class="o-comp__title">
					<h2 class="o-comp__title__content">
						{{#is language "en"}}
						Be a part of the change
						{{else}}
						كن جزءاً من التغيير
						{{/is}}
					</h2>
				</div>

				<div class="c-customer-toggle__label">
					<div class="switch-label"> 
						{{#is language "en"}}
						Partner
						{{else}}
						شريك
						{{/is}}
						</div>
					<div class="switch-middle">
						<label class="switch">
							<input type="checkbox" id="checkSwitch">
							<span class="slider"></span>
						</label>
					</div>
					<div class="switch-label"> 
						{{#is language "en"}}
						Individual
						{{else}}
						شخصي
						{{/is}}
					</div>
				</div>

			</div>
		</div>
		<!--end - QR Code customer toggle -->

		<div id="partners-slide" class="o-comp c-not-found">
			<div class="o-comp__content container o-comp__content--modifier">
				<div class="c-not-found__wrapper --modifier">
					<div class="c-not-found__text-content">
						<h2> 
							{{#is language "en"}}
							Let’s team up to design the future of banking in the region
							{{else}}
							لنتعاون معاً لنرسم ملامح مستقبل الخدمات المصرفية في المنطقة
							{{/is}}
							</h2>
						<p>
							{{#is language "en"}}
							To partner with us and to get full access to our catalogue of APIs, sandbox testing
							environment, technical documentation, and reliable support, you’ll need to sign up and
							register first.
							{{else}}
							بادر إلى التسجيل لتحصل على فرصة الوصول والاستفادة الكاملة من كتيّب واجهة برمجة التطبيقات API
							وبيئة الاختبار المعزولة sandbox والوثائق التقنية وخدمات دعم موثوقة يمكنك الاعتماد عليها.
							{{/is}}
						</p>
						<a class="o-link-more icon-arrow-down"
							href="https://sandbox.adcb.com/pages/apimarketplace/sign-up-now.html">
							 {{#is language "en"}}
							Register now
							{{else}}
							سجّل الان
							{{/is}}
							</a>
					</div>
					<div class="c-not-found__img-wrapper">
						<img class="c-not-found__img" src="common/images/ADCB_plectrum-2.png">
					</div>
				</div>
			</div>
		</div>

		<div id="individuals-slide" class="o-comp c-not-found" style="display: none;">
			<div class="o-comp__content container o-comp__content--modifier">
				<div class="c-not-found__wrapper --modifier">
					<div class="c-not-found__text-content">
						<h2> {{#is language "en"}}
							We appreciate your interest in registering for our API Marketplace
							{{else}}
							نقدر اهتمامك بالتسجيل في واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي التجاري
							{{/is}}
							</h2>
						<p> {{#is language "en"}}
							Unfortunately, we are unable to accommodate your request at this time. We are currently in
							the process of making
							our API Marketplace accessible to everyone. Contact us to get a conversation started with
							our team and explore possibilities.
							{{else}}
							للأسف، لا يمكننا تلبية طلبك في الوقت الحالي. نعمل حالياً على جعل واجهة برمجة التطبيقات API
							Marketplace متاحاً للجميع. اتصل بنا وتحدّث مع أحد موظفينا للحصول على المزيد من المعلومات.
							{{/is}}
						</p>

						<a class="o-link-more icon-arrow-down" href="support.html"> 
							{{#is language "en"}}
							Contact us
							{{else}}
							اتصل بنا
							{{/is}}
							</a>
					</div>
					<div class="c-not-found__img-wrapper">
						<img class="c-not-found__img" src="common/images/ADCB_plectrum-2.png">
					</div>
				</div>
			</div>
		</div>
	</div>






	{{#is language "en"}}
	<div class="c-hero-segment__wrapper c-hero-segment--modified spt-o" data-parallax="scroll"
		data-image-src="{{images}}/so-much.jpg">
		{{else}}
		<div class="c-hero-segment__wrapper c-hero-segment--modified spt-o" data-position="top" data-bleed="0"
			data-natural-width="1000" data-natural-height="560" data-parallax="scroll"
			data-image-src="{{images}}/so-much.jpg">
			{{/is}}


			<div class="c-hero-segment__info">
				<div class="c-hero-segment__info--wrap">
					<h3 class="c-hero-segment__title">
						<sup class="c-hero-segment__sup"> 
							{{#is language "en"}}
							New beginnings are exciting!
							{{else}}
							البدايات الجديدة مدهشة حقاً!
							{{/is}}
							</sup>


						{{#is language "en"}}
						Introducing more ways to be creative and collaborative
						{{else}}
						نبتكر وسائل جديدة أكثر فعالية لنكون أكثر أبداعاً وانتاجية
						{{/is}}
					</h3>
					<p class="c-hero-segment__desc">
						{{#is language "en"}}
						Stay tuned. We are in the process of creating a hub for introducing more APIs, creating a
						supportive community, and continuing to work collectively to develop mutually beneficial
						products and services for our common customers.
						{{else}}
						ابقوا دائماً على اطلاع، فنحن بصدد إنشاء مركز متخصّص لتقديم المزيد من واجهات برمجة التطبيقات API،
						وتأسيس بيئة داعمة، ومواصلة العمل الجماعي لتطوير منتجات وخدمات مفيدة لعملائنا المشتركين.
						{{/is}}
					</p>
				</div>
				<div class="c-hero-segment__cta"><a href="api-catalogue.html" class="o-btn-medium-red"> 
					{{#is language "en"}}
						API Catalogue
						{{else}}
						كتيّب واجهة برمجة التطبيقات API
						{{/is}}
						</a>
				</div>
			</div>
		</div>




		<div class="container o-on-page-tabs">
			<div class="o-tabs-content__wrapper">
				<h3 class="tabs-title"> {{#is language "en"}}
					What people are saying about us
					{{else}}
					بعض من آراء العملاء عن خدماتنا
					{{/is}}</h3>
				<div class="o-comp o-tabs">
					<div class="container -tab-only">
						<div class="o-tabs__tab-nav__wrapper">
							<div class="o-tabs__tab-nav__holder">
								<div class="nav nav-prev hide"></div>
								<div class="o-tabs__tab-nav ">

									<ul class="o-tabs__tab-nav-list">
										<li class="o-tabs__tab-nav-item is-selected">
											<a class="o-tabs__tab-nav-link is-active" href="#a"> {{#is language "en"}}
												Partners
												{{else}}
												الشركاء
												{{/is}}</a>
										</li>
										<li class="o-tabs__tab-nav-item">
											<a class="o-tabs__tab-nav-link" href="#b"> {{#is language "en"}}
												Customers
												{{else}}
												العملاء
												{{/is}}</a>
										</li>
									</ul>
								</div>
								<div class="nav nav-next"></div>
							</div>
						</div>
					</div>
				</div> <!-- start c-easy-banking item list -->
				<div class="o-tabs__tab-content">
					<!-- start tab-content -->
					<div id="a" class="o-tabs__tab-content-item is-active">
						<div class="js-testimonials-carousel">
							<div class="js-testimonials-carousel__wrap owl-carousel">
								<div class="js-testimonials-carousel-item">
									<div class="js-testimonials-carousel__img">
										<img src="{{images}}/partners-1.png" alt="partners">
									</div>
									<div class="js-testimonials-carousel__info">
										<p>
											{{#is language "en"}}
											Our goal has always been to offer faster and more secure payment options,
											and integrating with ADCB TouchPoints has helped us to deliver an improved
											customer payment experience.
											{{else}}
											لقد كان هدفنا دائماً هو تقديم خيارات دفع أسرع وأكثر أماناً، وقد ساعدتنا
											عملية إدماج مكافآت نقاط تاتش بوينتس من بنك أبوظبي التجاري في نظامنا على
											تقديم تجربة دفع أفضل لعملائنا."
											{{/is}}
										</p>

									</div>
								</div>
								<div class="js-testimonials-carousel-item">
									<div class="js-testimonials-carousel__img">
										<img src="{{images}}/partners-2.png" alt="partners">
									</div>
									<div class="js-testimonials-carousel__info">
										<p>
											{{#is language "en"}}
											Integrating with ADCB TouchPoints APIs was a key strategic initiative for
											us in light of the pandemic environment. Customers who might be more
											sensitive to cash purchases were able to spend their well-earned TouchPoints
											instead.
											{{else}}
											كان إدماج واجهة برمجة تطبيقات مكافآت نقاط تاتش بوينتس من بنك أبوظبي التجاري
											مبادرة إستراتيجية مهمة للغاية بالنسبة لنا في ضوء الاجراءات المتبعة بسبب
											جائحة كورونا. فقد تمكّن العملاء الذين لا يفضلون إجراء مشتراياتهم نقداً من
											إنفاق نقاط تاتش بوينتس التي حصلوا عليها بنجاح."
											{{/is}}
										</p>

									</div>
								</div>
								<div class="js-testimonials-carousel-item">
									<div class="js-testimonials-carousel__img">
										<img src="{{images}}/partners-2.png" alt="partners">
									</div>
									<div class="js-testimonials-carousel__info">
										<p>
											{{#is language "en"}}
											We are now seeing a significant uptick in TouchPoints redemptions having
											made the user experience fully integrated and effortless. From a
											technological standpoint, the team made the integration as easy as possible
											from start to finish.
											{{else}}
											نشهد الآن ارتفاعاً كبيراً في عمليات استرداد مكافآت نقاط تاتش بوينتس والتي
											جعلت تجربة العميل متكاملة تماماً ويسيرة للغاية. من الجانب التقني، عمل الفريق
											جاهداً على إتمام عملية الإدماج بطريقة سهلة قدر الإمكان من البداية ولغاية
											النهاية."
											{{/is}}
										</p>

									</div>
								</div>



							</div>
						</div>
					</div>
					<!-- end tab-content -->
					<!-- start tab-content -->
					<div id="b" class="o-tabs__tab-content-item">
						<div class="js-testimonials-carousel">
							<div class="js-testimonials-carousel__wrap owl-carousel">
								<div class="js-testimonials-carousel-item">
									<div class="js-testimonials-carousel__img">
										<img src="{{images}}/zomato.png" alt="partners">
									</div>
									<div class="js-testimonials-carousel__info">
										<p>
											{{#is language "en"}}
											I always thought redeeming my TouchPoints was a hassle, but when I ordered
											from Zomato the other night, I was shocked that at check out, I was
											immediately asked if I wanted to pay with my TouchPoints. I got a free meal
											and a great customer experience.
											{{else}}
											لطالما ظننت دائماً أن استرداد مكافآت نقاط تاتش بوينتس أمراً صعباً، ولكن
											عندما طلبت من زوماتو في أحد الأيام، تفاجئت عند القيام بالدفع عندما ظهر لي
											خيار استخدام نقاط مكافآت تاتش بوينتس على الفور. لقد حصلت على وجبة مجانية
											وتجربة عميل رائعة."
											{{/is}}
										</p>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- end c-easy-banking item list -->
			</div>
		</div>