---
title_en: Privacy Policy
title_ar: Privacy Policy
hasPage: false
breadcumb1Has: true
breadcumb1Text: Privacy Notice
breadcumb1Text-ar: نصائح أمنية مهمة
breadcumb1Link:
breadcumb2Has: false

---



{{>breadcrumb}}


<div class="container">
    <div class="center" id="ca-logo-name">
        <!-- Don't change the below class name. As same is using for fetching the logo from themes.-->
        <p class="page-title-small color-red">
            {{#is language "en"}}
            ADCB API MARKET PLACE PRIVACY NOTICE
            {{else}}
            إشعار الخصوصية الخاص بواجهة برمجة التطبيقات API MarketPlace من بنك أبوظبي التجاري
            {{/is}}
        </p>

        <h1 id="provider-name">
            {{#is language "en"}}
            Important Information And Who We Are
            {{else}}
            معلومات مهمة ولمحة عنا
            {{/is}}
        </h1>
    </div>
</div>


<div class="container">
    <div class="c-calculator-table__tnc">
        <h2 class="c-calculator-table__tnc-title">
            {{#is language "en"}}
            Overview
            {{else}}
            لمحة عامة
            {{/is}}
        </h2>
        <p>


            {{#is language "en"}}
            Abu Dhabi Commercial Bank PJSC (“ADCB”, “Bank” “We” or “Our”) has drafted this <b>ADCB API Marketplace
                Privacy Notice</b> (“Privacy Notice”) to ensure that you can clearly understand our data and
            security practices and policies in the course of providing you with our products and services on this
            Developer Portal (the “<b>Portal</b>”).
            {{else}}
            قام بنك أبوظبي التجاري – شركة مساهمة عامة – ("بنك أبوظبي التجاري"، أو "البنك"، أو "نحن") بتحرير إشعار
            الخصوصية هذا والخاص بواجهة برمجة التطبيقات API MarketPlace ("إشعار الخصوصية") بغرض تأكيد فهمكم التام
            لممارسات وسياسات البيانات والأمن، في سياق تزويدكم بمنتجاتنا وخدماتنا عبر بوابة المطورين هذه ("البوابة").
            {{/is}}
        </p>
        <p>


            {{#is language "en"}}
            This Privacy Notice therefore applies to users of our products and services and visitors to our Portal and
            describes the types of information we collect, how we use the information, with whom we share it, and the
            choices you can make about our collection, use and disclosure of your information in the course of our
            commercial activities.
            {{else}}
            وعليه، ينطبق إشعار الخصوصية هذا على مُستخدمي منتجاتنا وخدماتنا وزوار بوابتنا، ويصف أنواع المعلومات التي
            نجمعها، وكيفية استخدامنا للمعلومات، ومع من نُشاركها، والاختيارات الممكنة المتاحة لك بخصوص جمعنا للمعلومات،
            واستخدام والإفصاح عن معلوماتك في سياق أنشطتنا التجارية.
            {{/is}}
        </p>
        <p>
            {{#is language "en"}}
            We also describe the measures we take to protect the security of your personal information or personal data
            and how you can contact us about our privacy practices. When you visit the Portal, use our products or
            services, or provide us with information, you agree to be bound by the terms and conditions of this Privacy
            Notice.
            {{else}}
            كما نُوضح أيضاً التدابير التي نتخذها لحماية أمن معلوماتك أو بياناتك الشخصية، وكيف يُمكنك الاتصال بنا بشأن
            ممارساتنا المتعلقة بالخصوصية. عند زيارتك للبوابة، أو استخدامك لمنتجاتنا أو خدماتنا، أو تزويدنا بالمعلومات،
            فإنك توافق على التقيّد والالتزام بأحكام وشروط إشعار الخصوصية هذا.
            {{/is}}
        </p>

        <p>

            {{#is language "en"}}
            Please review this Privacy Notice periodically as we may update it from time to time without notice to you
            to reflect changes in our data practices.
            {{else}}
            يرجى الاطلاع على إشعار الخصوصية بانتظام، حيث إننا قد نقوم بتحديثه من وقتٍ إلى آخر دون إشعار مُسبق، ليعكس أي
            تغييرات قد تطرأ على ممارساتنا المتعلقة بالبيانات.
            {{/is}}
        </p>







        <div class="o-comp feature-accordion-group js-acc-group api-page" data-sync="true">
            <div class="o-comp__content container">
                <div class="accordion-item js-acc-item" data-index="0" data-state="expanded">
                    <a href="#" class="accordion-item__title js-acc-title icon-add">
                        <span>
                            {{#is language "en"}}
                            Purpose of this Privacy Notice
                            {{else}}
                            الغرض من إشعار الخصوصية
                            {{/is}}
                        </span>
                    </a>
                    <div class="accordion-item__content js-acc-content">
                        <!-- start c-cms-content -->
                        <div class="c-cms-content">
                            <p>
                                {{#is language "en"}}
                                This Privacy Notice aims to give you information about how the Bank collects and
                                processes your personal
                                data at this Portal.
                                {{else}}
                                يهدف إشعار الخصوصية هذا إلى تزويدك بالمعلومات الخاصة بكيفية قيام البنك بجمع ومعالجة
                                بياناتك الشخصية عبر هذه
                                البوابة.
                                {{/is}}
                            </p>



                            <p> {{#is language "en"}}
                                It is important that you read this Privacy Notice together with the Bank’s Privacy
                                Policy or fair processing
                                notices we may provide on specific occasions when we are collecting or processing
                                personal data about you so
                                that you are fully aware of how and why we are using your data. The <a
                                    href="https://www.adcb.com">‘Bank’s
                                    Privacy Policy’</a> supplements this Privacy Notice and is not intended to
                                override it.
                                {{else}}
                                من المهم أن تقرأ إشعار الخصوصية هذا بالإضافة إلى سياسة الخصوصية الخاصة بالبنك، أو
                                إشعارات المعالجة العادلة
                                التي قد نوفرها في حالات محددة عند قيامنا بجمع أو معالجة بياناتك الشخصية، وذلك لكي
                                تكون على اطلاع كامل بكيفية
                                وسبب استخدام بياناتك. سياسة الخصوصية الخاصة بالبنك <a
                                    href="https://www.adcb.com">www.adcb.com</a> هي
                                مُكمّلة لإشعار الخصوصية هذا، ولا يُقصد تجاوزها أو إلغائها.
                                {{/is}}
                            </p>
                        </div>
                        <!-- end c-cms-content -->
                    </div>
                </div>
                <div class="accordion-item js-acc-item" data-index="0" data-state="collapsed">
                    <a href="#" class="accordion-item__title js-acc-title icon-add">
                        <span>
                            {{#is language "en"}}
                            Controller contact details
                            {{else}}
                            بيانات الاتصال بالمُتحكّم
                            {{/is}}
                        </span>
                    </a>
                    <div class="accordion-item__content js-acc-content">
                        <!-- start c-cms-content -->
                        <div class="c-cms-content">
                            <p>
                                {{#is language "en"}}
                                "Abu Dhabi Commercial Bank PJSC" is the Bank's registered business name. The Bank is
                                regulated by the
                                United
                                Arab Emirates Central Bank ("UAECB"). The registered Head Office of Abu Dhabi Commercial
                                Bank PJSC is at
                                Abu
                                Dhabi Commercial Bank Head Office Building, Sheikh Zayed Street, Plot C-33, Sector E-11,
                                P.O. Box 939,
                                Abu
                                Dhabi, United Arab Emirates.
                                {{else}}
                                "بنك أبوظبي التجاري – شركة مساهمة عامة" هو الاسم التجاري المُسجل للبنك، الذي يخضع
                                نظامياً إلى مصرف
                                الإمارات
                                العربية المتحدة المركزي. المقر الرئيسي لبنك أبوظبي التجاري كائن في بناية بنك أبوظبي
                                التجاري، شارع الشيخ
                                زايد، قطعة ج-33، قطاع هـ-11، ص.ب. 939، أبوظبي، الإمارات العربية المتحدة
                                {{/is}}.
                            </p>
                            <p>
                                {{#is language "en"}}
                                For the purposes of applicable data protection legislation, the Bank is the data
                                controller in respect
                                of
                                the information that we collect or obtain about you. This is because the Bank is the
                                company who (either
                                acting alone or jointly with others) determines why and how your personal information is
                                processed.
                                {{else}}
                                ولغايات التشريعات المطبقة لحماية البيانات، فإن البنك هو المتحكّم في البيانات والمعلومات
                                التي نجمعها أو
                                نحصل
                                عليها عنك. ذلك لأن البنك هو الشركة التي (إما بالتصرف فردياً أو جماعياً مع آخرين) تحدد
                                لماذا وكيف تُعالَج
                                معلوماتك الشخصية.
                                {{/is}}

                            </p>
                        </div>
                        <!-- end c-cms-content -->
                    </div>
                </div>
                <div class="accordion-item js-acc-item" data-index="0" data-state="collapsed">
                    <a href="#" class="accordion-item__title js-acc-title icon-add">
                        <span>
                            {{#is language "en"}}
                            Contact the Data Protection Officer
                            {{else}}
                            التواصل مع مسؤول حماية البيانات
                            {{/is}}
                        </span>
                    </a>
                    <div class="accordion-item__content js-acc-content">
                        <!-- start c-cms-content -->
                        <div class="c-cms-content">
                            <p>
                                {{#is language "en"}}
                                ADCB has a Data Protection Officer and a team of data protection specialists. The Data
                                Protection
                                Officer is
                                responsible for overseeing questions in relation to this Privacy Notice. If you have any
                                questions about
                                this Privacy Notice, including any requests to exercise your legal rights, please
                                ‘<a href="mailto:dataprivacy@adcb.com">contact</a>’ our Privacy Team. If you
                                specifically want to
                                contact
                                ADCB’s Data Protection Officer, enter this in the subject line.
                                {{else}}
                                يوجد لدى بنك أبوظبي التجاري مسؤول لحماية البيانات وفريق متخصص في حماية البيانات. يضطلع
                                مسؤول حماية
                                البيانات
                                بالإشراف على الاستفسارات الواردة بشأن إشعار الخصوصية هذا. وعليه، وفي حالة وجود أي
                                استفسارات لديك بخصوص
                                الإشعار، بما في ذلك أي طلبات لممارسة حقوقك القانونية، يرجى الاتصال بفريق عمل الخصوصية
                                عبر <a href="mailto:dataprivacy@adcb.com">dataprivacy@adcb.com</a>. أما في حال رغبتك
                                التواصل تحديداً مع
                                مسؤول
                                حماية البيانات لدى بنك أبوظبي التجاري، فيرجى الإشارة إلى ذلك في خانة الموضوع.
                                {{/is}}
                            </p>
                        </div>
                        <!-- end c-cms-content -->
                    </div>
                </div>
                <div class="accordion-item js-acc-item" data-index="0" data-state="collapsed">
                    <a href="#" class="accordion-item__title js-acc-title icon-add">
                        <span>
                            {{#is language "en"}}
                            Changes to this Privacy Notice and your duty to inform us of changes
                            {{else}}
                            تغييرات قد تطرأ على إشعار الخصوصية هذا ومسؤوليتك عن إخطارنا بهذه التغييرات
                            {{/is}}
                        </span>
                    </a>
                    <div class="accordion-item__content js-acc-content">
                        <!-- start c-cms-content -->
                        <div class="c-cms-content">
                            <p>
                                {{#is language "en"}}
                                This Privacy Notice is effective from June 1, 2021. We will post any material changes
                                that we may make
                                to
                                this Privacy Notice in the future on our website and, where appropriate, we will notify
                                you of the
                                change by
                                email.
                                {{else}}
                                يصبح إشعار الخصوصية هذا نافذاً بتاريخ 1 يونيو 2021. وسوف نقوم بنشر أي تغييرات قد نُجريها
                                على إشعار
                                الخصوصية
                                هذا مستقبلاً عبر موقعنا الإلكتروني، وحيثما كان ذلك ملائماً، سوف نُخطرك بالتغيير عبر
                                البريد الإلكتروني.
                                {{/is}}
                            </p>
                            <p>
                                {{#is language "en"}}
                                It is important that the personal data we hold about you is accurate and current. Please
                                keep us
                                informed if
                                your personal data changes during your relationship with us.
                                {{else}}
                                من المهم أن تكون بياناتك الشخصية التي نحتفظ بها دقيقة ومُحدثة. يرجى إبقائنا على اطلاع
                                إذا ما تغيرت
                                بياناتك
                                الشخصية خلال فترة تعاملك معنا.
                                {{/is}}
                            </p>



                            <h2 class="c-calculator-table__tnc-title">
                                {{#is language "en"}}
                                YOUR PERSONAL DATA
                                {{else}}
                                بياناتك الشخصية
                                {{/is}}
                            </h2>

                            <p> {{#is language "en"}}
                                Personal data or personal information, means any information about an individual
                                from
                                which that person can be identified. It does not include data where the identity has
                                been removed and the person is not or no longer is identifiable (anonymous data).
                                {{else}}
                                البيانات الشخصية أو المعلومات الشخصية تعني أي معلومات عن الشخص يُمكن من خلالها
                                التعرف
                                على هويته، ولا تشمل البيانات التي حُذفت منها الهوية ولم يعد من الممكن التعرف من
                                خلالها
                                على هوية الشخص (بيانات مجهولة الهوية).
                                {{/is}}
                            </p>

                            <p> {{#is language "en"}}
                                Your personal information will be collected or obtained by us whether we deal with
                                you
                                as an individual or on behalf of an individual, business, charity, trust or other
                                organization that you represent. Broadly, personal information is any information
                                that
                                can identify you as an individual. We process many different types of personal
                                information (as further described below).
                                {{else}}
                                سنقوم بجمع أو الحصول على معلوماتك الشخصية، وذلك سواء كنا نتعامل معك بصفتك فرداً أو
                                بالنيابة عن فرد، أو شركة، أو مؤسسة خيرية، أو أمانة، أو أي مؤسسة أخرى تُمثّلها. بشكلٍ
                                عام، المعلومات الشخصية هي أي معلومات تُحدد هويتك كشخص. هذا ونتولى معالجة أنواع عديدة
                                ومختلفة من المعلومات الشخصية (كما هو موضح أدناه)
                                {{/is}}
                            </p>

                            <h2 class="c-calculator-table__tnc-title">
                                {{#is language "en"}}
                                INFORMATION WE COLLECT FROM YOU
                                {{else}}
                                المعلومات التي نجمعها منك
                                {{/is}}
                            </h2>

                            <p> {{#is language "en"}}
                                When you visit the Portal, we collect:
                                {{else}}
                                عندما تزور البوابة الإلكترونية، فإننا نقوم بجمع ما يلي:
                                {{/is}}
                            </p>
                            <ul>
                                <li>
                                    {{#is language "en"}}
                                    the IP-address of the device you use to connect to the internet
                                    {{else}}
                                    عنوان بروتوكول الإنترنت الخاص بالجهاز الذي تستخدمه للاتصال بالإنترنت
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    information such as what browser, and which version of it you are using
                                    {{else}}
                                    معلومات مثل المتصفح الذي تستخدمه، ورقم الإصدار المستخدم من قبلك
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    the type of operating system you have, and which site you came from
                                    {{else}}
                                    نوع منظومة التشغيل الخاصة بك، والموقع الذي أتيت منه
                                    {{/is}}
                                </li>
                            </ul>
                            <p> {{#is language "en"}}
                                When you sign up to the Portal, we collect:
                                {{else}}
                                عند قيامك بالتسجيل في البوابة، فإننا نقوم بجمع ما يلي:
                                {{/is}}
                            </p>
                            <ul>
                                <li>
                                    {{#is language "en"}}
                                    your e-mail address
                                    {{else}}
                                    عنوان بريدك الإلكتروني
                                    {{/is}}
                                </li>

                                <li>
                                    {{#is language "en"}}
                                    your organisation name and description
                                    {{else}}
                                    اسم ووصف المنظمة التي تتبعها
                                    {{/is}}
                                </li>
                            </ul>
                            <p> {{#is language "en"}}
                                We then use your e-mail address to send an activation link for the Portal account
                                set-up.
                                {{else}}
                                ومن ثم نستخدم عنوان بريدك الإلكتروني لإرسال رابط تفعيل إنشاء حسابك على البوابة.
                                {{/is}}
                            </p>
                            <p>
                                {{#is language "en"}}
                                When the activation link has been sent from ADCB, we ask you to provide your:
                                {{else}}
                                عند قيام بنك أبوظبي التجاري بإرسال رابط التفعيل، فإننا نطلب منك تزويدنا بما يلي:
                                {{/is}}
                            </p>
                            <ul>
                                <li>
                                    {{#is language "en"}}
                                    first name and last name
                                    {{else}}
                                    الاسم الأول واسم العائلة
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    user name
                                    {{else}}
                                    اسم المستخدم
                                    {{/is}}
                                </li>
                                <li>

                                    {{#is language "en"}}
                                    password
                                    {{else}}
                                    كلمة المرور
                                    {{/is}}
                                </li>
                            </ul>

                            <p> {{#is language "en"}}
                                We also ask you to accept our Terms and Conditions and Privacy Notice.
                                {{else}}
                                كما نطلب منك أيضاً قبول الأحكام والشروط وإشعار الخصوصية.
                                {{/is}}
                            </p>
                            <p> {{#is language "en"}}
                                Once you are approved the use the Portal, we may collect information if you
                                experience problems when using it.
                                {{else}}
                                متى تمت الموافقة على استخدامك للبوابة، فقد نقوم بجمع المعلومات إذا ما صادفتك مشكلات
                                في
                                استخدام البوابة.
                                {{/is}}
                            </p>

                            <p>
                                {{#is language "en"}}
                                We will obtain your expressed consent before sending you emails containing marketing
                                or
                                other offers.
                                {{else}}
                                وسوف نحصل على موافقة صريحة منك قبل إرسال رسائل إلكترونية تحتوي على عروض تسويقية أو
                                غيرها.
                                {{/is}}
                            </p>
                            <p>
                                {{#is language "en"}}
                                We hold the personal information you provide to us. You can access and/or change
                                information in connection with your developer accounts by logging on to your account
                                at the Portal.
                                {{else}}
                                نحتفظ بالمعلومات الشخصية التي تزودنا بها، ويُمكنك الوصول إلى و/أو تغيير المعلومات
                                المتصلة بحسابات المطور عن طريق تسجيل الدخول إلى حسابك على البوابة.
                                {{/is}}
                            </p>

                        </div>
                        <!-- end c-cms-content -->
                    </div>
                </div>


                <div class="accordion-item js-acc-item" data-index="0" data-state="collapsed">
                    <a href="#" class="accordion-item__title js-acc-title icon-add">
                        <span>
                            {{#is language "en"}}
                            If you fail to provide personal data
                            {{else}}
                            في حال إخفاقك في تقديم البيانات الشخصية
                            {{/is}}
                        </span>
                    </a>
                    <div class="accordion-item__content js-acc-content">
                        <!-- start c-cms-content -->
                        <div class="c-cms-content">
                            <p>
                                {{#is language "en"}}
                                Where we need to collect personal data due to the requirements of applicable law or
                                professional standards and you fail to provide that data when requested, we may have
                                to
                                decline a request for services or, if we are already acting, stop providing you with
                                our
                                services. We will notify you if this is the case at the time.
                                {{else}}
                                عند احتياجنا إلى جمع البيانات الشخصية امتثالاً إلى متطلبات القوانين المطبقة أو
                                المعايير
                                المهنية، وأخفقت أنت في توفير البيانات التي طلبناها منك، فقد نضطر إلى رفض أي طلب
                                للخدمات
                                أو التوقف عن تزويدك بخدماتنا. وسوف نُخطرك إذا كان الحال كذلك في حينه
                                {{/is}}
                            </p>

                            <h2 class="c-calculator-table__tnc-title">
                                {{#is language "en"}}
                                HOW YOUR PERSONAL DATA IS COLLECTED
                                {{else}}
                                كيفية جمع بياناتك الشخصية
                                {{/is}}
                            </h2>

                            <p>
                                {{#is language "en"}}
                                We only collect your personal information directly from you, including:
                                {{else}}
                                نقوم بجمع بياناتك الشخصية منك فقط، بما في ذلك:
                                {{/is}}
                            </p>
                            <ul>
                                <li>
                                    {{#is language "en"}}
                                    when you provide it on-line or by any other method of communication, for
                                    example, on
                                    "contact us" forms, or when you provide it through the course of our
                                    relationship,
                                    for example, if you inform us of a change in your circumstances; and
                                    {{else}}
                                    عندما توفّرها عبر الإنترنت أو بأي وسيلة اتصال أخرى مثل على سبيل المثال نماذج
                                    "اتصل
                                    بنا"، أو عندما تُقدّمها في سياق تعاملك معنا، مثل في حال قمت بإخطارنا بأي تغيير
                                    يطرأ
                                    على حالتك، و
                                    {{/is}}
                                </li>

                                <li> {{#is language "en"}}
                                    technical information, including the Internet Protocol (IP) address used to
                                    connect
                                    to the internet, may be collected from you when you visit our website
                                    {{else}}
                                    المعلومات التقنية، بما في ذلك عنوان بروتوكول الإنترنت المستخدم للاتصال
                                    بالإنترنت،
                                    عند زيارتك لموقعنا الإلكتروني
                                    {{/is}}
                                </li>
                            </ul>

                            <h2 class="c-calculator-table__tnc-title">
                                {{#is language "en"}}
                                HOW YOUR PERSONAL DATA IS USED
                                {{else}}
                                كيفية استخدام بياناتك الشخصية
                                {{/is}}
                            </h2>
                            <p>
                                {{#is language "en"}}
                                We will only use your personal data when the law allows us to. For example, we will
                                use your personal data in the following circumstances:
                                {{else}}
                                سوف نستخدم بياناتك الشخصية فقط للحد المسموح به قانوناً، مثل على سبيل المثال، في
                                الحالات
                                التالية:
                                {{/is}}
                            </p>
                            <ul>
                                <li>
                                    {{#is language "en"}}
                                    To protect against and prevent fraud, unauthorized transactions, claims and
                                    other
                                    liabilities, and manage risk exposure, including by identifying potential
                                    hackers
                                    and other unauthorized users
                                    {{else}}
                                    للحماية من ومنع التحايل، والمعاملات غير المصرح بها، والمطالبات والمسؤوليات
                                    الأخرى،
                                    ولإدارة التعرض للمخاطر، بما في ذلك تحديد المخترقين المحتملين والمستخدمين غير
                                    المخولين.
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    To comply with a legal or regulatory obligation
                                    {{else}}
                                    للامتثال إلى أي التزامات قانونية أو تنظيمية.
                                    {{/is}}
                                </li>
                                <li> {{#is language "en"}}
                                    To perform the contract we are about to enter into, or have entered into, with
                                    you
                                    {{else}}
                                    لتنفيذ التعاقد الوشيك، أو التعاقد المُبرم معك.
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    Where it is necessary for the purposes of legal proceedings
                                    {{else}}
                                    حيثما يكون ذلك ضرورياً لأغراض الإجراءات القضائية.
                                    {{/is}}
                                </li>
                                <li>

                                    {{#is language "en"}}
                                    In limited circumstances, where we have your written consent, in which case we
                                    will
                                    provide you fill full details of the information that we would like and the
                                    reason
                                    we need it, so that you can carefully consider whether you wish to consent. You
                                    should be aware that you have the right to withdraw your consent at any time,
                                    either
                                    by using the 'unsubscribe' or 'preferences' option in the email or text message
                                    (where applicable) or by ‘<a href="mailto:customercare@adcb.com">contacting</a>’
                                    our
                                    Customer Care Team.
                                    {{else}}
                                    في حالات محدودة وبمقتضى موافقتك الخطية وفي حينه، فإننا نزودك بتفاصيل كاملة حول
                                    المعلومات التي نطلبها وسبب طلبها، لكي يتسنى لك النظر ملياً فيما إذا كنت ترغب في
                                    الموافقة. كما يجب أن تعلم أنه يكون من حقك سحب موافقتك في أي وقت، إما باستخدام
                                    خيار
                                    "إلغاء الاشتراك" أو "التفضيلات" في الرسالة الإلكترونية أو النصية (حيثما ينطبق)،
                                    أو
                                    عن طريق الاتصال بفريق خدمة العملاء عبر <a
                                        href="mailto:customercare@adcb.com">customercare@adcb.com</a>
                                    {{/is}}
                                </li>
                            </ul>
                            <p>
                                {{#is language "en"}}
                                Please refer to the table below to find out more about the types of lawful basis
                                that we
                                will rely on to process your personal data.
                                {{else}}
                                يرجى الاطلاع على الجدول أدناه للتعرف أكثر على أنواع الأسس القانونية التي سوف نعتمدها
                                لمعالجة بياناتك الشخصية.
                                {{/is}}
                            </p>


                            <h2 class="c-calculator-table__tnc-title">
                                {{#is language "en"}}
                                Lawful basis for processing and the Purposes for which we will use your personal
                                data
                                {{else}}
                                الأسس القانونية والأغراض التي بموجبها سوف نقوم باستخدام بياناتك الشخصية

                                {{/is}}
                            </h2>
                            <p>
                                {{#is language "en"}}
                                We have set out below the ways we plan to use your personal data, and which of the
                                legal
                                bases we rely on to do so. We have also identified what our legitimate interests
                                are,
                                where appropriate.
                                {{else}}
                                نوضح فيما يلي الأساليب التي نستخدم بياناتك الشخصية من خلالها، والأسس القانونية التي
                                نعتمدها في ذلك، فضلاً عن تحديدنا لمصالحنا المشروعة، حيثما كان ذلك ملائماً.
                                {{/is}}
                            </p>
                            <p>


                                {{#is language "en"}}
                                Note that we may process your personal data for more than one lawful ground
                                depending on
                                the specific purpose for which we are using your data. Please ‘<a
                                    href="mailto:dataprivacy@adcb.com">contact</a>’ the Privacy Team if you need
                                details
                                about the specific legal ground we are relying on to process your personal data
                                where
                                more than one ground has been set out in the table below.
                                {{else}}
                                يرجى العلم بأننا قد نُعالج بياناتك الشخصية بالاستناد إلى أكثر من أساس قانوني، بحسب
                                الغرض
                                المحدد الذي يستوجب استخدام بياناتك. يرجى التواصل مع فريق الخصوصية
                                عبر <a href="mailto:dataprivacy@adcb.com">dataprivacy@adcb.com</a> إذا ما احتجت إلى
                                الاطلاع على أي تفاصيل خاصة بالأسس القانونية
                                المحددة التي نعتمدها في معالجة بياناتك الشخصية، وذلك حال ذُكر أكثر من سند قانوني في
                                الجدول أدناه.
                                {{/is}}
                            </p>
                            {{#is language "en"}}
                            <table class="c-cms-content-table-responsive">
                                <thead>
                                    <tr>
                                        <th class="first-w">Stage</th>
                                        <th class="middle-w">Purpose/activity</th>
                                        <th class="last-w">Lawful basis for processing</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="">Signing up to the Portal</td>
                                        <td data-label="">
                                            <p>
                                                We process your personal information, which are your e-mail address
                                                and
                                                your organisation details, in order to consider and process your
                                                access
                                                to the Portal.
                                            </p>
                                            <p>This is necessary in order to take steps at your request. </p>
                                            <p>This type of processing is required in order for you to enter into an
                                                agreement with us. If you do not provide it then we cannot proceed
                                                with
                                                your access. </p>


                                        </td>
                                        <td data-label="">
                                            <p>(i) Legal obligation</p>
                                            <p>(ii) Performance of a contract</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="">
                                            Visit(s) to the Portal
                                        </td>
                                        <td data-label="">
                                            <p>We process your IP-address of the device you use to connect to the
                                                Internet. In addition, we gather information such as what browser
                                                and
                                                which version of it you're using, the type of operating system you
                                                have,
                                                and which site you came from. </p>
                                            <p>This device information helps us provide an online experience that
                                                matches your device and to manage your interaction with our APIs and
                                                the
                                                Portal.</p>
                                        </td>
                                        <td data-label="">
                                            <p>(i) Performance of a contract</p>
                                            <p>(ii) Legitimate interests</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="">
                                            <p>Business operations</p>
                                        </td>
                                        <td data-label="">
                                            <p>In order to fulfil the contract, we will process your personal
                                                information to manage your requests and your account. We will
                                                process
                                                your personal data when you create a new application to test and use
                                                our
                                                APIs and the thereto related applications.</p>
                                            <p>
                                                We will process your personal information for our business
                                                operations,
                                                for example, our internal governance functions, which will include
                                                monitoring communications and activities in relation to your
                                                account,
                                                and for accounting and audit purposes. We have legitimate interests
                                                in
                                                doing so (i.e. it is necessary for our business and compliance
                                                purposes)
                                                and we may also have legal obligations to fulfil.
                                            </p>
                                        </td>
                                        <td data-label="">
                                            <p>(i) Performance of a contract</p>
                                            <p>(ii) Legitimate interests</p>
                                            <p>(ii) Legal obligation</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Assisting you in the exercise of your rights</td>
                                        <td>
                                            <p>
                                                If we are dealing with a request you have made in order to help you
                                                if
                                                you experience a problem, or for you to exercise your legal and
                                                regulatory rights, this will be done in order to fulfil our legal
                                                obligation to respond to you.
                                            </p>
                                        </td>
                                        <td>
                                            <p>(i) Performance of a contract</p>
                                            <p>(ii) Legal obligation</p>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Marketing</td>
                                        <td>
                                            <p>We process your personal information for marketing purposes. This is
                                                necessary in order to fulfil our legitimate interests of providing
                                                you
                                                with information about products and services that you may be
                                                interested
                                                in.</p>
                                        </td>
                                        <td>
                                            <p>(i) Consent</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Storage</td>
                                        <td>
                                            We store your usage data, and the API-data, for you to be able to use
                                            the
                                            portal.
                                        </td>
                                        <td>
                                            (i) Performance of a contract
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Retention</td>
                                        <td>After your agreement has ended we will retain your personal data in
                                            accordance with our record retention procedures and to comply with our
                                            legal
                                            obligations.</td>
                                        <td>
                                            <p>(i)) Legal obligation </p>
                                            <p>(ii) Legitimate interests</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {{else}}
                            <table class="c-cms-content-table-responsive">
                                <thead>
                                    <tr>


                                        <th class="first-w">الأساس القانوني للمعالجة</th>
                                        <th class="middle-w">الغرض/النشاط</th>
                                        <th class="last-w">المرحلة</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td data-label="">
                                            <p>(1) التزام قانوني</p>
                                            <p>(2) تنفيذ التعاقد</p>
                                        </td>
                                        <td data-label="">
                                            <p>
                                                نُعالج معلوماتك الشخصية المتمثلة في عنوان بريدك الإلكتروني،
                                                والتفاصيل
                                                الخاصة بمؤسستك، بغرض النظر في
                                                وإنجاز طلبك الخاص بالدخول إلى البوابة.
                                                هذا أمر ضروري من أجل اتخاذ الخطوات اللازمة بناءً على طلبك.
                                            </p>
                                            <p>هذا النوع من المعالجة ضرورية لكي تتمكن أنت من عقد اتفاقية معنا. إذا
                                                لم
                                                تقم بتوفير هذه المعلومات، فلن
                                                نتمكن من السماح لك بالدخول إلى البوابة.</p>
                                        </td>
                                        <td data-label="">الاشتراك أو التسجيل في البوابة</td>


                                    </tr>
                                    <tr>
                                        <td data-label="">
                                            <p>(1) تنفيذ التعاقد</p>
                                            <p>(2) مصالح مشروعة</p>
                                        </td>
                                        <td data-label="">
                                            <p>
                                                نُعالج عنوان بروتوكول الإنترنت الخاص بالجهاز الذي تستخدمه للاتصال
                                                بالإنترنت. بالإضافة إلى ذلك، فإننا
                                                نجمع معلومات مثل المتصفح ورقم الإصدار الذي تستخدمه، ونوع نظام
                                                التشغيل،
                                                والموقع الذي أتيت منه.
                                            </p>
                                            <p>
                                                المعلومات المتعلقة بالجهاز تساعدنا على تقديم تجربة تطابق جهازك،
                                                ولإدارة
                                                تفاعلك مع واجهة برمجة
                                                التطبيقات والبوابة.
                                            </p>
                                        </td>
                                        <td data-label="">
                                            زيارة / زيارات البوابة
                                        </td>
                                    </tr>
                                    <tr>
                                        <td data-label="">
                                            <p>(1) تنفيذ التعاقد</p>
                                            <p>(2) مصالح مشروعة</p>
                                            <p>(3) التزام قانوني</p>
                                        </td>
                                        <td data-label="">
                                            <p>
                                                من أجل تنفيذ التعاقد، سوف نُعالج معلوماتك الشخصية لإدارة طلباتك
                                                وحسابك.
                                                كما نُعالج بياناتك الشخصية
                                                عند إنشائك تطبيقاً جديداً ليتم اختباره واستخدام واجهة برمجة
                                                التطبيقات،
                                                والتطبيقات المتصلة بها.
                                            </p>
                                            <p>
                                                كما سوف نقوم بمعالجة معلوماتك الشخصية لغايات عمليات الأعمال الأخرى،
                                                مثل
                                                وظائف الحوكمة الداخلية التي
                                                سوف تتضمن مراقبة الاتصالات والأنشطة المتعلقة بحسابك، ولغايات
                                                المحاسبة
                                                والتدقيق.
                                            </p>
                                            <p>
                                                لدينا مصالح مشروعة في ذلك (أي أن تلك الأعمال تُعد ضرورية لغايات
                                                عملياتنا
                                                وشروط امتثالنا)، كما قد
                                                تكون لدينا التزامات قانونية يجب الوفاء بها.
                                            </p>
                                        </td>
                                        <td data-label="">
                                            <p>عمليات الأعمال</p>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                (1) تنفيذ التعاقد
                                            </p>
                                            <p>
                                                (2) التزام قانوني
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                حال تعاملنا مع طلب تقدمت به من أجل مساعدتك على تجاوز مشكلة ما، أو
                                                لكي
                                                يتسنى لك ممارسة حقوقك النظامية
                                                والقانونية، سيتم ذلك للوفاء بالتزامنا القانوني القاضي بالرد عليك.
                                            </p>
                                        </td>
                                        <td>مساعدتك على ممارسة حقوقك</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>(1) الموافقة</p>
                                        </td>
                                        <td>
                                            <p>
                                                نُعالج معلوماتك الشخصية لغايات تسويقية، وهو أمر ضروري لتلبية مصالحنا
                                                المشروعة المتمثلة في تزويدك
                                                بمعلومات حول منتجات وخدمات قد تكون مهتماً بها.
                                            </p>
                                        </td>
                                        <td>التسويق</td>


                                    </tr>
                                    <tr>
                                        <td>
                                            <p>(1) تنفيذ التعاقد</p>
                                        </td>
                                        <td>
                                            <p>
                                                نقوم بتخزين بيانات استخدامك، وبيانات واجهة برمجة التطبيقات، لكي
                                                تتمكن من
                                                استخدام البوابة.
                                            </p>
                                        </td>
                                        <td>التخزين</td>


                                    </tr>
                                    <tr>
                                        <td>
                                            <p>
                                                (1) التزام قانوني
                                            </p>
                                            <p>
                                                (2) مصالح مشروعة
                                            </p>
                                        </td>
                                        <td>
                                            <p>بعد انتهاء اتفاقيتك، سوف نحتفظ ببياناتك الشخصية وفق إجراءات الاحتفاظ
                                                بالسجلات، وللامتثال لالتزاماتنا
                                                القانونية.</p>
                                        </td>
                                        <td>الاحتفاظ بالبيانات</td>


                                    </tr>
                                </tbody>
                            </table>
                            {{/is}}

                        </div>
                        <!-- end c-cms-content -->
                    </div>
                </div>

                <div class="accordion-item js-acc-item" data-index="0" data-state="collapsed">
                    <a href="#" class="accordion-item__title js-acc-title icon-add">
                        <span>
                            {{#is language "en"}}
                            Marketing from us
                            {{else}}
                            مراسلات التسويق الواردة منا
                            {{/is}}
                        </span>
                    </a>
                    <div class="accordion-item__content js-acc-content">
                        <!-- start c-cms-content -->
                        <div class="c-cms-content">
                            <p>
                                {{#is language "en"}}
                                You will only receive marketing communications from us if you have consented to it,
                                requested information from us or used our services or if you provided us with your
                                details in a marketing context and, in each case, you have not opted out of
                                receiving that marketing.
                                {{else}}
                                تصلك مراسلات تسويق منا فقط في حال موافقتك على ذلك، أو إذا ما قمت بطلب معلومات منا،
                                أو
                                استعملت خدماتنا، أو زوّدتنا ببياناتك المفصلة في سياق تسويقي، وفي كل الحالات السابقة،
                                لم
                                تكن اخترت عدم تلقّي مراسلات التسويق.
                                {{/is}}
                            </p>
                            <p>
                                {{#is language "en"}}
                                You can ask us to stop sending you marketing messages at any time by following the
                                opt-out links on any marketing message sent to you or by ‘<a
                                    href="mailto:customercare@adcb.com">contacting</a>’ the Customer Care Team at
                                any time. Where you opt-out of receiving these marketing messages, this will not apply
                                to personal data provided to us for other purposes.
                                {{else}}
                                يُمكنك أن تطلب منا التوقف عن إرسال رسائل تسويقية لك في أي وقت، وذلك باتباع الروابط
                                الخاصة الموجودة في تلك الرسائل، أو عبر الاتصال بفريق خدمة العملاء على <a
                                    href="mailto:customercare@adcb.com">customercare@adcb.com</a>. متى قررت عدم تلقي
                                تلك
                                الرسائل التسويقية، فلن ينطبق ذلك على البيانات الشخصية المقدمة لنا لأغراض أخرى.
                                {{/is}}
                            </p>
                        </div>
                        <!-- end c-cms-content -->
                    </div>
                </div>
                <div class="accordion-item js-acc-item" data-index="0" data-state="collapsed">
                    <a href="#" class="accordion-item__title js-acc-title icon-add">
                        <span>
                            {{#is language "en"}}
                            Change of purpose
                            {{else}}
                            تغيير الغرض
                            {{/is}}
                        </span>
                    </a>
                    <div class="accordion-item__content js-acc-content">
                        <!-- start c-cms-content -->
                        <div class="c-cms-content">
                            <p> {{#is language "en"}}
                                We will only use your personal data for specified, explicit and legitimate purposes
                                which are compatible with the purposes determined at the time we collected the
                                personal
                                data.
                                {{else}}
                                سوف نستخدم بياناتك الشخصية لغايات أو أغراض محددة وصريحة ومشروعة، تكون متوافقة مع
                                الأغراض
                                الموضحة في وقت قيامنا بجمع تلك البيانات الشخصية.
                                {{/is}}
                            </p>
                            <p>
                                {{#is language "en"}}
                                If we need to use your personal data for a new and unrelated purpose, we will notify you
                                and we will explain the legal basis which allows us to do so. Please note that we may
                                process your personal data without your knowledge or consent, in compliance with the
                                above
                                rules, where this is required or permitted by law.
                                {{else}}
                                إذا ما احتجنا إلى استخدام بياناتك الشخصية لغرض جديد وغير ذي صلة، فسوف نبادر بإخطارك
                                وبشرح
                                السند القانوني الذي سمح لنا بذلك. يرجى العلم بأننا قد نُعالج بياناتك الشخصية دون علمك أو
                                موافقتك، وذلك امتثالاً إلى النظم واللوائح المبينة أعلاه، حيثما اقتضت أو سمحت القوانين
                                بذلك.
                                {{/is}}
                            </p>

                            <h2 class="c-calculator-table__tnc-title">
                                {{#is language "en"}}
                                DISCLOSURES OF YOUR PERSONAL DATA
                                {{else}}
                                الإفصاح عن بياناتك الشخصية
                                {{/is}}</h2>


                            <p> {{#is language "en"}}
                                We will not share your personal data with any third parties without your knowledge
                                or if
                                the sharing would be required by law.
                                {{else}}
                                لن نُشارك بياناتك الشخصية مع أي أطراف ثالثة دون علمك، إلا إذا اقتضت القوانين ذلك.
                                {{/is}}
                            </p>
                            <p> {{#is language "en"}}
                                We require all third parties to respect the security of your personal data and to
                                treat
                                it in accordance with the law. We do not allow our third-party service providers to
                                use
                                your personal data for their own purposes and only permit them to process your
                                personal
                                data for specified purposes and in accordance with our instructions.
                                {{else}}
                                وسنطلب من كافة الأطراف الثالثة احترام أمن بياناتك الشخصية والتعامل معها وفق ما ينص
                                عليه
                                القانون. كما أننا لن نسمح لمزودي خدماتنا من الأطراف الثالثة باستخدام بياناتك الشخصية
                                لأغراضهم الخاصة، مع السماح لهم فقط بمعالجة بياناتك الشخصية لأغراض محددة فقط ووفق ما
                                تقتضيه تعليماتنا.
                                {{/is}}
                            </p>
                            <h2 class="c-calculator-table__tnc-title">
                                {{#is language "en"}}
                                INTERNATIONAL TRANSFERS
                                {{else}}
                                نقل البيانات دولياً
                                {{/is}}
                            </h2>



                            <p> {{#is language "en"}}
                                Your personal data will be shared with Internal Third Parties. In some circumstances
                                where the law permits, this will involve us transferring your data from one
                                jurisdiction
                                to another, either inside or outside the United Arab Emirates (“UAE”).
                                {{else}}
                                ستتم مشاركة بياناتك الشخصية مع أطراف ثالثة داخلياً، وفي بعض الحالات وللحد المسموح به
                                قانوناً، سيشمل ذلك نقل بياناتك من سلطة قضائية إلى أخرى، إما داخل أو خارج دولة
                                الإمارات
                                العربية المتحدة ("الإمارات").
                                {{/is}}
                            </p>
                            <p> {{#is language "en"}}
                                When we transfer your personal information to any other territories or countries, we
                                will take such steps as are necessary to ensure appropriate safeguards apply to
                                maintain
                                the same levels of protection as are needed under data protection laws. If we do so
                                you
                                may contact us to obtain a copy of the applicable safeguards.
                                {{else}}
                                عندما نقوم بنقل معلوماتك الشخصية إلى أي أقاليم أو دول أخرى، فسوف نتخذ الخطوات
                                اللازمة
                                لضمان وجود تدابير احترازية كافية تحافظ على نفس مستويات الحماية التي تستوجبها قوانين
                                حماية البيانات. إذا قمنا بذلك، يُمكنك الاتصال بنا للحصول على نسخة من التدابير
                                الاحترازية
                                المنطبقة.
                                {{/is}}
                            </p>

                            <h2 class="c-calculator-table__tnc-title">
                                {{#is language "en"}}
                                DATA SECURITY
                                {{else}}
                                أمن البيانات
                                {{/is}}
                            </h2>



                            <p> {{#is language "en"}}
                                We have put in place appropriate security measures to prevent your personal data
                                from
                                being accidentally lost, used or accessed in an unauthorised way, altered or
                                disclosed. In addition, we limit access to your personal data to those employees,
                                agents,
                                contractors and other third parties who have a business need to know. They will only
                                process your personal data on our instructions and they are subject to a duty of
                                confidentiality.
                                {{else}}
                                حرصنا على إرساء تدابير أمنية ملائمة لمنع فقدان أو استخدام أو الوصول غير المصرح أو
                                تعديل
                                أو الإفصاح عن بياناتك الشخصية دون قصد، بالإضافة إلى حرصنا على تقييد الوصول إلى
                                بياناتك
                                الشخصية وقصره على الموظفين والوكلاء والمتعهدين والأطراف الثالثة الأخرى التي بحاجة
                                إلى
                                المعرفة لأغراض الأعمال. وسوف تتولى تلك الأطراف معالجة بياناتك الشخصية فقط بالاستناد
                                إلى
                                تعليماتنا، مع التزامها بواجب مراعاة السرية.
                                {{/is}}
                            </p>
                            <p> {{#is language "en"}}
                                We have put in place procedures to deal with any suspected personal data breach and
                                will notify you and any applicable regulator of a breach where we are legally required
                                to do so.
                                {{else}}
                                كما أرسينا أيضاً إجراءات للتعامل مع أي اختراق محتمل للبيانات الشخصية، وسوف نقوم
                                بإخطارك
                                وأي جهة تنظيمية ذات صلة بأي خرق، حيثما نكون مطالبين بذلك قانوناً.
                                {{/is}}
                            </p>

                            <h2 class="c-calculator-table__tnc-title">
                                {{#is language "en"}}
                                DATA RETENTION
                                {{else}}
                                الاحتفاظ بالبيانات
                                {{/is}}
                            </h2>



                            <p> {{#is language "en"}}
                                We will only retain your personal data for as long as necessary to fulfil the
                                purposes
                                we collected it for, including for the purposes of satisfying any legal, accounting,
                                or reporting requirements.
                                {{else}}
                                سوف نحتفظ ببياناتك الشخصية فقط للمدة الزمنية اللازمة لتلبية الغرض والغاية من جمعها،
                                بما
                                في ذلك للوفاء بأي متطلبات قانونية أو محاسبية أو رقابية.
                                {{/is}}
                            </p>
                            <p>
                                {{#is language "en"}}
                                To determine the appropriate retention period for personal data, we consider the
                                amount,
                                nature, and sensitivity of the personal data, the potential risk of harm from
                                unauthorized use or disclosure of your personal data, the purposes for which we
                                process
                                your personal data and whether we can achieve those purposes through other means,
                                and
                                the applicable legal requirements.
                                {{else}}
                                نأخذ بعين الاعتبار حجم، وطبيعة، وحساسية البيانات الشخصية عند تحديد المدة الزمنية
                                الملائمة للاحتفاظ بها، وكذلك المخاطر المحتملة التي قد تنجم عن الاستخدام غير المصرح
                                أو
                                الإفصاح عن بياناتك الشخصية، والغرض الذي من أجله نقوم بمعالجتها وإذا ما كان بمقدورنا
                                تحقيق تلك الأغراض عبر وسائل أخرى، والمتطلبات القانونية المنطبقة.
                                {{/is}}
                            </p>
                            <p>
                                {{#is language "en"}}
                                In some circumstances you can ask us to delete your data: see “Request Erasure”
                                below
                                for further information.
                                {{else}}
                                وفي بعض الحالات، يُمكنك أن تطلب منا حذف بياناتك: انظر "طلب الحذف" أدناه للمزيد من
                                التفاصيل.
                                {{/is}}
                            </p>

                            <h2 class="c-calculator-table__tnc-title">
                                {{#is language "en"}}
                                YOUR RIGHTS IN RESPECT OF YOUR PERSONAL DATA
                                {{else}}
                                حقوقك المتعلقة ببياناتك الشخصية
                                {{/is}}
                            </h2>



                            <p>
                                {{#is language "en"}}
                                Under certain circumstances, you may have rights under data protection laws in
                                relation
                                to the personal data we hold about you, including:
                                {{else}}
                                في بعض الحالات المحددة، قد تكون لك بعض الحقوق وفق قوانين حماية البيانات، وذلك فيما
                                يتعلق
                                بالبيانات الشخصية التي نحتفظ بها، والتي من ضمنها:
                                {{/is}}
                            </p>
                            <ul>
                                <li>
                                    {{#is language "en"}}
                                    <b>Request access</b> to your personal data (commonly known as a “data
                                    subject access
                                    request”). This enables you to receive a copy of the personal data we hold about
                                    you
                                    and to check that we are lawfully processing it.
                                    {{else}}
                                    طلب الوصول إلى بياناتك الشخصية (ويُعرف باسم "طلب وصول إلى موضوع البيانات")، الذي
                                    يُمكّنك من الحصول على نسخة من البيانات الشخصية التي نحتفظ بها والتحقق من قيامنا
                                    بمعالجتها بشكلٍ قانوني.
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    <b> Request correction of the personal data that we hold about you. </b>
                                    This enables you to have any incomplete or inaccurate data we hold about you
                                    corrected, though we may
                                    need to verify the accuracy of the new data you provide to us.
                                    {{else}}
                                    طلب تصحيح البيانات الشخصية، والذي يُمكّنك من طلب تصحيح أي معلومات غير مكتملة أو
                                    غير
                                    دقيقة عنك. وقد نحتاج إلى التحقق من دقة البيانات الجديدة التي تزوّدنا بها.
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    <b>Request erasure</b> of your personal data. This enables you to ask us to delete or
                                    remove personal data where there is no good reason for us continuing to process
                                    it.
                                    You also have the right to ask us to delete or remove your personal data where
                                    you
                                    have successfully exercised your right to object to processing (see below),
                                    where we
                                    may have processed your information unlawfully or where we are required to erase
                                    your personal data to comply with local law. Note, however, that we may not
                                    always
                                    be able to comply with your request of erasure for specific legal reasons which
                                    will
                                    be notified to you, if applicable, at the time of your request.
                                    {{else}}
                                    طلب حذف بياناتك الشخصية، والذي يتيح لك أن تطلب منا حذف أو إزالة البيانات الشخصية
                                    عند
                                    انقضاء سبب استمرارنا في معالجتها. كما يحق لك أيضاً طلب حذف أو إزالة بياناتك
                                    الشخصية،
                                    في حالة قيامك بممارسة حقك في الاعتراض على معالجتها (انظر أدناه)، وإذا ما قمنا
                                    نحن
                                    بمعالجة معلوماتك بطريقة غير قانونية، أو في حال استوجبت القوانين المحلية منا حذف
                                    بياناتك الشخصية. غير أنه قد لا يمكننا على الدوام الامتثال لطلب الحذف لأسباب
                                    قانونية
                                    محددة سيتم إخطارك بها، حال انطبق ذلك، في وقت طلبك.
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    <b>Object to processing</b> of your personal data where we are relying on a legitimate
                                    interest (or those of a third party) and there is something about your
                                    particular
                                    situation which makes you want to object to processing on this ground as you
                                    feel it
                                    impacts on your fundamental rights and freedoms. You also have the right to
                                    object
                                    where we are processing your personal data for direct marketing purposes. In
                                    some
                                    cases, we may demonstrate that we have compelling legitimate grounds to process
                                    your
                                    information which override your rights and freedoms.
                                    {{else}}
                                    الاعتراض على معالجة بياناتك الشخصية، حال قيامنا بالاستناد إلى مصالح مشروعة (أو
                                    مصالح
                                    أطراف ثالثة) ويوجد أمر متعلق بحالتك يجعلك ترغب في الاعتراض على معالجة البيانات
                                    على
                                    هذا الأساس، لشعورك بأنه يؤثر على حقوقك وحرياتك الأساسية. كما يحق لك أيضاً
                                    الاعتراض
                                    حيثما نقوم بمعالجة بياناتك الشخصية لأغراض تسويقية مباشرة. وفي بعض الحالات، قد
                                    نُبرهن
                                    على قيامنا بمعالجة معلوماتك بالاستناد إلى أسس مشروعة ومُقنعة قد تلغي حقوقك
                                    وحرياتك.
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    <b>Request restriction of processing</b> of your personal data. This enables you to ask
                                    us to suspend the processing of your personal data in the following scenarios: (a)
                                    if you want us to establish the data’s accuracy; (b) where our use of the data is
                                    unlawful but you do not want us to erase it; (c) where you need us to hold the
                                    data even if we no longer require it as you need it to establish, exercise or defend
                                    legal claims; or (d) you have objected to our use of your data but we need to
                                    verify whether we have overriding legitimate grounds to use it.
                                    {{else}}
                                    طلب تقييد معالجة بياناتك الشخصية، والذي يُمكّنك من أن تطلب منا تعليق معالجة
                                    بياناتك
                                    الشخصية وفق أي من السيناريوهات التالية: (أ) إذا رغبت في أن نؤكد على دقة
                                    البيانات،
                                    (ب) حيثما كان استخدامنا للبيانات غير قانوني ولكنك لا تريد منا حذفها، (ج) حيثما
                                    تحتاج
                                    إلى أن نحتفظ بالبيانات حتى إذا لم نعد نطلب ذلك، بسبب حاجتك إلى تأكيد أو ممارسة
                                    أو
                                    إثبات مطالبات قانونية، أو (د) اعتراضك على استخدامنا لبياناتك، مع حاجتنا إلى
                                    التحقق
                                    مما إذا كانت لدينا أسانيد مشروعة وقوية لاستخدامها
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    <b>Request the transfer</b> of your personal data to you or to a third party. We will
                                    provide to you, or a third party you have chosen, your personal data in a
                                    structured, commonly used, machine-readable format. Note that this right only
                                    applies to automated information which you initially provided consent for us to
                                    use
                                    or where we used the information to perform a contract with you.
                                    {{else}}
                                    طلب نقل بياناتك الشخصية إليك أو إلى أي طرف ثالث. سوف نقوم بتزويدك، أو الطرف
                                    الثالث
                                    الذي اخترته، ببياناتك الشخصية بشكل مُنظم، وشائع الاستخدام، وقابل للقراءة آلياً،
                                    مع
                                    العلم بأن هذا الحق يسري فقط على المعلومات المؤتمتة التي وافقت على قيامنا
                                    باستخدامها،
                                    أو حيثما استخدمنا تلك المعلومات لتنفيذ تعاقد معك.
                                    {{/is}}
                                </li>
                                <li>
                                    {{#is language "en"}}
                                    <b>Withdraw consent at any time </b>
                                    where we are relying on consent to process your personal data. However, this will not affect the lawfulness of any processing carried out before you withdraw your consent. If you withdraw your consent, we may not be able to provide certain products or services to you. We will advise you if this is the case at the time you withdraw your consent. You will also, under certain circumstances, have the right to data portability, meaning that you have the right to receive your personal data in a structured, commonly used and machine-readable format to transmit those data to another controller.
                                    {{else}}
                                    سحب الموافقة في أي وقت، عند اعتمادنا على موافقتك لمعالجة البيانات الشخصية. غير
                                    أن
                                    ذلك لن يؤثر على قانونية أي معالجة تمت قبل قيامك بسحب موافقتك. وفي حالة سحبك
                                    للموافقة، فقد لا نتمكن من توفير بعض المنتجات أو الخدمات لك، على أن نُخطرك بذلك
                                    في
                                    حينه. كما أنه، وفي بعض الحالات، يكون لك الحق في إمكانية نقل البيانات، بمعنى أنه
                                    يحق
                                    لك استلام بياناتك الشخصية بشكل منظم، وشائع الاستخدام، وقابل للقراءة آلياً، لنقل
                                    تلك
                                    البيانات إلى مُتحكّم آخر.
                                    {{/is}}
                                </li>
                            </ul>
                            <p>
                                {{#is language "en"}}
                                If you wish to exercise any of the rights set out above, please ‘<a
                                    href="mailto:dataprivacy@adcb.com">contact</a>’ the Privacy Office stating which
                                rights you wish to exercise.
                                {{else}}
                                في حال رغبتك في ممارسة أي من الحقوق المبينة أعلاه، يرجى التواصل مع مكتب الخصوصية عبر
                                <a href="mailto:dataprivacy@adcb.com">dataprivacy@adcb.com</a>، وذكر الحقوق التي
                                ترغب
                                في ممارستها.
                                {{/is}}
                            </p>
                        </div>
                        <!-- end c-cms-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>