---
title_en: Support
title_ar: Support
hasPage: true
page_directory:
jsencrypt: false
breadcumb1Has: true
breadcumb1Text: Support
breadcumb1Text-ar: الدعم
breadcumb1Link:
breadcumb2Has: false
---
{{>breadcrumb}}
<div class="site-content ">
    <div class="container ">
        <div class="center" id="ca-logo-name">
            <!-- Don't change the below class name. As same is using for fetching the logo from themes.-->
            <p class="page-title-small color-red">
                {{#is language "en"}}
                API MARKETPLACE
                {{else}}
                سوق واجهات برمجة التطبيقات API
                {{/is}}
            </p>
            <h1>
                {{#is language "en"}}
                Support
                {{else}}
                الدعم
                {{/is}}
            </h1>
        </div>
        <div class="container o-on-page-tabs">
            <div class="o-tabs-content__wrapper">
                <div class="o-comp o-tabs">
                    <div class="container -tab-only">
                        <div class="o-tabs__tab-nav__wrapper">
                            <div class="o-tabs__tab-nav__holder">
                                <div class="nav nav-prev hide"></div>
                                <div class="o-tabs__tab-nav ">

                                    <ul class="o-tabs__tab-nav-list">
                                        <li class="o-tabs__tab-nav-item is-selected">
                                            <a class="o-tabs__tab-nav-link--redirect is-active" href="support.html">
                                                {{#is language "en"}}
                                                FAQS
                                                {{else}}
                                                الأسئلة الأكثر تكراراً
                                                {{/is}}
                                            </a>
                                        </li>
                                        <li class="o-tabs__tab-nav-item">
                                            <a class="o-tabs__tab-nav-link--redirect" href="contact.html">
                                                {{#is language "en"}}
                                                CONTACT US
                                                {{else}}
                                                اتصل بنا
                                                {{/is}}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav nav-next"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="o-comp__content -no-top-pad container mb-0">
                <div class="c-cms-content">
                    <div class="o-comp feature-accordion-group js-acc-group api-page" data-sync="true">
                        <div class="o-comp__content container">
                            <div class="accordion-item js-acc-item" data-index="0" data-state="expanded">
                                <a href="#" class="accordion-item__title js-acc-title icon-minus">
                                    <span>
                                        {{#is language "en"}}
                                        What is API Marketplace by ADCB?
                                        {{else}}
                                        ما هي واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي التجاري؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: block;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        <p>
                                            {{#is language "en"}}
                                            The API Marketplace by ADCB is an API platform. Its purpose is to promote
                                            APIs offered by ADCB for existing and future partners, customers, and
                                            developers. If you are interested in our APIs, sign up to better understand
                                            our services.
                                            {{else}}
                                            واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي التجاري هي منصة مخصّصة
                                            لواجهات برمجة التطبيقات API. والغرض منها هو الترويج لواجهات برمجة التطبيقات
                                            API التي يقدمها بنك أبوظبي التجاري للشركاء والعملاء والمطورين الحاليين
                                            والمستقبليين. إذا كنت مهتماً بواجهة برمجة التطبيقات API الخاصة بنا، يرجى
                                            التسجيل الآن للتعرف على خدماتنا بشكل أفضل.
                                            {{/is}}

                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>

                            <div class="accordion-item js-acc-item" data-index="1" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span>
                                        {{#is language "en"}}
                                        Who is the API Marketplace by ADCB for?
                                        {{else}}
                                        من المستفيد من خدمات واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي
                                        التجاري؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        <p>
                                            {{#is language "en"}}
                                            The API Marketplace by ADCB is intended for developers, companies, or anyone
                                            interested in APIs.
                                            If you are innovative, creative, and want to enhance your customer
                                            experience by adding new features to your products, then the API Marketplace
                                            by ADCB is for you.
                                            {{else}}
                                            منصة واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي التجاري مخصص
                                            للمطورين أو الشركات أو أي شخص مهتم بواجهات برمجة التطبيقات API. إذا كنت
                                            تتطلع إلى الابتكار والتميز وترغب في تحسين تجربة عملائك من خلال إضافة ميزات
                                            جديدة إلى منتجاتك، فإن واجهة برمجة التطبيقات API Marketplace من بنك أبوظبي
                                            التجاري هي الحل المناسب لك.
                                            {{/is}}


                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>

                            <div class="accordion-item js-acc-item" data-index="2" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        Do I need to be an ADCB customer to use the APIs?
                                        {{else}}
                                        هل أحتاج إلى أن أكون من عملاء بنك أبوظبي التجاري لاستخدام واجهة برمجة التطبيقات
                                        API؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        <p>
                                            {{#is language "en"}}
                                            You don't have to be an ADCB customer to use the APIs offered on the API
                                            Marketplace by ADCB. However, you need to
                                            <a
                                                href="https://sandbox.adcb.com/pages/apimarketplace/sign-up-now.html">register</a>
                                            to have full access.
                                            {{else}}
                                            لا يتعين عليك أن تكون من أحد عملاء بنك أبوظبي التجاري لاستخدام واجهة برمجة
                                            التطبيقات API Marketplace التي يقدمها بنك أبوظبي التجاري. ومع ذلك، تحتاج إلى
                                            التسجيل للتمكن من الدخول إلى المنصة والاستفادة منها.
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>

                            <div class="accordion-item js-acc-item" data-index="3" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        Which APIs are available?
                                        {{else}}
                                        ما هي واجهات برمجة التطبيقات API المتوفرة؟
                                        {{/is}}</span></a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">

                                        <p>

                                            {{#is language "en"}}
                                            The APIs available can be found on the API catalogue page. For more
                                            information on the APIs, please sign up <a
                                                href="https://sandbox.adcb.com/pages/apimarketplace/sign-up-now.html">here</a>.
                                            If you can't find what you are looking for, contact us.
                                        </p>
                                        {{else}}
                                        يمكن التعرف على واجهات برمجة التطبيقات المتاحة في صفحة دليل واجهة برمجة
                                        التطبيقات API. لمزيد من المعلومات حول واجهات برمجة التطبيقاتAPIs، يرجى التسجيل
                                        هنا. إذا لم تتمكن من التوصل إلى ما تبحث عنه، يرجى الاتصال بنا.
                                        {{/is}}



                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>

                            <div class="accordion-item js-acc-item" data-index="4" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        Do I need to register to use the APIs?
                                        {{else}}
                                        هل أحتاج إلى التسجيل لاستخدام واجهة برمجة التطبيقات APIs؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">

                                        <p>
                                            {{#is language "en"}}
                                            Due to the secure nature of banking data, the Partner / Developer must
                                            register on this portal to get full access to the APIs and obtain the keys.
                                            The registration will need to be approved by the Bank. Once approved, the
                                            Developer can browse and access specific API, including their technical
                                            documentation.
                                            {{else}}
                                            نظراً لطبيعة البيانات المصرفية التي تتطلب توفير عامل الأمن، يجب على الشريك
                                            أو المطوّر التسجيل في هذه المنصة للتمكن من الوصول بشكل كامل إلى واجهات برمجة
                                            التطبيقات APIs والحصول على الشفرة اللازمة. يجب أن يوافق البنك على التسجيل
                                            وبمجرد الحصول على الموافقة، يمكن للمطوّر تصفح واجهة برمجة تطبيقات API محددة
                                            والوصول إليها والاطلاع على الوثائق التقنية.
                                            {{/is}}

                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>

                            <div class="accordion-item js-acc-item" data-index="5" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        What is the cost of using an API?
                                        {{else}}
                                        ما هي تكلفة استخدام واجهة برمجة التطبيقات API؟
                                        {{/is}}</span></a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        <p>
                                            {{#is language "en"}}
                                            The cost of using an ADCB API varies from one API to another. For detailed
                                            information, contact us <a href="support.html">here</a>.
                                        </p>
                                        {{else}}
                                        تختلف تكلفة استخدام واجهة برمجة التطبيقات API من بنك أبوظبي التجاري من واجهة إلى
                                        أخرى. للحصول على معلومات مفصّلة، يرجى التواصل معنا هنا.
                                        {{/is}}
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>

                            <div class="accordion-item js-acc-item" data-index="6" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        How do I get help/support?
                                        {{else}}
                                        كيف أحصل على المساعدة والدعم؟
                                        {{/is}}</span></a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        <p>
                                            {{#is language "en"}}
                                            If you have a question or need support with one of our APIs, contact
                                            us <a href="support.html">here</a>.
                                        </p>
                                        {{else}}
                                        إذا كان لديك أي سؤال أو استفسار أو كنت بحاجة إلى دعم في إحدى واجهات برمجة
                                        التطبيقات APIs يرجى التواصل معنا هنا.
                                        {{/is}}
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>
                            <div class="accordion-item js-acc-item" data-index="7" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        Is the data shared through the API protected?
                                        {{else}}
                                        هل البيانات المشتركة من خلال واجهة برمجة التطبيقات API تتمتع بالحماية؟
                                        {{/is}}</span></a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        <p>
                                            {{#is language "en"}}
                                            Yes, 100%. Data protection is one of our key pillars.
                                            {{else}}
                                            نعم البيانات تتمتع بالحماية بشكل تام. حماية البيانات هي إحدى ركائزنا
                                            الأساسية.
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>

                            <div class="accordion-item js-acc-item" data-index="8" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        How can I make suggestions or ask for enhancements?
                                        {{else}}
                                        كيف يمكنني تقديم اقتراح أو طلب بعض التحسينات؟
                                        {{/is}}</span></a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">

                                        <p> {{#is language "en"}}
                                            Connect. Collaborate. Create. That is what the API Marketplace by ADCB is
                                            all about. We'd love to hear your suggestions and ideas.
                                            {{else}}
                                            يسعدنا سماع اقتراحاتكم وآرائكم وتلبية طلباتكم. شعارنا في واجهة برمجة
                                            التطبيقات API من بنك أبوظبي التجاري هو تواصل - تعاون - إبداع. يرجى عدم
                                            التردد في التواصل معنا في أي وقت.
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>

                            <div class="accordion-item js-acc-item" data-index="9" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        How can I stay updated on ADCB APIs Roadmap?
                                        {{else}}
                                        كيف يمكنني البقاء على اطلاع دائم على خارطة طريق واجهات برمجة تطبيقات API من بنك
                                        أبوظبي التجاري؟
                                        {{/is}}</span></a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        <p>
                                            {{#is language "en"}}
                                            We are working on enhancing the API Marketplace by ADCB with additional
                                            features such as news and updates. Stay tuned.
                                            {{else}}
                                            نعمل بشكل دائم على تحسين واجهات برمجة التطبيقات API من بنك أبوظبي التجاري
                                            بميزات إضافية مثل الأخبار والتحديثات. ابقوا دائماً على اطلاع.
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>











                            <div class="accordion-item js-acc-item" data-index="10" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        How can I use the API in my application?
                                        {{else}}
                                        كيف يمكنني استخدام واجهات برمجة التطبيقات API في تطبيقي؟
                                        {{/is}}</span></a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        {{#is language "en"}}
                                        <p>
                                            Once the account is set up, swagger files can be viewed and downloaded.
                                            Sample request and response structures are available.
                                        </p>
                                        {{else}}
                                        {{/is}}
                                        <p>

                                            {{#is language "en"}}
                                            The API Marketplace is equipped with a 'Try-It-Out Feature' where developers
                                            can test APIs. To obtain the credentials for the Sandbox, developers will
                                            need to submit an application request. ADCB will review the request, and
                                            upon approval, the Developer will be able to use the Sandbox. Once the
                                            Developer is comfortable with the testing on the Sandbox, they can request
                                            credentials to access the test environment by submitting a separate
                                            application. The Developer can use these credentials to connect to test APIs
                                            using any REST client.
                                            {{else}}
                                            بمجرد إعداد الحساب، يمكن عرض ملفات swagger وتنزيلها. نماذج الطلبات
                                            والاستجابة لها متاحة. تم تجهيز واجهة برمجة التطبيقات API Marketplace بـميزة
                                            "جربها" حيث يمكن للمطورين اختبار واجهات برمجة التطبيقات APIs. للحصول على
                                            بيانات تسجيل الدخول لبيئة الاختبار المعزولة sandbox، سيحتاج المطورون إلى
                                            إرسال استمارة طلب وسيقوم بنك أبوظبي التجاري بالاطلاع على الطلب، وعند
                                            الموافقة، سيتمكن المطور من استخدام بيئة الاختبار المعزولة sandbox. بمجرد أن
                                            يختبر المطور بيئة الاختبار المعزولة sandbox ويجد ما يبحث عنه، يمكنه طلب
                                            بيانات الدخول للوصول إلى بيئة الاختبار من خلال تقديم طلب منفصل. يمكن للمطور
                                            استخدام بيانات الدخول المرسلة إليه للاتصال واختبار واجهات برمجة التطبيقاتAPI
                                            باستخدام أي عميل REST (رست: طريقة للوصل بين الحواسيب عبر الإنترنت)
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>
                            <div class="accordion-item js-acc-item" data-index="11" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        What can I do if the sandbox is not working?
                                        {{else}}
                                        ماذا أفعل إذا كانت بيئة الاختبار المعزولة sandbox لا تعمل؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">

                                        <p>
                                            {{#is language "en"}}
                                            If you encounter issues with the sandbox, you can contact us, and select the
                                            subject 'I'm having a technical issue'.
                                            {{else}}
                                            إذا واجهتك مشكلات في إعداد بيئة الاختبار المعزولة sandbox، فيمكنك الاتصال
                                            بنا واختيار الموضوع "أواجه مشكلة تقنية".
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>
                            <div class="accordion-item js-acc-item" data-index="12" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span> {{#is language "en"}}
                                        How can I test the API before implementation?
                                        {{else}}
                                        كيف يمكنني اختبار واجهة برمجة التطبيقات API قبل التنفيذ؟
                                        {{/is}}</span></a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        <p> {{#is language "en"}}
                                            Once the Developers are comfortable with the testing the API and want to
                                            implement it in his production environment, they can request credentials to
                                            access the Production environment by submitting a separate application.
                                            {{else}}
                                            بمجرد تجربة المطورين لبيئة الاختبار المعزولة Sandbox واكتشاف مزاياها، يمكنهم
                                            طلب بيانات الدخول للوصول إلى بيئة الاختبار من خلال تقديم طلب منفصل.
                                            {{/is}}
                                        </p>
                                        <p>
                                            {{#is language "en"}}
                                            Once ADCB approves the application request, the Developer can log on to the
                                            portal and start working using his keys. Developers can then use these
                                            credentials in their production environment to connect to ADCB Production
                                            APIs. ADCB will then inform them separately about the next steps of
                                            activities to be undertaken.
                                            {{else}}
                                            بمجرد موافقة بنك أبوظبي التجاري على الطلب، يمكن للمطور تسجيل الدخول إلى
                                            البوابة والبدء في العمل باستخدام الشفرة الخاصة به. يمكن للمطورين بعد ذلك
                                            استخدام بيانات تسجيل الدخول هذه للاتصال بواجهات اختبار برمجة التطبيقات
                                            باستخدام أي عميل REST (رست: طريقة للوصل بين الحواسيب عبر الإنترنت). سيقوم
                                            بنك أبوظبي التجاري بعد ذلك بإبلاغهم بشكل منفصل عن الخطوات التالية للأنشطة
                                            التي يتعين القيام بها.
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>








                            <div class="accordion-item js-acc-item" data-index="13" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span>
                                        {{#is language "en"}}
                                        How can I manage to get the API implemented in Production environment?
                                        {{else}}
                                        كيف يمكنني إدارة تطبيق واجهة برمجة التطبيقات API في بيئة الإنتاج؟
                                        {{/is}}

                                    </span></a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        {{#is language "en"}}
                                        <p>Once the Developers are comfortable with testing the API and want to
                                            implement it his production environment, they can request credentials to
                                            access the Production environment by submitting a separate application. </p>
                                        <p>Once ADCB approves the application request, the Developer can log on to the
                                            portal and start working using his keys. Developers can then use these
                                            credentials in their production environment to connect to ADCB Production
                                            APIs. ADCB will then inform them separately about the next steps of
                                            activities to be undertaken.</p> {{else}}
                                        <p>
                                           بمجرد أن ينتهي المطورون من اختبار واجهة برمجة التطبيقات API ويرغبون في تنفيذها في بيئة الإنتاج الخاصة بهم، يمكنهم طلب بيانات الدخول للوصول إلى بيئة الإنتاج من خلال تقديم طلب منفصل. بمجرد موافقة بنك أبوظبي التجاري على الطلب، يمكن للمطور تسجيل الدخول إلى البوابة والبدء في العمل باستخدام الشفرة الخاصة به. يمكن للمطورين بعد ذلك استخدام بيانات تسجيل الدخول هذه في بيئة الإنتاج الخاصة بهم للاتصال بواجهات برمجة تطبيقات API الخاصة بالانتاج من بنك أبوظبي التجاري. سيقوم بنك أبوظبي التجاري بعد ذلك بإبلاغهم بشكل منفصل عن الخطوات التالية للأنشطة التي يتعين القيام بها.
                                        </p>
                                        {{/is}}

                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>



                            <div class="accordion-item js-acc-item" data-index="14" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span>
                                        {{#is language "en"}}
                                        What do I do if I can't access my key?
                                        {{else}}
                                        ماذا أفعل إذا لم أتمكن من الوصول إلى الشفرة الخاصة بي؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">

                                        <p>
                                            {{#is language "en"}}
                                            If you enounter issues with accessing your keys, you can contact us, and
                                            select the subject 'I'm having a technical issue'.
                                            {{else}}
                                          إذا واجهتك مشكلات في الوصول إلى الشفرة الخاصة بك، فيمكنك الاتصال بنا واختيار الموضوع "أواجه مشكلة تقنية".
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>
                            <div class="accordion-item js-acc-item" data-index="15" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span>
                                        {{#is language "en"}}
                                        Where can I get support if I'm having trouble implementing an API into my
                                        platform?
                                        {{else}}
                                        كيف يمكنني الحصول على الدعم إذا كنت أواجه مشكلة في تنفيذ واجهة برمجة التطبيقات
                                        API في المنصة الخاصة بي؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        <p>
                                            {{#is language "en"}}
                                            If you encounter issues with the API implementation, you can contact us, and
                                            select the subject 'I'm having a technical issue'.
                                            {{else}}
                                            في حال واجهتك مشكلات في تنفيذ واجهة برمجة التطبيقات API، فيمكنك الاتصال بنا
                                            وتحديد الموضوع "أواجه مشكلة تقنية".
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>
                            <div class="accordion-item js-acc-item" data-index="16" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span>
                                        {{#is language "en"}}
                                        Why can't I access the APIs I've requested?
                                        {{else}}
                                        لماذا لا يمكنني الوصول إلى واجهات برمجة التطبيقات API التي طلبتها؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">

                                        <p>
                                            {{#is language "en"}}
                                            If you encounter issues accessing the APIs you've requested, you can contact
                                            us, and select the subject 'I'm having a technical issue'.
                                            {{else}}
                                            إذا واجهتك مشكلات في الوصول إلى واجهات برمجة التطبيقات API التي طلبتها،
                                            فيمكنك الاتصال بنا واختيار الموضوع "أواجه مشكلة تقنية".
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>
                            <div class="accordion-item js-acc-item" data-index="17" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span>
                                        {{#is language "en"}}
                                        How do I access the applications page?
                                        {{else}}
                                        كيف يمكنني الوصول إلى صفحة التطبيقات؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">

                                        <p>
                                            {{#is language "en"}}
                                            To access the applications, first, you need to register or log in, then on
                                            the post-login landing page, you can select the 'Publish' option and then
                                            'Add application' from the Apps page.
                                            {{else}}
                                            للوصول إلى صفحة التطبيقات، أولاً، ينبغي أن تقوم بالتسجيل أو الدخول، ثم في
                                            صفحة ما بعد تسجيل الدخول، يمكنك تحديد خيار "نشر" ثم "إضافة تطبيق" من صفحة
                                            التطبيقات.
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>
                            <div class="accordion-item js-acc-item" data-index="18" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span>
                                        {{#is language "en"}}
                                        Why can't I unlock the authorisation padlock?
                                        {{else}}
                                        لماذا لا يمكنني فتح قفل التفويض؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">
                                        <p>
                                            {{#is language "en"}}
                                            If you encounter issues unlocking the authorisation padlock, you can contact
                                            us, and select the subject 'I'm having a technical issue'.
                                            {{else}}
                                            إذا واجهتك مشكلات في فتح قفل التفويض، فيمكنك الاتصال بنا واختيار الموضوع
                                            "أواجه مشكلة تقنية".
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>
                            <div class="accordion-item js-acc-item" data-index="19" data-state="collapsed">
                                <a href="#" class="accordion-item__title js-acc-title icon-add">
                                    <span>
                                        {{#is language "en"}}
                                        Why can't I retrieve my token?
                                        {{else}}
                                        لماذا لا يمكنني استرداد الرمز الخاص بي؟
                                        {{/is}}
                                    </span>
                                </a>
                                <div class="accordion-item__content js-acc-content" style="display: none;">
                                    <!-- start c-cms-content -->
                                    <div class="c-cms-content">

                                        <p>
                                            {{#is language "en"}}
                                            Ensure you have entered the right credentials and the scope value. If you
                                            are still facing any issue getting your token, you can contact us, and
                                            select the subject 'I'm having a technical issue'.
                                            {{else}}
                                            تأكد من إدخال بيانات دخول صحيحة وتأكد كذلك من قيمة النطاق. إذا كنت لا تزال
                                            تواجه أي مشكلة في الحصول على الرمز الخاص بك، فيمكنك الاتصال بنا واختيار
                                            الموضوع "أواجه مشكلة تقنية ".
                                            {{/is}}
                                        </p>
                                    </div>
                                    <!-- end c-cms-content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>