---
title_en: Touchpoints API
title_ar: Touchpoints API
breadcumb1Has: true
breadcumb1Text: API Catalogue
breadcumb1Link: api-catalogue.html
breadcumb1Text-ar: كتيّب واجهة برمجة التطبيقات API
breadcumb2Has: true
breadcumb2Text: TouchPoints APIs
breadcumb2Link:
breadcumb2Text-ar: واجهة برمجة التطبيقات API لمكافآت تاتش بوينتس
hasPage: false
---

{{>breadcrumb}}

    <div class="container">
        <div class="image-cta-parall img-right api">
            <div class="col">
                <div class="image-cta-parall__circle">
                    <img class="image-cta-parall__circle__art" src="{{images}}/TouchPoints.png" alt="TouchPoints">
                </div>
            </div>
            <div class="col">
                <div class="image-cta-parall__copy-wrap">
                    <div class="page-title-small color-red">API CATALOGUE</div>
                    <h2 class="image-cta-parall__title"><strong>TouchPoints </strong> APIs</h2>
                    <a href="#" class="o-btn-medium-red"> 
				        View more
                    </a>
                </div>
            </div>
        </div>
    </div>


<div class="site-content">
    <!-- start component personal-card-list -->
    <div class="o-comp c-product-feature ">
        <!-- start comp-content -->
        <div class="o-comp__content container ">
            <!-- start comp-title -->
            <div class="o-comp__title">
                <h2>
                    {{#is language "en"}}
                    Enable your business to grow by partnering with ADCB TouchPoints
                    {{else}}
                    بادر بتنمية أعمالك واجعلها أكثر فاعلية عبر شراكتك مع برنامج مكافآت نقاط تاتش بوينتس
                    {{/is}}
                </h2>
                <p class="o-comp__title_desc o-comp__title_desc c-hero-segment__title_desc">

                    {{#is language "en"}}
                    TouchPoints APIs are part of an award-winning loyalty programme that rewards our customers when they
                    spend.
                    {{else}}
                    تعدّ "واجهات برمجة التطبيقات APIs لمكافآت نقاط تاتش بوينتس" جزءاً من برنامج ولاء العملاء الحائزعلى
                    جوائز عالمية مرموقة، الذي يقدّم البنك من خلاله العديد من المكافآت لعملائنا مقابل معاملاتهم المصرفية.
                    {{/is}}
                </p>

                <p class="o-comp__title_desc o-comp__title_desc c-hero-segment__title_desc">
                    {{#is language "en"}}
                    These digital partnerships involving our strategic partners has enabled high redemption rates and
                    increase spend payments for our mutual end customers.
                    {{else}}
                    لقد حققت هذه الشراكات الرقمية بالتعاون مع شركائنا الاستراتيجيين معدلات استرداد عالية وزيادة في
                    مدفوعات الإنفاق للعملاء المُشتَرَكين.
                    {{/is}}
                </p>
            </div>
            <!-- start personal-card-list__wrap -->
            <div class="c-product-feature__list">
                <div class="c-product-feature__item">
                    <!-- start personal-card component -->
                    <div class="c-feature-card">
                        <div class="c-feature-card__promotional-value">
                            <img src="{{images}}/TP-Feature.png" alt="">

                        </div>
                        <div class="c-feature-card__details">
                            <h3 class="c-feature-card__title">
                                {{#is language "en"}}
                                Access AED 170M+ TouchPoints via ADCB customers
                                {{else}}
                                امكانية الحصول على 170 مليون درهم بالإضافة إلى نقاط تاتش بوينتس عبر عملاء بنك أبوظبي
                                التجاري
                                {{/is}}
                            </h3>

                        </div>
                    </div>
                    <!-- end personal-card component -->
                </div>
                <div class="c-product-feature__item">
                    <!-- start personal-card component -->
                    <div class="c-feature-card">
                        <div class="c-feature-card__promotional-value">
                            <img src="{{images}}/TP-Feature-2.png" alt="">
                        </div>
                        <div class="c-feature-card__details">
                            <h3 class="c-feature-card__title">
                                {{#is language "en"}}
                                Increase your visibility with free marketing support
                                {{else}}
                                انتشار أوسع لعلامتك التجارية من خلال خدمات تسويق مجانية
                                {{/is}}
                            </h3>


                        </div>
                    </div>
                    <!-- end personal-card component -->
                </div>
                <div class="c-product-feature__item">
                    <!-- start personal-card component -->
                    <div class="c-feature-card">
                        <div class="c-feature-card__promotional-value">
                            <img src="{{images}}/TP-Feature-3.png" alt="">
                        </div>
                        <div class="c-feature-card__details">
                            <h3 class="c-feature-card__title">

                                {{#is language "en"}}
                                Boost overall customer spend, engagement, and UX
                                {{else}}
                                عزز من إنفاق عملائك وولائهم وقدّم لهم تجربة مصرفية لا مثيل لها
                                {{/is}}
                            </h3>
                        </div>
                    </div>
                    <!-- end personal-card component -->
                </div>
            </div>
            <!-- end personal-card-list__wrap -->
        </div>
        <!-- end comp-content -->
    </div>

    <div id="viewmore" class="o-comp c-product-title api-page">
        <div class="o-comp__content container">
            <div class="o-comp__title">
                <h2>
                    {{#is language "en"}}
                    API Listing
                    {{else}}
                    قائمة واجهة برمجة التطبيقات API
                    {{/is}}
                </h2>
            </div>
        </div>
    </div>

    <div class="o-comp feature-accordion-group js-acc-group api-page" data-sync="true">
        <div class="o-comp__content container">
            <div class="accordion-item js-acc-item" data-index="1" data-state="expanded">
                <a href="#" class="accordion-item__title js-acc-title icon-add"><span>

                        {{#is language "en"}}
                        TouchPoints Balance Inquiry API
                        {{else}}
                        واجهة برمجة التطبيقات API للاستعلام عن رصيد مكافآت نقاط تاتش بوينتس
                        {{/is}}
                    </span></a>
                <div class="accordion-item__content js-acc-content">
                    <!-- start c-cms-content -->
                    <div class="c-cms-content">
                        <h3>
                            {{#is language "en"}}
                            Reward points at a glance
                            {{else}}
                            نبذة عن نقاط المكافآت
                            {{/is}}
                        </h3>
                        <p>
                            {{#is language "en"}}
                            Instantly display your customer’s TouchPoints balance for easy redemption.
                            {{else}}
                            استعرض رصيد نقاط تاتش بوينتس الخاصة بالعميل بشكل فوري واستبدل النقاط بخيارات المكافآت بكل
                            سهولة.
                            {{/is}}
                        </p>

                    </div>
                    <!-- end c-cms-content -->
                </div>
            </div>

            <div class="accordion-item js-acc-item" data-index="3" data-state="collapsed">
                <a href="#" class="accordion-item__title js-acc-title icon-add"><span>
                        {{#is language "en"}}
                        TouchPoints Payment Initiation API
                        {{else}}
                        واجهة برمجة التطبيقات API للدفع من خلال مكافآت نقاط تاتش بوينتس
                        {{/is}}
                    </span></a>
                <div class="accordion-item__content js-acc-content">
                    <!-- start c-cms-content -->
                    <div class="c-cms-content">
                        <h3>
                            {{#is language "en"}}
                            Need to initiate payment?
                            {{else}}
                            تريد اتخاذ إجراءات الدفع؟
                            {{/is}}
                        </h3>
                        <p>
                            {{#is language "en"}}
                            Set up fast, secure, authorised payments for your customers.
                            {{else}}
                            قم بإعداد طريقة دفع سريعة وآمنة ومصرح بها لعملائك.
                            {{/is}}

                        </p>

                    </div>
                    <!-- end c-cms-content -->
                </div>
            </div>
            <div class="accordion-item js-acc-item" data-index="4" data-state="collapsed">
                <a href="#" class="accordion-item__title js-acc-title icon-add"><span>
                        {{#is language "en"}}
                        TouchPoints Payment Authorisation API
                        {{else}}
                        واجهة برمجة التطبيقات API للتصريح بالدفع عبرمكافآت نقاط تاتش بوينتس
                        {{/is}}
                    </span></a>
                <div class="accordion-item__content js-acc-content">
                    <!-- start c-cms-content -->
                    <div class="c-cms-content">
                        <h3>
                            {{#is language "en"}}
                            Secure customer transaction with a One-Time Password (OTP)
                            {{else}}
                            بادر بتوفير معاملات مصرفية آمنة للعملاء باستخدام كلمة المرور لمرة واحدة
                            {{/is}}
                        </h3>
                        <p>
                            {{#is language "en"}}
                            Generate a One-Time Password (OTP)for payment authorisation.
                            {{else}}
                            قم بإنشاء كلمة مرور لمرة واحدة للتصريح الدفع.
                            {{/is}}
                        </p>

                    </div>
                    <!-- end c-cms-content -->
                </div>
            </div>
            <div class="accordion-item js-acc-item" data-index="5" data-state="collapsed">
                <a href="#" class="accordion-item__title js-acc-title icon-add"><span>

                        {{#is language "en"}}
                        TouchPoints Payment Reversal API
                        {{else}}
                        واجهة برمجة التطبيقات API لإرجاع المدفوعات التي تمت باستخدام مكافآت نقاط تاتش بوينتس
                        {{/is}}

                    </span></a>
                <div class="accordion-item__content js-acc-content">
                    <!-- start c-cms-content -->
                    <div class="c-cms-content">
                        <h3>
                            {{#is language "en"}}
                            Need to cancel a TouchPoints transaction?
                            {{else}}
                            هل تود القيام بإلغاء معاملة تمت باستخدام مكافآت نقاط تاتش بوينتس؟ {{/is}}
                        </h3>
                        <p>
                            {{#is language "en"}}
                            Instantly reverse a payment using our TouchPoints Payment Reversal API.
                            {{else}}
                            قم بإلغاء المدفوعات على الفور باستخدام واجهة برمجة التطبيقات API لمكافآت نقاط تاتش بوينتس
                            المخصصة لإرجاع المدفوعات.
                            {{/is}}
                        </p>

                    </div>
                    <!-- end c-cms-content -->
                </div>
            </div>



            <div class="accordion-item js-acc-item" data-index="5" data-state="collapsed">
                <a href="#" class="accordion-item__title js-acc-title icon-add"><span>
                        {{#is language "en"}}
                        TouchPoints Transaction Status Inquiry API
                        {{else}}
                        واجهة برمجة التطبيقات API للاستفسار عن حالة معاملة تمت باستخدام مكافآت نقاط تاتش بوينتس
                        {{/is}}
                    </span></a>
                <div class="accordion-item__content js-acc-content">
                    <!-- start c-cms-content -->
                    <div class="c-cms-content">
                        <h3>
                            {{#is language "en"}}
                            Was the transaction successful?
                            {{else}}
                            هل تم إجراء المعاملة بنجاح؟
                            {{/is}}
                        </h3>
                        <p>
                            {{#is language "en"}}
                            Get immediate updates on the success or failure of a TouchPoints transaction.
                            {{else}}
                            احصل على تحديثات فورية بنجاح أو فشل المعاملات التي تتم باستخدام مكافآت نقاط تاتش بوينتس.
                            {{/is}}
                        </p>
                    </div>
                    <!-- end c-cms-content -->
                </div>
            </div>
        </div>
    </div>
</div>