---
title_en: Virtual Account APIs
title_ar: Virtual Account APIs
hasPage: false
breadcumb1Has: true
breadcumb1Text: API Catalogue
breadcumb1Link: api-catalogue.html
breadcumb1Text-ar: كتيّب واجهة برمجة التطبيقات API
breadcumb2Has: true
breadcumb2Text: Virtual Account API
breadcumb2Text-ar: API اجهة برمجة التطبيقات للحسابات الافتراضية
---

{{>breadcrumb}}

<div class="hero-pdp t-brand-medium-gray">
    <div class="hero-pdp__content-wrapper container">
        <div class="hero-pdp__content">
            <div class="hero-pdp__title-wrapper">
                <h2 class="hero-pdp__title">
                    <sup class="hero-pdp__category color-red">
                        {{#is language "en"}}
                        API GROUP
                        {{else}}
                        مجموعة واجهة برمجة التطبيقات API
                        {{/is}}
                    </sup>
                    {{#is language "en"}}
                    Virtual Account APIs
                    {{else}}
                    واجهات برمجة التطبيقات APIs الخاصة بالحسابات الافتراضية
                    {{/is}}
                </h2>
            </div>
            <div class="hero-pdp__cta">
                <!-- start o-btn -->
                <a href="https://sandbox.adcb.com/pages/apimarketplace/login.html" class="o-btn-medium-red">
                    {{#is language "en"}}
                    View more
                    {{else}}
                    عرض المزيد
                    {{/is}}
                </a>
                <!-- end o-btn -->
            </div>
        </div>
        <div class="hero-section__img-wrapper">
            <img src="{{images}}/virtual-account.jpg" class="hero-section__img" alt="PERSONAL" loans="">
        </div>
    </div>
</div>


<div class="site-content">
    <!-- start component personal-card-list -->
    <div class="o-comp c-product-feature ">
        <!-- start comp-content -->
        <div class="o-comp__content container ">
            <!-- start comp-title -->
            <div class="o-comp__title">
                <h2> {{#is language "en"}}
                    Streamline your receivables reconciliation process with Virtual Accounts
                    {{else}}
                    بادر بتنظيم عملية إدارة الحسابات المَدينة باستخدام الحسابات الافتراضية
                    {{/is}}
                </h2>
                <p class="o-comp__title_desc o-comp__title_desc c-hero-segment__title_desc">
                    {{#is language "en"}}
                    Easily distinguishing account receivables is crucial to establishing more accurate operations, which
                    leads to greater business opportunities.
                    {{else}}
                    يعد تصنيف الحسابات المَدينة بطريقة سهلة أمراً بالغ الأهمية لإرساء أسس العمليات بصورة أكثر دقة، مما
                    ينجم عن زيادة الفرص المتاحة للأعمال.
                    {{/is}}
                </p>

                <p class="o-comp__title_desc o-comp__title_desc c-hero-segment__title_desc">

                    {{#is language "en"}}

                    Our APIs allow you to effortlessly keep track of who is paying by creating a virtual IBAN that you
                    can assign to your payees so that you can instantly confirm the source of each payment.
                    {{else}}
                    تتيح لك واجهات برمجة التطبيقات API الخاصة بنا إمكانية تتبع من يقوم بعملية الدفع بسهولة عن طريق إنشاء
                    رقم IBAN افتراضي يمكنك تخصيصه إلى كلٍ ممن يدفعون لك حتى تتمكن على الفور من تأكيد مصدر كل عميلة دفع.
                    {{/is}}
                </p>
            </div>
            <!-- start personal-card-list__wrap -->
            <div class="c-product-feature__list">
                <div class="c-product-feature__item">
                    <!-- start personal-card component -->
                    <div class="c-feature-card">
                        <div class="c-feature-card__promotional-value">
                            <img src="{{images}}/VA-Feature-1.png" alt="">

                        </div>
                        <div class="c-feature-card__details">
                            <h3 class="c-feature-card__title"> {{#is language "en"}}
                                Open or close a Virtual Account instantly
                                {{else}}
                                قم بفتح حساب افتراضي أو إغلاقه على الفور وبكل سهولة.
                                {{/is}}</h3>

                        </div>
                    </div>
                    <!-- end personal-card component -->
                </div>
                <div class="c-product-feature__item">
                    <!-- start personal-card component -->
                    <div class="c-feature-card">
                        <div class="c-feature-card__promotional-value">
                            <img src="{{images}}/VA-Feature-2.png" alt="">
                        </div>
                        <div class="c-feature-card__details">
                            <h3 class="c-feature-card__title">
                                {{#is language "en"}}
                                Open or close as many Virtual Accounts as you need, as often as you need to
                                {{else}}
                                قم بفتح أكبر عدد من الحسابات الافتراضية التي تحتاجها وقم بإغلاقهم بأي وقت تريده. {{/is}}
                            </h3>


                        </div>
                    </div>
                    <!-- end personal-card component -->
                </div>
                <div class="c-product-feature__item">
                    <!-- start personal-card component -->
                    <div class="c-feature-card">
                        <div class="c-feature-card__promotional-value">
                            <img src="{{images}}/VA-Feature-3.png" alt="">
                        </div>
                        <div class="c-feature-card__details">
                            <h3 class="c-feature-card__title">
                                {{#is language "en"}}
                                An efficient and cost-effective way to manage your accounts
                                {{else}}
                                طريقة تتسم بالكفاءة والفعالية من حيث التكلفة لإدارة حساباتك بالشكل الأمثل.
                                {{/is}}
                            </h3>
                        </div>
                    </div>
                    <!-- end personal-card component -->
                </div>
            </div>
            <!-- end personal-card-list__wrap -->
        </div>
        <!-- end comp-content -->
    </div>

    <div id="viewmore" class="o-comp c-product-title api-page">
        <div class="o-comp__content container">
            <div class="o-comp__title">
                <h2> {{#is language "en"}}
                    API Listing
                    {{else}}
                    قائمة واجهة برمجة التطبيقات API
                    {{/is}}</h2>
            </div>
        </div>
    </div>

    <div class="o-comp feature-accordion-group js-acc-group api-page" data-sync="true">
        <div class="o-comp__content container">
            <div class="accordion-item js-acc-item" data-index="1" data-state="expanded">
                <a href="#" class="accordion-item__title js-acc-title icon-add"><span> {{#is language "en"}}
                        Open Virtual Account API
                        {{else}}
                        افتح واجهة برمجة التطبيقات API للحساب الافتراضي
                        {{/is}}</span></a>
                <div class="accordion-item__content js-acc-content">
                    <!-- start c-cms-content -->
                    <div class="c-cms-content">
                        <h3> {{#is language "en"}}
                            We are Open for business
                            {{else}}
                            نرحب بك للعمل معنا...
                            {{/is}}
                        </h3>
                        <p> {{#is language "en"}}
                            Use our Open Virtual Account API and start identifying your receivables immediately.
                            {{else}}
                            استفد من واجهة برمجة التطبيقات API للحساب الافتراضي من بنك أبوظبي التجاري وباشر تحديد
                            الحسابات المَدينة الخاصة بك بشكل فوري.
                            {{/is}}
                        </p>
                    </div>
                    <!-- end c-cms-content -->
                </div>
            </div>

            <div class="accordion-item js-acc-item" data-index="3" data-state="collapsed">
                <a href="#" class="accordion-item__title js-acc-title icon-add"><span> {{#is language "en"}}
                        Close Virtual Account API
                        {{else}}
                        إغلاق واجهة برمجة التطبيقات API للحساب الافتراضي
                        {{/is}}</span></a>
                <div class="accordion-item__content js-acc-content">
                    <!-- start c-cms-content -->
                    <div class="c-cms-content">
                        <h3> {{#is language "en"}}
                            Need to close an account?
                            {{else}}
                            هل ترغب بإغلاق حساب؟
                            {{/is}}</h3>
                        <p>
                            {{#is language "en"}}
                            Seamlessly close your Virtual Account using our API.
                            {{else}}
                            أغلق حسابك الافتراضي بكل سهولة باستخدام واجهة برمجة التطبيقات API من بنك أبوظبي التجاري.
                            {{/is}}
                        </p>
                    </div>
                    <!-- end c-cms-content -->
                </div>
            </div>

        </div>
    </div>

</div>